/*
    adamcontent.css
*/

body
{
    background-color:#F6F5F5;
    font-family: "Avenir Next", Arial, Helvetica, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
}

.titleSection
{
    color: #423B3C;
    font-size: 18pt;
    font-weight: 600;
}

.contentTitle
{
    color: #5A4D38;
    font-size: 14pt;
    font-weight: bold;
}

.contentSubTitle
{
    color: #8D8687;
    font-size: 13pt;
    font-weight: bold;
}

.content
{
    color: #000000;
    font-size: 13pt;
    font-weight: normal;
}

.textContentLink
{
    color: #722A7C;
}
