# Node modules used should be installed using NPM per developer.
node_modules

# OSX temporary files that should never be committed.
.DS_Store
*.swp
*.lock
profile

# Any IDE specific project files shouldn't be added to git.
.idea

# No log files of any sort should be added.
*.log

# Exclude files associated with new fhc local.
.fhc_local
