/*
 * This is the main 'hub' for all of our LESS styles. Styles are imported here
 * in the correct order, and the file may be overridden per target device.
 */
/*
 * Mixins for CSS3 properties and various reusable styles for the app.
 * TODO: Move CSS3 mixins into their own file.
 */
/*
 * This is the general styling for the app, which covers setting up the box
 * model to be used, along with any format resets and basic styling.
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#content {
  height: 100%;
  overflow: hidden;
}
body {
  font: normal 16px "Avenir Next", Helvetica, Arial, sans-serif;
  color: #fff;
  background-image: url('../img/backgrounds/BackgroundTileGray.png');
  background-position: left top;
  background-repeat: repeat;
}
textarea,
input {
  outline: none;
}
#notifications {
  position: absolute;
  top: 0;
  right: 15px;
  width: 25%;
}
.notification {
  position: relative;
  width: 100%;
  margin-top: 15px;
  display: block;
  border: 3px solid #fff000;
  color: #fff;
  z-index: 2000000000;
  padding: 15px;
  background: #000000;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: bold 13px "Avenir Next Bold", Helvetica, Arial, sans-serif;
  -webkit-transition: all .1s linear;
  opacity: 1;
}
.notification.hidden {
  opacity: 0;
}
/*
 * This file covers the login and loading screens, which both constitute the
 * full login experience. They also share majority styling, compared to the rest
 * of the app.
 */
#login-display,
#loading-display {
  -webkit-transform: translate3d(0, 0, 0);
}
#login {
  height: 100%;
  min-height: 100%;
}
.corner-logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 99px;
  height: 24px;
  background-image: url('../img/login/PeachyLogoWhite.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 99px 24px;
}
#login-box {
  width: 340px;
  margin: 0 auto;
  position: relative;
  display: table;
  height: 100%;
}
#login-box.loading {
  width: 440px;
}
#login-box-center {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}
.copyright-bottom {
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
  text-shadow: 0 -2px 1px #000000;
  font: normal 12px "Avenir Next Medium", Helvetica, Arial, sans-serif;
}
/* Login Section -------------------------------------------------------------*/
#login-display {
  -webkit-transition: opacity .2s linear;
  opacity: 1;
}
#login-display.hidden {
  opacity: 0;
}
.login-logo {
  display: block;
  margin: 0 auto;
  width: 229px;
  height: 54px;
  background-image: url('../img/login/PeachyLogoHero.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 229px 54px;
}
#login-caption {
  text-align: center;
  margin-top: 5px;
  font: normal 14px "Avenir Next Medium", Helvetica, Arial, sans-serif;
}
#login-form {
  margin: 30px 0;
  background-color: rgba(26, 26, 26, 0.25);
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  /* Clears floats */

  -webkit-border-radius: 12px;
  border-radius: 12px;
}
#login-form h2 {
  margin-bottom: 30px;
  text-align: center;
  font: bold 18px "Avenir Next Demi Bold", Helvetica, Arial, sans-serif;
}
#login-form input {
  width: 100%;
  display: block;
  margin: 10px 0;
  height: 46px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
  background-color: #e6e6e6;
  padding: 0 10px;
  color: #2b6991;
  font: normal 13px "Avenir Next", Helvetica, Arial, sans-serif;
}
#login-form input::-webkit-input-placeholder {
  color: #2b6991;
  font: normal 13px "Avenir Next", Helvetica, Arial, sans-serif;
}
#login-form button {
  border-radius: 5px;
  border: 1px solid #d38800;
  background-color: orange;
  height: 30px;
  margin-top: 30px;
  color: white;
  float: right;
  padding: 0 10px;
  line-height: 28px;
  background-image: linear-gradient(bottom, #f26622 0%, #feb000 85%);
  background-image: -webkit-linear-gradient(bottom, #f26622 0%, #feb000 85%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f26622), color-stop(0.85, #feb000));
  font: bold 14px "Avenir Next Bold", Helvetica, Arial, sans-serif;
}
#login-form button:active {
  background-image: linear-gradient(bottom, #feb000 0%, #f26622 85%);
  background-image: -webkit-linear-gradient(bottom, #feb000 0%, #f26622 85%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #feb000), color-stop(0.85, #f26622));
}
#login-form button img {
  margin-right: 5px;
  vertical-align: text-bottom;
}
#login-help-button {
  border: none;
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
  color: #fff;
  text-shadow: 0 -2px 1px #000000;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font: bold 14px "Avenir Next Demi Bold", Helvetica, Arial, sans-serif;
}
/* Loading Section -----------------------------------------------------------*/
#loading-display {
  background: rgba(26, 26, 26, 0.25) url(../img/loading-watermark2.png) right bottom no-repeat;
  padding: 60px 60px 110px 60px;
  text-align: center;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: opacity .6s linear;
  opacity: 1;
}
#loading-display.hidden {
  opacity: 0;
}
#login-loading-message {
  margin: 35px 0 30px 0;
  color: #ffcc66;
  font: normal 18px "Avenir Next Medium", Helvetica, Arial, sans-serif;
}
#loading-snippet p {
  line-height: 1.5;
  margin-top: 2em;
  font: bold 18px "Avenir Next Bold", Helvetica, Arial, sans-serif;
}
#loading-snippet p:nth-of-type(2n) {
  font: normal 18px "Avenir Next", Helvetica, Arial, sans-serif;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#login,
#loading {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation-duration: .4s;
  -webkit-animation-name: fadeIn;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .corner-logo {
    background-image: url('../img/login/PeachyLogoWhite@2x.png');
  }
  .login-logo {
    background-image: url('../img/login/PeachyLogoHero@2x.png');
  }
}
/*
 * This file covers the main viewport of the app; this is the 'base' layer of
 * the main hub of the app, which in turn contains various sections such as
 * alerts, news etc. All persistent elements should be styled here (navigation,
 * top-bar etc).
 */
#main {
  height: 100%;
}
#top-bar {
  height: 55px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0;
  padding: 0 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 10;
  -webkit-transition: all .2s linear;
  -webkit-transform: translate3d(0, 0, 0);
}
#top-bar #logo {
  float: left;
  margin-top: 15px;
}
#top-bar #avatar {
  float: right;
  margin-top: 7px;
}
#top-bar-buttons {
  list-style-type: none;
  height: 100%;
  padding: 11px 0;
  float: right;
}
#top-bar-buttons li {
  display: inline-block;
  margin-right: 7px;
}
#top-bar-buttons li button {
  background-color: blue;
  height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.15);
  color: #fff;
  font: bold 13px "Avenir Next Bold", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(bottom, #464646 0%, #1f1f1f 50%, #2e2e2e 51%, #525252 73%, #6b6b6b 100%);
  background-image: -webkit-linear-gradient(bottom, #464646 0%, #1f1f1f 50%, #2e2e2e 51%, #525252 73%, #6b6b6b 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #464646), color-stop(0.5, #1f1f1f), color-stop(0.51, #2e2e2e), color-stop(0.73, #525252), color-stop(1, #6b6b6b));
}
#top-bar-buttons li button img {
  display: block;
}
#top-bar-buttons li button:active {
  background-image: linear-gradient(bottom, #cdcdcd 0%, #000000 85%);
  background-image: -webkit-linear-gradient(bottom, #cdcdcd 0%, #000000 85%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cdcdcd), color-stop(0.85, #000000));
}
#top-bar-buttons li button:active:active {
  background-image: linear-gradient(bottom, #000000 0%, #cdcdcd 85%);
  background-image: -webkit-linear-gradient(bottom, #000000 0%, #cdcdcd 85%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(0.85, #cdcdcd));
}
#top-bar-buttons li #points-button {
  font: bold 13px "Avenir Next Bold", Helvetica, Arial, sans-serif;
  background-image: url('../img/PointsButtonWatermark.png'), linear-gradient(bottom, #464646 0%, #1f1f1f 50%, #2e2e2e 51%, #525252 73%, #6b6b6b 100%);
  background-image: url('../img/PointsButtonWatermark.png'), -webkit-linear-gradient(bottom, #464646 0%, #1f1f1f 50%, #2e2e2e 51%, #525252 73%, #6b6b6b 100%);
  background-image: url('../img/PointsButtonWatermark.png'), -webkit-gradient(linear, left bottom, left top, color-stop(0, #464646), color-stop(0.5, #1f1f1f), color-stop(0.51, #2e2e2e), color-stop(0.73, #525252), color-stop(1, #6b6b6b));
  background-position: left bottom;
  background-repeat: no-repeat;
  background-opacity: 0.2;
  color: #fff;
}
#top-bar-buttons li #points-button em {
  font-size: 14px;
  color: #ff9d02;
  font-style: normal;
}
#top-bar-buttons li #points-button:active {
  background-image: linear-gradient(bottom, #cdcdcd 0%, #000000 85%);
  background-image: -webkit-linear-gradient(bottom, #cdcdcd 0%, #000000 85%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cdcdcd), color-stop(0.85, #000000));
}
#top-bar-buttons li #points-button:active:active {
  background-image: linear-gradient(bottom, #000000 0%, #cdcdcd 85%);
  background-image: -webkit-linear-gradient(bottom, #000000 0%, #cdcdcd 85%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(0.85, #cdcdcd));
}
#main-container {
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 15px;
  right: 15px;
  opacity: 1;
  -webkit-transition: all .2s linear;
  -webkit-transform: translate3d(0, 0, 0);
}
#side-nav {
  list-style-type: none;
  width: 110px;
  overflow: visible;
  float: left;
  margin-top: 10px;
}
#side-nav li {
  width: 120px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  padding: 15px 15px 15px 5px;
  display: block;
  margin: 0 auto;
  font: bold 13px "Avenir Next Demi Bold", Helvetica, Arial, sans-serif;
}
#side-nav li.selected {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  color: #2f3137;
}
#side-nav li.selected h2 {
  font: bold 13px "Avenir Next Bold", Helvetica, Arial, sans-serif;
}
#side-nav h2 {
  margin: 0;
  display: block;
  font-weight: bold;
  font-size: 10pt;
  margin-top: 5px;
}
#main-content {
  height: 100%;
  border-radius: 10px;
}
#main-content > div {
  color: #000;
  padding-top: 10px;
  padding-bottom: 25px;
  position: relative;
  min-height: 100%;
}
#main-content > div > div {
  background-color: #fff;
  box-shadow: 0 7px 0 -4px #cccccc, 0 12px 0 -7px #8b8b8b;
  min-height: 300px;
  padding: 10px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
#content-tab-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background: url('../img/bg.png') left top repeat;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 15px;
}
#content-tab-list li {
  display: inline-block;
  width: 30%;
  margin: 0 1%;
  padding: 10px 5px;
  color: #2f3137;
  text-shadow: 0 1px 1px #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  background-image: linear-gradient(bottom, #cccccc 0%, #ffffff 85%);
  background-image: -webkit-linear-gradient(bottom, #cccccc 0%, #ffffff 85%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(0.85, #ffffff));
  font: bold 14px "Avenir Next Bold", Helvetica, Arial, sans-serif;
}
#content-tab-list li:active {
  background-image: linear-gradient(bottom, #ffffff 0%, #cccccc 85%);
  background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #cccccc 85%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(0.85, #cccccc));
}
#content-tab-list li.selected {
  background-color: #fff;
  background-image: none;
}
.badge {
  font: bold 13px "Avenir Next Demi Bold", Helvetica, Arial, sans-serif;
  background-color: orange;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 0 6px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.33);
}
#home-content {
  min-height: 100px;
}
#adverts {
  background-color: #e6e6e6;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  padding: 20px;
}
#adverts img {
  float: right;
  margin-left: 20px;
}
#adverts h3 {
  font: bold 15px "Avenir Next Demi Bold", Helvetica, Arial, sans-serif;
  color: #2b6891;
  text-shadow: 0 1px 1px #fff;
  line-height: 1.5;
}
#adverts h3 em {
  color: #808080;
  font-style: normal;
}
#adverts span,
#adverts p {
  font: normal 12px "Avenir Next", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 1px #fff;
  color: #343434;
  line-height: 2;
}
#adverts span {
  color: #2b6891;
  display: block;
  margin: 10px 0;
}
.overlaid #top-bar {
  border-bottom-color: transparent;
  background-color: transparent;
  box-shadow: none;
}
.overlaid #main-container {
  opacity: 0;
}
li {
  list-style-type: none;
  display: inline-block;
}
#main-tabs {
  background-image: linear-gradient(bottom, #000000 0%, #3e3535 85%);
  background-image: -webkit-linear-gradient(bottom, #000000 0%, #3e3535 85%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(0.85, #3e3535));
  border-radius: 10px 10px 0 0;
  border: 1px solid #fff;
  padding: 5px;
  margin-top: 10px;
}
#main-tabs:active {
  background-image: linear-gradient(bottom, #3e3535 0%, #000000 85%);
  background-image: -webkit-linear-gradient(bottom, #3e3535 0%, #000000 85%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3e3535), color-stop(0.85, #000000));
}
#main-tabs li {
  width: 24%;
  font: bold 15px "Avenir Next Bold", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 10px;
}
#main-tabs li.selected {
  border-radius: 5px;
  border: 1px solid #FFFF00;
  box-shadow: 0 0 10px #FFFF00;
}
#general-body {
  background-color: #fff;
  background-image: url('../img/backgrounds/SettingsBackground.png');
  border-radius: 0 0 10px 10px;
  color: #000;
  padding: 6%;
}
#general-body #loginInfo {
  display: inline-block;
  width: 30%;
}
#general-body h2 {
  font: bold 17px "Avenir Next Bold", Helvetica, Arial, sans-serif;
}
#general-body li {
  margin: 5px;
  padding: 8px;
  padding-right: 0px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  font: normal 11px "Avenir Next Medium", Helvetica, Arial, sans-serif;
}
#general-body li label {
  color: #2B60DE;
  padding-right: 10px;
}
#general-body li input,
#general-body li select,
#general-body li textarea {
  background-color: #fff;
  outline: none;
  border: none;
  width: 60%;
  font: bold 13px "Avenir Next Demi Bold", Helvetica, Arial, sans-serif;
}
#general-body li textarea,
#general-body li img {
  height: 60px;
}
#general-body li img {
  width: 90%;
  margin-right: 5px;
}
#general-body li.w10 {
  width: 10%;
}
#general-body li.w15 {
  width: 15%;
}
#general-body li.w20 {
  width: 20%;
}
#general-body li.w22 {
  width: 22%;
}
#general-body li.w25 {
  width: 25%;
}
#general-body li.w30 {
  width: 30%;
}
#general-body li.w35 {
  width: 35%;
}
#general-body li.w42 {
  width: 42%;
}
#general-body li.w46 {
  width: 46%;
}
#general-body li.w47 {
  width: 47%;
}
#general-body li.w100 {
  width: 100%;
}
#general-body .age {
  font: bold 13px "Avenir Next Demi Bold", Helvetica, Arial, sans-serif;
  color: #cdcdcd;
}
#general-body form {
  margin-bottom: 20px;
}
#general-body #physicianBox,
#general-body #linkedBox {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  height: 150px;
  font: normal 13px "Avenir Next Medium", Helvetica, Arial, sans-serif;
}
#general-body #physicianBox #physician,
#general-body #linkedBox #physician,
#general-body #physicianBox #account,
#general-body #linkedBox #account {
  padding: 10px;
  border-bottom: 1px solid #c0c0c0;
}
#general-body #physicianBox #physician div,
#general-body #linkedBox #physician div,
#general-body #physicianBox #account div,
#general-body #linkedBox #account div {
  text-align: center;
  width: 20%;
  display: inline-block;
}
#general-body #physicianBox #physician div#email,
#general-body #linkedBox #physician div#email,
#general-body #physicianBox #account div#email,
#general-body #linkedBox #account div#email {
  width: 30%;
}
#general-body #physicianBox #physician:after,
#general-body #linkedBox #physician:after,
#general-body #physicianBox #account:after,
#general-body #linkedBox #account:after {
  height: 20px;
  width: 15px;
  content: ' ';
  background-image: url('../img/icons/GreyArrow.png');
  background-size: 100%;
  float: right;
}
#news-and-information {
  padding: 15px;
}
#news-and-information h1 {
  color: #2b6891;
  margin: 30px 0 20px 0;
  font: bold 20px "Avenir Next Demi Bold", Helvetica, Arial, sans-serif;
}
#news-and-information #headlines {
  list-style-type: none;
  overflow: hidden;
}
#news-and-information #headlines li {
  min-height: 175px;
}
#news-and-information #headlines li .video-preview {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
  height: 175px;
}
#news-and-information #headlines li .video-preview img {
  display: block;
}
#news-and-information #headlines li .video-preview .title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url('../img/VideoPlay.png');
  background-position: 97% center;
  background-repeat: no-repeat;
  padding: 10px;
  font: bold 12px "Avenir Next Bold", Helvetica, Arial, sans-serif;
}
#news-and-information #headlines li .video-preview .title .duration {
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.5);
  font: bold 11px "Avenir Next Demi Bold", Helvetica, Arial, sans-serif;
}
#news-and-information #headlines li .description {
  margin-bottom: 40px;
  min-width: 120px;
  overflow: hidden;
}
#news-and-information #headlines li .description h2 {
  color: #1a1a1a;
  font: bold 13px "Avenir Next Demi Bold", Helvetica, Arial, sans-serif;
}
#news-and-information #headlines li .description p {
  color: #343434;
  margin-top: 1em;
  font: normal 12px "Avenir Next", Helvetica, Arial, sans-serif;
  line-height: 2;
}
#news-and-information #headlines li .description .more {
  font: bold 12px "Avenir Next Bold", Helvetica, Arial, sans-serif;
  color: #2b6891;
  text-decoration: none;
}
#news-and-information #load-more-news {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #cdcdcd;
  font: bold 16px "Avenir Next Bold", Helvetica, Arial, sans-serif;
  color: #b3b3b3;
  background-color: transparent;
  width: 100%;
  padding: 10px;
}
#goals,
#alerts {
  padding: 15px;
}
#goals h1,
#alerts h1 {
  color: #2b6891;
  margin: 30px 0 20px 0;
  font: bold 20px "Avenir Next Demi Bold", Helvetica, Arial, sans-serif;
}
#goals #add-goal,
#alerts #add-goal,
#goals #add-alert,
#alerts #add-alert {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #cdcdcd;
  font: bold 16px "Avenir Next Bold", Helvetica, Arial, sans-serif;
  color: #b3b3b3;
  background-color: transparent;
  width: 100%;
  padding: 10px;
}
