<div id="level1Food">
			<div id="hScroller">
				<li class="foodItem lv1" data-id="meatFish"><img src="img/food/level1icons/bu-meat-fish-icon.png"/>Meat & Fish</li>
				<li class="foodItem lv1" data-id="veggies"><img src="img/food/level1icons/bu-veggies-icon.png"/>Veggies</li>
				<li class="foodItem lv1" data-id="dairy"><img src="img/food/level1icons/bu-dairy-icon.png"/>Dairy</li>
				<li class="foodItem lv1" data-id="fruitNuts"><img src="img/food/level1icons/bu-fruit-nuts-icon.png"/>Fruit & Nuts</li>
				<li class="foodItem lv1" data-id="grains"><img src="img/food/level1icons/bu-grains-icon.png"/>Grains</li>
				<li class="foodItem lv1" data-id="packaged"><img src="img/food/level1icons/bu-packaged-icon.png"/>Packaged</li>
				<li class="foodItem lv1" data-id="restaurant"><img src="img/food/level1icons/bu-restaurant-icon.png"/>Restaurant</li>
				<li class="foodItem lv1" data-id="beverages"><img src="img/food/level1icons/bu-beverages-icon.png"/>Beverages</li>
				<li class="foodItem lv1" data-id="desertsSweets"><img src="img/food/level1icons/bu-packaged-icon.png"/>Deserts & Sweets</li>
				<li class="foodItem lv1" data-id="snacks"><img src="img/food/level1icons/bu-snacks-icon.png"/>Snacks</li>
			</div>
		</div>

		<div id="level2Food"> 
			<div class="foods2 meatFish">
				<li class="foodItem lv2" data-name="Meats"><img src="img/food/level2icons/meat.png"/>Meats</li>
				<li class="foodItem lv2" data-name="Poultry"><img src="img/food/level2icons/poultry.png"/>Poultry</li>
				<li class="foodItem lv2" data-name="Eggs"><img src="img/food/level2icons/eggs.png"/>Eggs</li>
				<li class="foodItem lv2" data-name="Seafoods"><img src="img/food/level2icons/sea-food.png"/>Seafood</li>				
			</div>

			<div class="foods2 veggies">
				<li class="foodItem lv2" data-name="FreshorDriedVegetables"><img src="img/food/level2icons/veggies-fresh-dried.png"/>Fresh Veg</li>
				<li class="foodItem lv2" data-name="FrozenVegetables"><img src="img/food/level2icons/veggies-frozen.png"/>Frozen Veg</li>
				<li class="foodItem lv2" data-name="CannedVegetables"><img src="img/food/level2icons/veggies-canned.png"/>Canned Veg</li>
				<li class="foodItem lv2" data-name="PackagedVegetables"><img src="img/food/level2icons/veggies-packaged.png"/>Packaged Veg</li>
			</div>

			<div class="foods2 dairy">
				<li class="foodItem lv2" data-name="Milk"><img src="img/food/level2icons/milk.png"/>Milk</li>
				<li class="foodItem lv2" data-name="Cheese"><img src="img/food/level2icons/cheese.png"/>Cheese</li>
				<li class="foodItem lv2" data-name="Yogurt"><img src="img/food/level2icons/yogurt.png"/>Yogurt</li>
				<li class="foodItem lv2" data-name="Cream"><img src="img/food/level2icons/cream.png"/>Cream</li>
				<li class="foodItem lv2" data-name="IceCream"><img src="img/food/level2icons/ice-cream.png"/>Ice-Cream</li>
			</div>

			<div class="foods2 fruitNuts">
				<li class="foodItem lv2" data-name="Fruits"><img src="img/food/level2icons/fruits.png"/>Fruit</li>
				<li class="foodItem lv2" data-name="Nuts"><img src="img/food/level2icons/nuts.png"/>Nuts</li>
				<li class="foodItem lv2" data-name="Seeds"><img src="img/food/level2icons/seeds.png"/>Seeds</li>
				<li class="foodItem lv2" data-name="Legumes"><img src="img/food/level2icons/legumes.png"/>Legumes</li>
			</div>

			<div class="foods2 grains">
				<li class="foodItem lv2" data-name="Breads"><img src="img/food/level2icons/bread.png"/>Breads</li>
				<li class="foodItem lv2" data-name="BreakfastCereals"><img src="img/food/level2icons/cereals.png"/>Cereals</li>
				<li class="foodItem lv2" data-name="Pasta"><img src="img/food/level2icons/pasta.png"/>Pasta</li>
				<li class="foodItem lv2" data-name="Bars"><img src="img/food/level2icons/bars.png"/>Bars</li>
				<li class="foodItem lv2" data-name="Rice"><img src="img/food/level2icons/rice.png"/>Rice</li>
				<li class="foodItem lv2" data-name="Grains&Flour"><img src="img/food/level2icons/grains-flour.png"/>Grains & Flour</li>
			</div>

			<div class="foods2 packaged">
				<li class="foodItem lv2" data-name="Meals"><img src="img/food/level2icons/packaged-meals.png"/>Meals</li>
				<li class="foodItem lv2" data-name="Soups"><img src="img/food/level2icons/packaged-soups.png"/>Soups</li>
				<li class="foodItem lv2" data-name="SoyAndTofu"><img src="img/food/level2icons/soy-tofu.png"/>Soy & Tofu</li>
				<li class="foodItem lv2" data-name="Vegetarian"><img src="img/food/level2icons/packaged-vegetarian.png"/>Vegetarian</li>
			</div>

			<div class="foods2 restaurant">
				<li class="foodItem lv2" data-name="Deli"><img src="img/food/level2icons/deli.png"/>Deli</li>
				<li class="foodItem lv2" data-name="FastFood"><img src="img/food/level2icons/fast-food.png"/>Fast-Foods</li>
				<li class="foodItem lv2" data-name="InternationalFoods"><img src="img/food/level2icons/international.png"/>Foreign Foods</li>
				<li class="foodItem lv2" data-name="FairFoods"><img src="img/food/level2icons/fair-foods.png"/>Fair Foods</li>
			</div>

			<div class="foods2 beverages">
				<li class="foodItem lv2" data-name="Juices"><img src="img/food/level2icons/juices.png"/>Juices</li>
				<li class="foodItem lv2" data-name="Sports"><img src="img/food/level2icons/sports.png"/>Sports</li>
				<li class="foodItem lv2" data-name="Soda"><img src="img/food/level2icons/soda.png"/>Soda</li>
				<li class="foodItem lv2" data-name="Tea"><img src="img/food/level2icons/tea.png"/>Tea</li>
				<li class="foodItem lv2" data-name="Mixes"><img src="img/food/level2icons/mixes.png"/>Mixes</li>
				<li class="foodItem lv2" data-name="AlcoholicDrinks"><img src="img/food/level2icons/alcohol.png"/>Alcoholic</li>
				<li class="foodItem lv2" data-name="NonDairy"><img src="img/food/level2icons/non-dairy.png"/>Non Dairy</li>
			</div>

			<div class="foods2 desertsSweets">
				<li class="foodItem lv2" data-name="Deserts"><img src="img/food/level2icons/deserts.png"/>Deserts</li>
				<li class="foodItem lv2" data-name="Pastries"><img src="img/food/level2icons/pastries.png"/>Pastries</li>
				<li class="foodItem lv2" data-name="Candy"><img src="img/food/level2icons/candy.png"/>Candy</li>
				<li class="foodItem lv2" data-name="PiesAndTarts"><img src="img/food/level2icons/pies-tarts.png">Pies & Tarts</li>
				<li class="foodItem lv2" data-name="Baking"><img src="img/food/level2icons/baking.png"/>Baked</li>
				<li class="foodItem lv2" data-name="PancakesAndWaffles"><img src="img/food/level2icons/pancakes-waffles.png"/>Pancakes/Waffles</li>
			</div>

			<div class="foods2 snacks">
				<li class="foodItem lv2" data-name="Chips"><img src="img/food/level2icons/chips.png"/>Chips</li>
				<li class="foodItem lv2" data-name="Popcorn"><img src="img/food/level2icons/popcorn.png"/>Popcorn</li>
				<li class="foodItem lv2" data-name="Pretzels"><img src="img/food/level2icons/pretzels.png"/>Pretzels</li>
				<li class="foodItem lv2" data-name="OtherSnacks"><img src="img/food/level2icons/other-snacks.png"/>Other Snacks</li>
			</div>

		</div>
		<div id="pageScroll">
			<div id="scroller">
				<div id="foodList" class="box">
					<!-- Food Items will be injected here -->
				</div>
				<li id="backToTop" class="btn action">Back to Top</li>
			</div>
		</div>