<div id="searchBar">
	<select id="filter">
		<option>Step 1:  Select Category</option>
		<option value="all">All</option>
		<option value="Meats">Meats</option>
		<option value="Poultry">Poultry</option>
		<option value="Eggs">Eggs</option>
		<option value="Seafoods">Seafoods</option>

		<option value="FreshorDriedVegetables">Fresh or Dried Veg</option>
		<option value="FrozenVegetables">Frozen Veg</option>
		<option value="CannedVegetables">Canned Veg</option>
		<option value="PackagedVegetables">Packaged Veg</option>

		<option value="Milk">Milk</option>
		<option value="Cheese">Cheese</option>
		<option value="Yogurt">Yogurt</option>
		<option value="Cream">Cream</option>
		<option value="IceCream">Ice-Cream</option>

		<option value="Fruits">Fruits</option>
		<option value="Nuts">Nuts</option>
		<option value="Seeds">Seeds</option>
		<option value="Legumes">Legumes</option>

		<option value="Breads">Breads</option>
		<option value="BreakfastCereals">Cereals</option>
		<option value="Pasta">Pasta</option>
		<option value="Bars">Bars</option>
		<option value="Rice">Rice</option>
		<option value="Grains&Flour">Grains & Flour</option>

		<option value="Meals">Meals</option>
		<option value="Soups">Soups</option>
		<option value="SoyAndTofu">Soy & Tofu</option>
		<option value="Vegetarian">Vegetarian</option>

		<option value="Deli">Deli</option>
		<option value="FastFood">Fast Food</option>
		<option value="InternationalFoods">International Foods</option>
		<option value="FairFoods">Fair Foods</option>

		<option value="Juices">Juices</option>
		<option value="Sports">Sports Drinks</option>
		<option value="Soda">Soda</option>
		<option value="Tea">Tea</option>
		<option value="Coffee">Coffee</option>
		<option value="Mixes">Drink Mixes</option>
		<option value="AlcoholicDrinks">Alcoholic Drinks</option>

		<option value="Deserts">Deserts</option>
		<option value="Pastries">Pastries</option>
		<option value="Candy">Candy</option>
		<option value="PiesAndTarts">Pies & Tarts</option>
		<option value="Baking">Baked Deserts</option>
		<option value="PancakesAndWaffles">Pancakes & Waffles</option>

		<option value="Chips">Chips</option>
		<option value="Popcorn">Popcorn</option>
		<option value="Pretzels">Pretzels</option>
		<option value="OtherSnacks">Other Snacks</option>
	</select>

	<div id="searchInput">
		<img id="searchImg" src="img/library/SearchSpyglass.png"/>
		<form id="searchForm">
			<input type="text" id="searchTerm" placeholder="Step 2:  Refine Search"/>
		</form>
		<img id="xImg" src="img/widgets/widgetpngfiles/bu-x-out.png"/>
	</div>

</div>

<div id="scrollContainer">
	<div id="scroller">
		<div id="foodList" class="box">
			<!-- Food Items will be injected here -->
		</div>
		<li id="backToTop" class="btn action">Back to Top</li>
	</div>
</div>