<div id="searchBar">
	<div id="searchInput">
		<img id="searchImg" src="img/Search.png"/>
		<form id="searchForm">
			<input type="text" id="searchTerm"/>
		</form>
		<img id="xImg" src="img/widgets/widgetpngfiles/bu-x-out.png"/>
	</div>

	<select id="filter">
		<option value="all">All</option>
		<option value="meat">Meat</option>
		<option value="veggies">Veggies</option>
		<option value="dairy">Dairy</option>
		<option value="fruitAndNuts">Fruit & Nuts</option>
		<option value="grains">Grains</option>
		<option value="packaged">Packaged</option>
		<option value="restaurant">Restaurant</option>
		<option value="beverages">Beverages</option>
		<option value="desertsAndSweets">Deserts & Sweets</option>
		<option value="snacks">Snacks</option>
	</select>

</div>

<div id="scrollContainer">
	<div id="scroller">
		<div id="foodList" class="box">
			<!-- Food Items will be injected here -->
		</div>
		<li id="backToTop" class="btn action">Back to Top</li>
	</div>
</div>


