<div id="level1Activity">
            <div id="hScroller">
                <li class="activityItem lv1" data-id="cardio">
                    <img src="img/busybody/cat/lv1/cardio-white.png"/>Cardio</li>
                <li class="activityItem lv1" data-id="sports">
                    <img src="img/busybody/cat/lv1/sports-white.png"/>Sports</li>
                <li class="activityItem lv1" data-id="danceArt">
                    <img src="img/busybody/cat/lv1/dance-art-white.png"/>Dance & Art</li>
                <li class="activityItem lv1" data-id="outdoor">
                    <img src="img/busybody/cat/lv1/outdoor-adventure-white.png"/>Outdoor Adventure</li>
                <li class="activityItem lv1" data-id="work">
                    <img src="img/busybody/cat/lv1/work-white.png"/>Work</li>
                <li class="activityItem lv1" data-id="strengthFlexibility">
                    <img src="img/busybody/cat/lv1/strength-flexibility-white.png"/>Strength & Flexibility</li>
                <li class="activityItem lv1" data-id="location">
                    <img src="img/busybody/cat/lv1/location-white.png"/>Location</li>
            </div>
        </div>

        <div id="level2Activity"> 
            <div class="activity2 cardio">
                <li class="activityItem lv2" data-name="water"><img src="img/busybody/cat/
water.png"/>Water</li>
                <li class="activityItem lv2" data-name="court"><img src="img/busybody/cat/
court.png"/>Court</li>
                <li class="activityItem lv2" data-name="gym"><img src="img/busybody/cat/
gym.png"/>Gym</li>
                <li class="activityItem lv2" data-name="running"><img src="img/busybody/cat/
running.png"/>Running</li>             
                <li class="activityItem lv2" data-name="everythingCardio"><img src="img/busybody/cat/
everything-else.png"/>Everything Else</li>
            </div>

            <div class="activity2 sports">
                <li class="activityItem lv2" data-name="dance"><img src="img/busybody/cat/
dance-sport.png"/>Dance</li>
                <li class="activityItem lv2" data-name="ball"><img src="img/busybody/cat/
ball.png"/>Ball</li>
                <li class="activityItem lv2" data-name="winter"><img src="img/busybody/cat/
winter.png"/>Winter</li>
                <li class="activityItem lv2" data-name="everythingSport"><img src="img/busybody/cat/
everything-else-sports.png"/>Everything Else</li>
            </div>

            <div class="activity2 danceArt">
                <li class="activityItem lv2" data-name="dance"><img src="img/busybody/cat/
dance.png"/>Dance</li>
                <li class="activityItem lv2" data-name="other"><img src="img/busybody/cat/
dance-other.png"/>Other</li>
            </div>

            <div class="activity2 outdoor">
                <li class="activityItem lv2" data-name="landAir"><img src="img/busybody/cat/
land-air.png"/>Land & Air</li>
                <li class="activityItem lv2" data-name="Water"><img src="img/busybody/cat/
water-outdoor.png"/>Water</li>
            </div>

            <div class="activity2 work">
                <li class="activityItem lv2" data-name="household"><img src="img/busybody/cat/
household.png"/>Household</li>
                <li class="activityItem lv2" data-name="childcare"><img src="img/busybody/cat/
childcare.png"/>Childcare</li>
                <li class="activityItem lv2" data-name="otherWork"><img src="img/busybody/cat/
work-other.png"/>Other</li>
            </div>

            <div class="activity2 strengthFlexibility">
                <li class="activityItem lv2" data-name="flexibility"><img src="img/busybody/cat/
flexibility.png"/>Flexibility</li>
                <li class="activityItem lv2" data-name="manualLabor"><img src="img/busybody/cat/
manual-labor.png"/>Manual Labor</li>
                <li class="activityItem lv2" data-name="gymSpecific"><img src="img/busybody/cat/
gym-specific.png"/>Gym Specific</li>
                <li class="activityItem lv2" data-name="combat"><img src="img/busybody/cat/
combat.png"/>Combat</li>
            </div>

            <div class="activity2 location">
                <li class="activityItem lv2" data-name="Deli"><img src="img/busybody/cat/
deli.png"/>Location</li>
            </div>


        </div>
        <div id="pageScroll">
            <div id="scroller">
                <div id="activityList" class="box">
                    <!-- Activity Items will be injected here -->
                </div>
                <li id="backToTop" class="btn action">Back to Top</li>
            </div>
        </div>