<div id="searchBar">
    <div id="searchInput">
        <img id="searchImg" src="img/Search.png"/>
        <form id="searchForm">
            <input type="text" id="searchTerm"/>
        </form>
        <img id="xImg" src="img/widgets/widgetpngfiles/bu-x-out.png"/>
    </div>

    <select id="filter">
        <option value="all">All</option>
        <option value="Cardio">Cardio</option>
        <option value="Sports">Sports</option>
        <option value="DanceArt">Dance & Art</option>
        <option value="Outdoor">Outdoor/Adventure</option>
        <option value="Work">Work</option>
        <option value="Strength">Strength/Flexibility</option>
        <option value="Combat">Combat</option>
    </select>

</div>

<div id="scrollContainer">
    <div id="scroller">
        <div id="activityList" class="box">
            <!-- Activity Items will be injected here -->
        </div>
        <li id="backToTop" class="btn action">Back to Top</li>
    </div>
</div>