#foodometer, #foodScreen {
    position: relative;
    #body {
        margin: 20px;
        border-radius: 8px;
        padding: 10px;
        height: 89%;
        background-color: #000000;

        img.positioned  { position:absolute;}
        img#topleft     { top:59px;    left:12px; }
        img#topright    { top:58px;    right:12px; }
        img#bottomleft  { bottom:-8px; left:14px; }
        img#bottomright { bottom:-9px; right:14px; }

        #binderBg {
            width: 40px;
            height: 88%;
            float: left;
            margin-left: -21px;
            position: absolute;
            background: url('../img/food/spiral-bind.png') left top repeat-y;
            z-index: 10;
            background-size: 37px;
            background-position: 0px 40px;
        }
        
        #content {
            background-color: #d8d4d5;
            box-shadow: 7px 0px 0 -4px #ccc, 12px 0px 0 -7px rgb(139, 139, 139);
            background-image: url('../img/food/bg-gray-texture.png');

            #leftContent {
                float: left;
                width: 280px;
                height: 99%;
                background-color: #ffffff;
                box-shadow: 3px 7px 5px #ababab;
                padding: 8px;
                margin-bottom: 20px;

                #leftContentMask {
                    height: 99%;
                    background-color: #f6f5f5;
                    box-shadow: 1px 1px 1px #cdcdcd, -1px 0px 1px #cdcdcd;
                    color: #000000;
                    padding: 5px;
                    padding-left: 15px;
                    background-image: url('../img/food/bg-light-gray-left-column.png');
                }
            }

            #rightContent {
                float: right;
                width: 60%;
                height: 100%;

                #emptyFood {
                    color: #676767;
                    margin-top: 250px;
                    text-align: center;
                    .avenir-demi(18px);
                    text-shadow: 0 1px 1px #ffffff;

                    #day {
                        color: #676767;
                        .avenir-bold(48px);
                    }

                    #emptyMeals {
                        margin-top: 150px;
                        width: 45%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            float: left;
                            margin-left: -30px;
                        }
                    }
                }
            }
        }
    }

    #smallCalendar {
        height: 300px;
        margin-bottom: 30px;

        #monthPick {
            float: right;
            margin-right: 5px;
            margin-top: 5px;
            height: 25px;
        }

        #dayString {
            .avenir-medium(32px);
            display: block;
            padding-left: 10px;
            padding-top: 15px;
            margin-bottom: 10px
        }
        #dateString {
            color: #676767;
            display: block;
            .avenir-medium(16px);
            padding-left: 10px;
            margin-bottom: 20px
        }

        #calTable {
            border: none;

            td {
                height: 40px;
                border: none;

                &.selected {
                    background-color: #fecd74;
                }
            }    
        }
        
    }

    #calories {
        padding-top: 200px;
        padding: 10px;
        width: 246px;
        border-radius: 8px;
        background-color: #fee9c9;
        font-size: 16px;
        margin-bottom: 60px;

        span {
            width: 110px;
            display: inline-block;
            padding: 5px 0px;

            &#remaining {
                .avenir-demi(16px);
            }
            &#remainingNum {
                text-align: right;
                .avenir-demi(16px);
            }
            &#goalNum {
                text-align: right;
                color: #676767;
                .avenir-medium(16px);
            }
            &#currentNum {
                text-align: right;
                color: #676767;
                .avenir-medium(16px);
            }
        }
    }

    #meals {
        margin-left: 5px;
        .meal{
            display: block;
            height: 60px;
            width: 270px;
            padding: 20px 15px;
            .avenir-demi(16px);
            img {
                margin-right: 10px;
                vertical-align: middle;
            }

            span {
                position: absolute;
                left: 100px;
            }

            &.selected {
                background: url('../img/food/bu-yellow-arrow-right.png') no-repeat;
                background-size: 270px;
                background-position: 0px 5px;
            }
        }
    }

    #filterView {
        z-index: 10;
        left: 165px;
        top: 175px;
        width: 250px;

        #body{
            background-color: #ffffff;
            border-radius: 5px;
            margin: 0px;
            min-height: 0px;
            .avenir-demi(14px);

            #picker {
                border: 1px solid #cdcdcd;
                border-radius: 5px;
                .background-gradient-fixed(#ababab, #ebebeb);

                #back, #forward {
                    padding: 5px;
                    text-align: center;
                    img{ 
                        height: 20px;
                        padding: 5px;
                    }
                }
                #back {
                    // border-right: 2px solid #cdcdcd;
                }
                #forward {
                    // border-left: 2px solid #cdcdcd;
                }
                #month {
                    .background-gradient-fixed(#343434, #cdcdcd);
                    color: #ffffff;
                    width: 155px;
                    height: 32px;
                    text-align: center;
                    display: inline-block;
                    padding-top: 6px;
                    padding-bottom: 6px;
                    box-shadow: inset 0 0 7px #000000;
                    text-shadow: 0 1px 1px #000000;
                }
            }
        }

        &:before{
            right: 95px;
        }
    }

    #mealContainer {
        display: none;
        padding: 20px;
        .avenir(14px);

        h3 {
            color: #000000;
            display: inline-block;
            .avenir-demi(18px);

            #calCount {
                color: #676767;
            }
        }

        .btn {
            float: right;
            background: #cccccc;
            border: 2px solid #ffffff;
            margin: 15px 5px 15px 0px;
            color: #676767;
            .avenir(12px);

            img {
                vertical-align: middle;
                padding-right: 5px;
            }
        }

        #add {
            padding: 5px;
            img {
                height: 16px;
                padding: 0px;
            }
        }

        #foodList {
            padding: 0px;
            min-height: 60px;
        }

        .box {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 1px 2px 5px #676767, inset -1px 1px 1px #ffffff;
            margin: 20px 5px;
            color: #000000;
            padding: 5px;

            .boxHeader {
                background-color: #e6e6e6;
                border-radius: 5px 5px 0 0;
                padding: 5px 10px;
            }
            .boxEntry {
                padding: 15px 10px;
                border-bottom: 2px solid #e6e6e6;

                #name {
                    display: inline-block;
                    width: 170px;
                    max-width: 170px;
                    white-space: nowrap;
                    overflow: hidden;
                }

                &:after{
                    content: url('../img/icons/smallArrow.png');
                    float: right;
                    clear: right;
                }

                &:last-child{
                    border-bottom: none;
                }
            }

            #about, label {
                .avenir(12px);
                color: #676767;
                margin-left: 10px;
            }

            label {
                padding-top: 5px;
            }

            input {
                border: none;
                box-shadow: none;
                width: 50%;
                padding: 5px;
            }
            textarea {
                display: block;
                width: 100%;
                padding: 10px;
                border: none;
                background: none;
            }
        }
    }

    #addFoodPopup {
        display: none;
        position: absolute;
        right: 35px;
        top: 150px;
        left: auto;
        box-shadow: 0px -1px 1px #000000;

        .btn {
            display: block;
            width: 97%;
            padding: 10px;
            height: 40px;
            margin: 5px 5px;
            .avenir-medium(17px);
        }

        &:before {
            border-bottom: 15px solid #6b6b6b;
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
            // bottom: 151px;
            top: -12px;
            content: '';
            position: absolute;
            right: 17px;
        }
    }
}