<div id="panelTopBar">
    Activity Notebook - <span id="time"></span>
    <li id="saveBtn" class="btn action">Done</li>
    <li id="cancelBtn" class="btn">Cancel</li>
</div>

<div id="body">
    <img class="positioned" id="topleft" src="img/food/notebook-top-left-curve@2x.png"/>
    <img class="positioned" id="top" src="img/food/top-page-graphic.png"/>
    <img class="positioned" id="topright" src="img/food/notebook-top-right-curve@2x.png"/>
    <img class="positioned" id="bottomleft" src="img/food/notebook-bottom-left-curve@2x.png"/>
    <img class="positioned" id="bottom" src="img/food/bottom-page-graphic.png"/>
    <img class="positioned" id="bottomright" src="img/food/notebook-bottom-right-curve@2x.png"/>
    <div id="binderBg"></div>
    

    <div id="content">
        
        <div id="filterButtons">
            <li id="busyBodyList" class="selected">BusyBody</li>
            <li id="simpleSearch">Simple Search</li>
            <li id="favorites">Recent & Faves</li>
        </div>

        <div id="subView">

        </div>

    </div>
</div>










