<div id="panelTopBar">
	Food Notebook - <span id="meal">Lunch</span>
	<li id="saveBtn" class="btn action">Save</li>
	<li id="cancelBtn" class="btn">Cancel</li>
</div>

<div id="body">
	<img class="positioned" id="topleft" src="img/food/notebook-top-left-curve@2x.png"/>
	<img class="positioned" id="topright" src="img/food/notebook-top-right-curve@2x.png"/>
	<img class="positioned" id="bottomleft" src="img/food/notebook-bottom-left-curve@2x.png"/>
	<img class="positioned" id="bottomright" src="img/food/notebook-bottom-right-curve@2x.png"/>
	<div id="binderBg"></div>
	

	<div id="content">
		<div id="filterButtons">
			<li class="selected">Foodometer</li>
			<li>Simple Search</li>
			<li>Scan & Go</li>
			<li>Recent & Faves</li>
		</div>

		<div id="level1Food">
			<div id="hScroller">
				<li class="foodItem lv1" data-id="meatFish"><img src="img/food/bu-meat-fish-icon.png"/>Meat & Fish</li>
				<li class="foodItem lv1" data-id="veggies"><img src="img/food/bu-veggies-icon.png"/>Veggies</li>
				<li class="foodItem lv1" data-id="dairy"><img src="img/food/bu-dairy-icon.png"/>Dairy</li>
				<li class="foodItem lv1" data-id="fruitNuts"><img src="img/food/bu-fruit-nuts-icon.png"/>Fruit & Nuts</li>
				<li class="foodItem lv1" data-id="grains"><img src="img/food/bu-grains-icon.png"/>Grains</li>
				<li class="foodItem lv1" data-id="packaged"><img src="img/food/bu-packaged-icon.png"/>Packaged</li>
				<li class="foodItem lv1" data-id="restaurant"><img src="img/food/bu-restaurant-icon.png"/>Restaurant</li>
				<li class="foodItem lv1" data-id="beverages"><img src="img/food/beverages-icon.png"/>Beverages</li>
				<li class="foodItem lv1" data-id="desertsSweets"><img src="img/food/bu-packaged-icon.png"/>Deserts & Sweets</li>
				<li class="foodItem lv1" data-id="snacks"><img src="img/food/snack-icon.png"/>Snacks</li>
			</div>
		</div>

		<div id="level2Food"> 
			<div class="foods2 meatFish">
				<li class="foodItem lv2" data-name="Meats"><img src="img/food/bu-red-meat-icon-sub-menu.png"/>Meats</li>
				<li class="foodItem lv2" data-name="Poultry"><img src="img/food/bu-poultry-icon-sub-menu.png"/>Poultry</li>
				<li class="foodItem lv2" data-name="Eggs"><img src="img/food/bu-egg-icon-sub-menu.png"/>Eggs</li>
				<li class="foodItem lv2" data-name="Seafoods"><img src="img/food/bu-fish-icon-sub-menu.png"/>Seafood</li>				
			</div>

			<div class="foods2 veggies">
				<li class="foodItem lv2" data-name="FreshorDriedVegetables"><img src="img/food/bu-veggies-icon.png"/>Fresh Veg</li>
				<li class="foodItem lv2" data-name="FrozenVegetables"><img src="img/food/bu-veggies-icon.png"/>Frozen Veg</li>
				<li class="foodItem lv2" data-name="CannedVegetables"><img src="img/food/bu-veggies-icon.png"/>Canned Veg</li>
				<li class="foodItem lv2" data-name="PackagedVegetables"><img src="img/food/bu-veggies-icon.png"/>Packaged Veg</li>
			</div>

			<div class="foods2 dairy">
				<li class="foodItem lv2" data-name="Milk"><img src="img/food/bu-egg-icon-sub-menu.png"/>Milk</li>
				<li class="foodItem lv2" data-name="Cheese"><img src="img/food/bu-fish-icon-sub-menu.png"/>Cheese</li>
				<li class="foodItem lv2" data-name="Yogurt"><img src="img/food/bu-poultry-icon-sub-menu.png"/>Yogurt</li>
				<li class="foodItem lv2" data-name="Cream"><img src="img/food/bu-red-meat-icon-sub-menu.png"/>Cream</li>
				<li class="foodItem lv2" data-name="IceCream"><img src="img/food/bu-red-meat-icon-sub-menu.png"/>Ice-Cream</li>
			</div>

			<div class="foods2 fruitNuts">
				<li class="foodItem lv2" data-name="Fruits"><img src="img/food/bu-fruit-nuts-icon.png"/>Fruit</li>
				<li class="foodItem lv2" data-name="Nuts"><img src="img/food/bu-fruit-nuts-icon.png"/>Nuts</li>
				<li class="foodItem lv2" data-name="Seeds"><img src="img/food/bu-fruit-nuts-icon.png"/>Seeds</li>
				<li class="foodItem lv2" data-name="Legumes"><img src="img/food/bu-fruit-nuts-icon.png"/>Legumes</li>
			</div>

			<div class="foods2 grains">
				<li class="foodItem lv2" data-name="Breads"><img src="img/food/bu-egg-icon-sub-menu.png"/>Breads</li>
				<li class="foodItem lv2" data-name="BreakfastCereals"><img src="img/food/bu-fish-icon-sub-menu.png"/>Cereals</li>
				<li class="foodItem lv2" data-name="Pasta"><img src="img/food/bu-poultry-icon-sub-menu.png"/>Pasta</li>
				<li class="foodItem lv2" data-name="Bars"><img src="img/food/bu-fish-icon-sub-menu.png"/>Bars</li>
				<li class="foodItem lv2" data-name="Rice"><img src="img/food/bu-red-meat-icon-sub-menu.png"/>Rice</li>
				<li class="foodItem lv2" data-name="Grains&Flour"><img src="img/food/bu-red-meat-icon-sub-menu.png"/>Grains & Flour</li>
			</div>

			<div class="foods2 packaged">
				<li class="foodItem lv2" data-name="Meals"><img src="img/food/bu-egg-icon-sub-menu.png"/>Meals</li>
				<li class="foodItem lv2" data-name="Soups"><img src="img/food/bu-fish-icon-sub-menu.png"/>Soups</li>
				<li class="foodItem lv2" data-name="SoyandTofu"><img src="img/food/bu-poultry-icon-sub-menu.png"/>Soy & Tofu</li>
				<li class="foodItem lv2" data-name="Vegetarian"><img src="img/food/bu-red-meat-icon-sub-menu.png"/>Vegetarian</li>
			</div>

			<div class="foods2 restaurant">
				<li class="foodItem lv2" data-name="Deli"><img src="img/food/bu-egg-icon-sub-menu.png"/>Deli</li>
				<li class="foodItem lv2" data-name="Fast-Foods"><img src="img/food/bu-fish-icon-sub-menu.png"/>Fast-Foods</li>
				<li class="foodItem lv2" data-name="InternationalFoods"><img src="img/food/bu-poultry-icon-sub-menu.png"/>Foreign Foods</li>
				<li class="foodItem lv2" data-name="FairFoods"><img src="img/food/bu-red-meat-icon-sub-menu.png"/>Fair Foods</li>
			</div>

			<div class="foods2 beverages">
				<li class="foodItem lv2" data-name="Juices"><img src="img/food/bu-egg-icon-sub-menu.png"/>Juices</li>
				<li class="foodItem lv2" data-name="Sports"><img src="img/food/bu-fish-icon-sub-menu.png"/>Sports</li>
				<li class="foodItem lv2" data-name="Soda"><img src="img/food/bu-poultry-icon-sub-menu.png"/>Soda</li>
				<li class="foodItem lv2" data-name="Tea"><img src="img/food/bu-red-meat-icon-sub-menu.png"/>Tea & Coffee</li>
				<li class="foodItem lv2" data-name="Mixes"><img src="img/food/bu-red-meat-icon-sub-menu.png"/>Mixes</li>
				<li class="foodItem lv2" data-name="AlcoholicDrinks"><img src="img/food/beverages-icon.png"/>Alcoholic</li>
				<li class="foodItem lv2" data-name="NonDairy"><img src="img/food/beverages-icon.png"/>Non Dairy</li>
			</div>

			<div class="foods2 desertsSweets">
				<li class="foodItem lv2" data-name="Deserts"><img src="img/food/bu-packaged-icon.png"/>Deserts</li>
				<li class="foodItem lv2" data-name="Pastries"><img src="img/food/bu-packaged-icon.png"/>Pastries</li>
				<li class="foodItem lv2" data-name="Candy"><img src="img/food/bu-packaged-icon.png"/>Candy</li>
				<li class="foodItem lv2" data-name="PiesandTarts"><img src="img/food/bu-packaged-icon.png">Pies & Tarts</li>
				<li class="foodItem lv2" data-name="Baking"><img src="img/food/bu-packaged-icon.png"/>Baked</li>
				<li class="foodItem lv2" data-name="PancakesandWaffles"><img src="img/food/bu-packaged-icon.png"/>Pancakes/Waffles</li>
			</div>

			<div class="foods2 snacks">
				<li class="foodItem lv2" data-name="Chips"><img src="img/food/bu-egg-icon-sub-menu.png"/>Chips</li>
				<li class="foodItem lv2" data-name="Popcorn"><img src="img/food/bu-fish-icon-sub-menu.png"/>Popcorn</li>
				<li class="foodItem lv2" data-name="Pretzels"><img src="img/food/bu-poultry-icon-sub-menu.png"/>Pretzels</li>
				<li class="foodItem lv2" data-name="OtherSnacks"><img src="img/food/bu-red-meat-icon-sub-menu.png"/>Other Snacks</li>
			</div>

		</div>

		<div id="foodList" class="box">
			<div class="boxHeader">
				<span>Fish</span>
			</div>
			<div class="boxEntry">
				<span id="name">Salmon</span>
				<span id="about">Tinned</span>
			</div>
			<div class="boxEntry">
				<span id="name">Salmon</span>
				<span id="about"></span>
			</div>
			<div class="boxEntry">
				<span id="name">Tuna</span>
				<span id="about">Tinned</span>
			</div>
			<div class="boxEntry">
				<span id="name">Tuna</span>
				<span id="about">Steak</span>
			</div>

			<div class="boxHeader">
				<span>Fish</span>
			</div>
			<div class="boxEntry">
				<span id="name">Salmon</span>
				<span id="about">Tinned</span>
			</div>
			<div class="boxEntry">
				<span id="name">Salmon</span>
				<span id="about"></span>
			</div>
			<div class="boxEntry">
				<span id="name">Tuna</span>
				<span id="about">Tinned</span>
			</div>
			<div class="boxEntry">
				<span id="name">Tuna</span>
				<span id="about">Steak</span>
			</div>
		</div>
	</div>
</div>










