<div id="body">
	<img class="positioned" id="topleft" src="img/food/notebook-top-left-curve@2x.png"/>
	<img class="positioned" id="topright" src="img/food/notebook-top-right-curve@2x.png"/>
	<img class="positioned" id="bottomleft" src="img/food/notebook-bottom-left-curve@2x.png"/>
	<img class="positioned" id="bottomright" src="img/food/notebook-bottom-right-curve@2x.png"/>
	<div id="binderBg"></div>
	<div id="content">
		<div id="emptyFood">
				<p></p><p></p><p></p><p></p>
				<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Template for My Stats</h1>
				<p></p><p></p><p></p><p></p>

			</div>
	</div>
</div>