<div id="widgetdetails">
	<div class="left">
		
		<img id="iconw" src="img/widgets/widgetstoreiconspopup/02_0001_diabetes-big.png">
		<div id="install">
			<img id="plus" src="img/widgets/widgetpngfiles/bu-add-buton@x2.png">
			<p>Install Widget</p>
		</div>
	</div>

	<div class="maindetails">
		<h1 id="WidgetName">Widget Name Here</h1>
		<img id="quitBtn" src="img/widgets/widgetpngfiles/bu-x-out.png">
		<h2 id="WidgetDescription">Widget Description</h2>
		<p id="WidgetText">Lorem ipsum dolor sit amet, consectetur adipisicing elitrem ipsum dolor sit amet, consectetur adipisicing elit.<p>
			<ul>
				<li>Lorem ipsum dolor sit amet</li>
				<li>Lorem ipsum dolor sit amet</li>
				<li>Lorem ipsum dolor sit amet</li>
			</ul>

		<img class="screenshot" src="img/AdPlaceholder.png">
		<img class="screenshot" src="img/AdPlaceholder.png">
	</div>





</div>