<div id="widgetdetails">
	<div class="left">
		
		<img id="iconw" src="<%=src%>">
		<div id="install">
			<img id="plus" src="img/widgets/widgetpngfiles/bu-add-buton@x2.png">
			<p>Install Widget</p>
		</div>
	</div>

	<div class="maindetails">
		<h1 id="WidgetName"><%=title%></h1>
		<img id="quitBtn" src="img/widgets/widgetpngfiles/bu-x-out.png">
		<h2 id="WidgetDescription">Widget Description</h2>
		<p id="WidgetText"><%=description%><p>

		<img class="screenshot" src="img/AdPlaceholder.png">
		<img class="screenshot" src="img/AdPlaceholder.png">
	</div>





</div>