/*
 * This is the general styling for the app, which covers setting up the box
 * model to be used, along with any format resets and basic styling.
 */

* {
    // Apply sensible box model to all elements.
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    // Reset all margin and padding; we'll be explicit with everything, due to
    // the need for future cross-browser compatibility.
    margin: 0;
    padding: 0;
}

html,
body,
#content {
    height: 100%;
    overflow: hidden;
}

body {
    .avenir(16px);
    color: #fff;

    // We use separate explicit background properties to allow for overriding
    // for 'retina' and other high DPI displays.
    background-image: url('../img/backgrounds/BackgroundTileGray.png');
    background-position: left top;
    background-repeat: repeat;
}

// Remove the default WebKit focus glow from form elements. For the purpose of
// accessibility, we WILL want to add our own focus styles individually.
textarea,
input {
    outline: none;
}

.btn {
    border-radius: 5px;
    border: 1px solid rgb(211, 136, 0);
    height: 30px;
    margin: 20px;
    color: white;
    padding: 5px 10px 5px 10px;
    .avenir-bold(14px);
}

.btnSmall {
    display: inline;
    border-radius: 5px;
    border: 1px solid rgb(211, 136, 0);
    height: 20px;
    margin: 10px;
    color: white;
    padding: 2px 5px 2px 5px;
    .avenir-bold(12px);
}

.decline {
    background-color: orange;
    .background-gradient(#f26622, #feb000);
    border: 1px solid rgb(211, 136, 0);

}

.accept {
    background-color: green;
    .background-gradient(#1AA807, #1EFF00);   
    border: 1px solid #1AA807;
}