<div id="avatarSelect">
	<div id="titleBar">
		<li id="cancelBtn" class="btn">Cancel</li>
		<li id="saveBtn" class="btn action">Save</li>
		<h2 id="titleText">Select a Picture</h2>
	</div>

	<div id="topSection">
		<p>Select a picture from one of our three Libraries:</p>

		<li id="imagesBtn" class="roundBtn">Images</li>
		<li id="maleBtn" class="roundBtn">Male</li>
		<li id="femaleBtn" class="roundBtn">Female</li>
	</div>

	<div id="middleSection">
		<div id="pictureRoll">
			<!-- Avatar images will be dynamically inserted here-->
		</div>
	</div>

	<div id="bottomSection">
		<p>Or you can upload a picture from your computer...</p>

		<li id="uploadBtn" class="uploadBtn">Choose a Picture File</li>

		<p class="info">Your picture will be automatically scaled to work with Peachy</p>
	</div>
</div>

