#tableContainer {
	width: 100%;

	#calTable {
		width: 100%;
		border: 3px solid #c7f0f6;

		td {
			width: 10%;
			height: 80px;
			border: 1px solid #c7f0f6;
		}

		.days td {
			vertical-align: top;
			.day {
				float: right;
				.avenir-medium(12px);
			}

			&:hover {
				background-color: #c7f0f6;
			}
		}

		.today{
			background-color: #7fb0db;
		}
	}
}

section#month {

	h2 {
		color: #2b6891;
		.avenir-demi(15px);
	}
}

#evt_div{
     text-align: center;
  background-image: linear-gradient(bottom, #464646 0%, #1f1f1f 65%, #2e2e2e 21%, #525252 90%, #6b6b6b 100%);
  background-image: -webkit-linear-gradient(bottom, #464646 0%, #1f1f1f 65%, #2e2e2e 21%, #525252 90%, #6b6b6b 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #464646), color-stop(0.65, #1f1f1f), color-stop(0.21, #2e2e2e), color-stop(0.9, #525252), color-stop(1, #6b6b6b));
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px 5px #000000;
   
  /*    position: fixed;*/

/*  background: #fff ;*/
  color: black;
  height: 30%;
  position: fixed;
  width: 40%;
  display: block;
  display: none;
  top: 25%;
  left: 30%;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
/*  box-shadow: 10px 10px 5px #888888;*/
/*  border: 1px solid #888888;*/
  z-index: 11;

}

#evt_form_table td{
    padding-right: 30px;
}

#popDate {
	position: absolute;
	height: 150px;
	width: 200px;
	padding: 10px;
	border: 2px solid #2b6891;
	box-shadow: 0px 0px 5px #2b6891;
	border-radius: 10px;
	background-color: #fff;

	h3 {
		display: inline;
		.avenir-bold(14px);
	}

	img {
		float: right;
		height: 30px;
		width: 30px;
	}

	li {
		list-style: disc;
		.avenir(14px);
		display: list-item;
		padding: 5px;

		&.energy 	{color: green}
		&.mood 		{color: orange}
		&.diet 		{color: blue}

		span {
			color: #000;
		}
	}

	#attrList {
		margin-top: 30px;
	}


	.arrow-border {
		border-color: #2b6891 transparent transparent transparent;
		border-style: solid;
		border-width: 10px;
		height:0;
		width:0;
		position:absolute;
		bottom:-22px;
		left:30px;
	}

	.arrow {
		border-color: #fff transparent transparent transparent;
		border-style: solid;
		border-width: 10px;
		height:0;
		width:0;
		position:absolute;
		bottom:-19px;
		left:30px;
	}
}


section#insights {
	img {
		width: 576px;
		margin-top: 20px;
	}
}