#goals {

    // TODO: Assess whether this will be for all home content-sections.
    padding: 15px;

    h1 {
        color: #2b6891;
        margin: 30px 0 20px 0;

        .avenir-demi(20px);
    }

    #add-goal {
        .border-radius(8px);
        border: 2px solid #cdcdcd;
        .avenir-bold(16px);
        color: #b3b3b3;
        background-color: transparent;
        width: 100%;
        padding: 10px;
    }
}