#notifications {
    position: absolute;
    top: 250px;
    right: 30%;
    width: 40%;
    z-index: 999;
}

#notification {
	text-align: center;
	
	background-image: linear-gradient(bottom, rgb(70,70,70) 0%, rgb(31,31,31) 65%, rgb(46,46,46) 21%, rgb(82,82,82) 90%, rgb(107,107,107) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(70,70,70) 0%, rgb(31,31,31) 65%, rgb(46,46,46) 21%, rgb(82,82,82) 90%, rgb(107,107,107) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(70,70,70)),
        color-stop(0.65, rgb(31,31,31)),
        color-stop(0.21, rgb(46,46,46)),
        color-stop(0.9, rgb(82,82,82)),
        color-stop(1, rgb(107,107,107))
    );

	border-radius: 10px;
	padding: 5px;
	box-shadow: 2px 2px 5px #000000;

	h2 {
		.avenir-bold(16px);
		color: #ffffff;
	}

	p {
		.avenir(14px);
		padding-top: 25px;
		text-align: center;
	}

	li {
		width: 100px;
	}
}

#modalMask {
	display: none;
	position: absolute;
	background-color: #000000;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	opacity: 0.3;
}