#top-bar {
    height: 55px;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url('../img/bg.png');
    margin: 0;
    padding: 0 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.20);
    width: 100%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 8;
    -webkit-transition: all .2s linear;
    -webkit-transform: translate3d(0, 0, 0);

    #logo {
        float: left;
        margin-top: 15px;
        background-image: url('../img/logo-top-bar.png');
        width: 121px;
        height: 30px;
        content: '';

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url('../img/logo-top-bar@2x.png');
        background-size: 121px 30px;
    }
    }

    #avatar {
        float: right;
        margin-top: 7px;
        height: 40px;
    }

    &.profileBar {
        border-bottom: none;
        box-shadow: none;

        li.profileBtn {
            display: inline-block;
        }

        li.homeBtn {
            display: none;
        }

        button {
            width: 100px;
            margin-right: 10px;
        }

    }
}

#top-bar-buttons {
    list-style-type: none;
    height: 100%;
    padding: 11px 0;
    float: right;

    li {
        display: inline-block;
        margin-right: 7px;

        &.profileBtn{
            display: none;
        }

        button {
            background-color: #464646;
            height: 30px;
            padding: 0 10px;
            vertical-align: middle;
            .border-radius(5px);
            border-radius: 0\9;
            border: 1px solid black;
            color: #fff;
            .avenir-bold(14px);

            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d8d8d', endColorstr='#464646',GradientType=0 );
            background-image: linear-gradient(bottom, rgb(70,70,70) 0%, rgb(31,31,31) 50%, rgb(46,46,46) 51%, rgb(82,82,82) 73%, rgb(107,107,107) 100%);
            background-image: -webkit-linear-gradient(bottom, rgb(70,70,70) 0%, rgb(31,31,31) 50%, rgb(46,46,46) 51%, rgb(82,82,82) 73%, rgb(107,107,107) 100%);
            background-image: -moz-linear-gradient(bottom, #464646 0%, #1f1f1f 50%, #2e2e2e 51%, #525252 73%, #6b6b6b 100%);
            background-image: -webkit-gradient(
                linear,
                left bottom,
                left top,
                color-stop(0, rgb(70,70,70)),
                color-stop(0.5, rgb(31,31,31)),
                color-stop(0.51, rgb(46,46,46)),
                color-stop(0.73, rgb(82,82,82)),
                color-stop(1, rgb(107,107,107))
            );

            &#save {
                border: 2px solid #fff1a0;
            }

            img {

                // This fixes mis-aligned buttons.
                display: block;
            }

            &:active {
                .background-gradient(#cdcdcd, #000);
                background-image: -moz-linear-gradient(top, #cdcdcd 0%, #000 100%);
            }
        }

        #points-button {
            .avenir-bold(13px);
            background-image: url('../img/PointsButtonWatermark.png'), linear-gradient(bottom, rgb(70,70,70) 0%, rgb(31,31,31) 50%, rgb(46,46,46) 51%, rgb(82,82,82) 73%, rgb(107,107,107) 100%);
            background-image: url('../img/PointsButtonWatermark.png'), -webkit-linear-gradient(bottom, rgb(70,70,70) 0%, rgb(31,31,31) 50%, rgb(46,46,46) 51%, rgb(82,82,82) 73%, rgb(107,107,107) 100%);
            background-image: url('../img/PointsButtonWatermark.png'), -moz-linear-gradient(top, #464646 0%, #1f1f1f 50%, #2e2e2e 51%, #525252 73%, #6b6b6b 100%);
            background-image: url('../img/PointsButtonWatermark.png'), -webkit-gradient(
                linear,
                left bottom,
                left top,
                color-stop(0, rgb(70,70,70)),
                color-stop(0.5, rgb(31,31,31)),
                color-stop(0.51, rgb(46,46,46)),
                color-stop(0.73, rgb(82,82,82)),
                color-stop(1, rgb(107,107,107))
            );
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d8d8d', endColorstr='#464646',GradientType=0 );;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/PointsButtonWatermarkIE.png');
            background-position: left bottom;
            background-repeat: no-repeat;
            background-opacity: 0.2;
            color: #fff;

            em {
                font-size: 14px;
                color: #ff9d02;
                font-style: normal;
            }

            &:active {
                .background-gradient(#cdcdcd, #000);
            }
        }
    }
}

#topBarPopup {
    display: none;
    position: absolute;
    right: 0px;
    top: 53px;
    width: 300px;
    left: auto;
    box-shadow: 0px -1px 1px #000000;

    .btn {
        display: block;
        width: 97%;
        padding: 10px;
        height: 40px;
        margin: 5px 5px;
        .avenir-bold(18px);
    }

    &:before {
        border-bottom: 15px solid #6b6b6b;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        // bottom: 151px;
        top: -12px;
        content: '';
        position: absolute;
        right: 17px;
    }
}