<div id="topBar">

	<div id="buttons">
		<li class="itemBox selected">
			<img src="img/AdPlaceholder.png"/>Foodometer
		</li>

		<li class="itemBox">
			<img src="img/AdPlaceholder.png"/>BusyBody
		</li>

		<li class="itemBox">
			<img src="img/AdPlaceholder.png"/>MedBot
		</li>

		<li class="itemBox">
			<img src="img/AdPlaceholder.png"/>My Stats
		</li>
	</div>

	<li id="closeBtn" class="btn">
		<img src="img/corner-logo.png"/>
	</li>

</div>

<div id="panelTopBar">
	Overview
	<li id="settingsBtn" class="btn">
		<img src="img/OptionsGear.png"/>
	</li>
</div>

<div id="body">
	<div id="binderBg"></div>
	<div id="content">
		<div id="leftContent">
			<div id="leftContentMask">

				<div id="smallCalendar"></div>

				<div id="calories">
					<span id="goal">Goal</span>
					<span id="goalNum"><%= '1,500 Calories' %></span>
					<span id="current">So Far</span><%= '0' %>
					<span id="remaining">Remaining</span>
					<span id="remainingNum"><%= '1,500 Calories' %></span>
				</div>

				<div id="meals">
					<h3>My Meals</h3>
					<li class="meal"><img src="img/food/breakfast.png"/>Breakfast</li>
					<li class="meal"><img src="img/food/lunch.png"/>Lunch</li>
					<li class="meal"><img src="img/food/lunch.png"/>Lunch</li>
					<li class="meal"><img src="img/food/lunch.png"/>Lunch</li>
					<li class="meal"><img src="img/food/lunch.png"/>Lunch</li>
				</div>

			</div>
		</div>
	</div>
</div>