<div id="topBar">

	<div id="buttons">
		<li class="itemBox selected">
			<img src="img/AdPlaceholder.png"/>Foodometer
		</li>

		<li class="itemBox">
			<img src="img/AdPlaceholder.png"/>BusyBody
		</li>

		<li class="itemBox">
			<img src="img/AdPlaceholder.png"/>MedBot
		</li>

		<li class="itemBox">
			<img src="img/AdPlaceholder.png"/>My Stats
		</li>
	</div>

	<li id="closeBtn" class="btn">
		<img src="img/corner-logo.png"/>
	</li>

</div>

<div id="panelTopBar">
	Overview
	<li id="settingsBtn" class="btn">
		<img src="img/OptionsGear.png"/>
	</li>
</div>

<div id="body">
	<div id="content">
	</div>
</div>