<div id="login-container" class="visible">
    <div>

        <div class="box">
            <div class="left">
                <div class="login-logo"></div>
                <h2 class="login-caption">Personal Wellness Management, Only
                    Sweeter.</h2>

                <aside class="copyright">&copy; 2012 SecureHealthHub</aside>

            </div>

            <form id="login-form" action="javascript:void(0);">
                <h2>Sign in to your Peachy Account</h2>

                <label for="username">Username</label>
                <input id="username" type="text" placeholder="Username"
                       required>

                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Password"
                       required>

                <button type="submit" id="signin" class="login">Sign In</button>
            </form>

            <button id="login-help-button" type="button"><span>Need Help? Tap
                Here.</span></button>
        </div>

    </div>
</div>

<div id="loading-container">
    <div>

        <div class="box">
            <div class="login-logo"></div>

            <p id="login-loading-message">Securely Logging In&hellip;</p>

            <div id="loading-snippet">
                <p id="first"></p>
                <p id="second"></p>
            </div>
        </div>

        <aside class="copyright">&copy; 2012 SecureHealthHub</aside>
    </div>
</div>

<aside class="copyright">&copy; 2012 SecureHealthHub - Build: 0.5.2 (3/28/13)</aside>
