<div id="top-bar">
    <img id="logo" src="img/logo-top-bar.png" alt="">

    <img id="avatar" src="img/Maureen(Me)Avatar.png" alt="You">
    <ul id="top-bar-buttons">
        <li><button id="points-button"><em>200</em> points</button></li>
        <li><button><img src="img/Search.png" alt="Search"></button></li>
        <li><button><img src="img/Help.png" alt="Help"></button></li>
        <li><button id="profile-button"><img src="img/OptionsGear.png" alt="Options"></button></li>
    </ul>
</div>

<div id="main-container">
    <ul id="side-nav">
        <li class="selected"><img src="img/nav/HomeDark.png" alt="">

            <h2>Home</h2>
        </li>
        <li><img src="img/nav/WidgetsWhite.png" alt="">

            <h2>Widgets</h2>
        </li>
        <li><img src="img/nav/HubWhite.png" alt="">

            <h2>Health Hub</h2>
        </li>
        <li><img src="img/nav/ConnectWhite.png" alt="">

            <h2>Connect</h2>
        </li>
        <li><img src="img/nav/CalendarWhite.png" alt="">

            <h2>Calendar</h2>
        </li>
        <li><img src="img/nav/LibraryWhite.png" alt="">

            <h2>Library</h2>
        </li>
    </ul>

    <section id="main-content">
        <!-- We need this single inner container for iScroll. -->
        <div>
            <div>
                <!-- Tab view. -->
                <ul id="content-tab-list">
                    <li id="show-alerts">Alerts & Reminders</li>
                    <li id="show-goals">Goals</li>
                    <li id="show-news">News & Information<aside class="badge">2</aside></li>
                </ul>

                <!-- This is the container for each tabs view item. -->
                <div id="home-content"></div>

                <div id="adverts">
                    <img src="img/AdPlaceholder.png" alt="Advert goes here.">
                    <h3>Driving Drowsy is as Dangerous as Driving Drunk<em> - Partner Ad</em></h3>
                    <span class="date">December 31, 2012</span>
                    <p>We all know the symptoms. Your eyelids droop and your vision becomes blurry. Your head feels so heavy that you can’t hold it up and so your chin keeps falling toward your chest. You can’t stop yawning. Diagnosis is clear to most of us: You’re sleepy.</p>
                </div>
            </div>
        </div>
    </section>
</div>
<link rel="stylesheet" href="css/styles.css"/>