
<ul id="main-nav">
    <input type ="text" id="tempdata">
    <li id="home" class="selected"><img src="img/nav/HomeWhite.png" alt="">

        <h2>Home</h2>
    </li>
    <li id="widgets"><img src="img/nav/WidgetsWhite.png" alt="">

        <h2>Widgets</h2>
    </li>
    <li id="healthHub"><img src="img/nav/HubWhite.png" alt="">

        <h2>Health Hub</h2>
    </li>
    <li id="medicine"><img src="img/nav/CabinetWhite.png" alt="">

        <h2>Medicines</h2>
    </li>
    <li id="connect"><img src="img/nav/ConnectWhite.png" alt="">

        <h2>Connect</h2>
    </li>
    <li id="calendar"><img src="img/nav/CalendarWhite.png" alt="">

        <h2>Calendar</h2>
    </li>
    <li id="library"><img src="img/nav/LibraryWhite.png" alt="">

        <h2>Library</h2>
    </li>
</ul>

<div id="mainDiv">
        <div class="page">

            <div id="main-content">
                <div id="child-content"></div>
            </div>

            <div id="ads" class="ads">

                <img class="ad-image" src="img/AdPlaceholder.png" alt="Advert goes here.">

                <div class="ad-content">
                    <h3 class="ad-title">Driving Drowsy is as Dangerous as Driving Drunk<span class="ad-notice"> - Partner Ad</span></h3>
                    <span class="ad-date">December 31, 2012</span>
                    <p class="ad-text">We all know the symptoms. Your eyelids droop and your vision becomes blurry. Your head feels so heavy that you can’t hold it up and so your chin keeps falling toward your chest. You can’t stop yawning. Diagnosis is clear to most of us: You’re sleepy.</p>
                </div>
            </div>
        </div>
    </div>
</div>
