

<div id="profile-container">
    <div id="main-tabs">
        <li id='general' class="selected"><img src="img/icons/SettingsGears.png" height="15px"/>General Settings</li>
        <li id='privacy'>Privacy & Sharing</li>
        <li id='content'>Content</li>
        <li id='accessibility'>Accessibility</li>
    </div>
    <!-- ****************** GENERAL ***************** -->
    <div id="general-body">

        <form id="account-information">
            <h2>ACCOUNT INFORMATION</h2>
            <li class="w22 required"><label for="firstName">   First</label><input type="text" id="firstName"/></li>
            <li class="w22"><label for="middleName">  Middle</label><input type="text" id="middleName"/></li>
            <li class="w25 required"><label for="lastName">    Last</label><input type="text" id="lastName"/></li>
            <li class="w20 required"><label for="sex">         Sex</label><select id="sex"><option value="M">Male</option><option value="F">Female</option></select></li>

            <li class="w46 required"><label for="email">     Email</label><input type="email" id="email"/></li>
            <li class="w35 required"><label for="birthday">  Birthday</label><input type="date" id="birthday"/></li>
            <span id="age" class="age"></span>
            <br/>

            <li id="address" class="w46  required"><label >Home</label>
                <div id="address"></div>
                <!-- <textarea type="text" id="address"></textarea> --></li>
            <li class="w15" style="text-align: center"><img id="profile-avatar" src="" style="width: 65px;height: 65px"/></li>
            <div id="loginInfo">
                <li class="w100 required"><label for="username">  Username</label><input type="text" id="username"/></li><br/>
                <li class="w100 required"><label for="password">  Password</label><input type="password" id="password"/></li>
            </div>

            <li class="w46 required"><label for="phone">  Home Phone</label><input type="number" id="phone"/></li>
            <li class="w47"><label for="mobile">  Mobile Phone</label><input type="number" id="mobile"/></li>
        </form>

        <h2>PHYSICIAN INFORMATION</h2>
        <div id="physicianBox">
            <div id="physician">
                <div id="name">Paul Newton</div>
                <div id="job">Primary Care</div>
                <div id="email">pnewton@securehealth.com</div>
                <div id="phone">312-222-5555</div>
            </div>
        </div>

        <h2>LINKED ACCOUNTS</h2>
        <div id="linkedBox">
            <div id="account">
                <div id="name">Paul Newton</div>
                <div id="job">Primary Care</div>
                <div id="email">pnewton@securehealth.com</div>
                <div id="phone">312-222-5555</div>
            </div>
        </div>

        <div class="popup_wrapper" id="cover_div"></div>
            <div class="Popup" id="passwordDiv" align="center" style="padding: 10px;min-width: 200px;height: auto"> 
                <div id='password_inner_div' style='padding : 2%'>
                    <h1 align='center'>Reset Password</h1>
                    <div id='confirmPassword' style='padding : 8%'>
                        <li class="w100 required"><label> Confirm Password</label><input type="password" id="confirmPassword_txt"/></li>
                        <div id="pass_mess">Password and confirm password does not match </div>
                    </div>
                    <button id='okPass' class='pop_btn'>OK</button>
                    <button id='cancelPass' class='pop_btn'>Cancel</button>
                </div>
            </div>
        

    </div>
    
    <!-- <div class="Popup" id="PopupDiv" align="center"></div> -->

</div>
