<div id="top-bar">
    <img id="logo" src="img/logo-top-bar.png" alt="">

    <img id="avatar" src="img/Maureen(Me)Avatar.png" alt="You">
    <ul id="top-bar-buttons">
        <li><button id="cancel">Cancel</button></li>
        <li><button id="save">Save</button></li>
    </ul>
</div>

<div id="main-container">
  <div id="box">
  	<p>Name : <%= firstName + ' ' + lastName%> </p>
  	<p>Email : <%= email %> </p>
  	<p>Birthday : <%= birthday %> </p>
  	<p>Address : <input id="address" type="text" value="<%= address %>"/> </p>
  </div>
</div>
<link rel="stylesheet" href="css/styles.css"/>