<div id="top-bar">
    <img id="logo" src="img/logo-top-bar.png" alt="">

    <img id="avatar" src="img/Maureen(Me)Avatar.png" alt="You">
    <ul id="top-bar-buttons">
        <li><button id="cancel">Cancel</button></li>
        <li><button id="save">Save</button></li>
    </ul>
</div>

<div id="main-container">
  <div id="main-tabs">
    <li id='general' class="selected">General Settings</li>
    <li id='privacy'>Privacy & Sharing</li>
    <li id='content'>Content</li>
    <li id='accessibility'>Accessibility</li>
  </div>

<!-- ****************** GENERAL ***************** -->
  <div id="general-body">
  	
    <form id="account-information">
      <h2>ACCOUNT INFORMATION</h2>
      <li class="w22"><label for="firstName">   First</label><input type="text" id="firstName"/></li>
      <li class="w22"><label for="middleName">  Middle</label><input type="text" id="middleName"/></li>
      <li class="w25"><label for="lastName">    Last</label><input type="text" id="lastName"/></li>
      <li class="w20"><label for="sex">         Sex</label><select id="sex"><option value="M">Male</option><option value="F">Female</option></select></li>

      <li class="w46"><label for="email">     Email</label><input type="email" id="email"/></li>
      <li class="w35"><label for="birthday">  Birthday</label><input type="date" id="birthday"/></li>
      <span class="age"> 25 years old</span>
      <br/>

      <li class="w46"><label for="address">  Home</label><textarea type="text" id="address"></textarea></li>
      <li class="w15"><img src="img/Maureen(Me)Avatar.png"/></li>
      <div id="loginInfo">
        <li class="w100"><label for="username">  Username</label><input type="text" id="username"/></li><br/>
        <li class="w100"><label for="password">  Password</label><input type="password" id="password"/></li>
      </div>

      <li class="w46"><label for="phone">  Home Phone</label><input type="number" id="phone"/></li>
      <li class="w47"><label for="mobile">  Mobile Phone</label><input type="number" id="mobile"/></li>
    </form>

    <h2>PHYSICIAN INFORMATION</h2>
    <div id="physicianBox">
      <div id="physician">
        <div id="name">Paul Newton</div>
        <div id="job">Primary Care</div>
        <div id="email">pnewton@securehealth.com</div>
        <div id="phone">312-222-5555</div>
      </div>
    </div>

    <h2>LINKED ACCOUNTS</h2>
    <div id="linkedBox">
      <div id="account">
        <div id="name">Paul Newton</div>
        <div id="job">Primary Care</div>
        <div id="email">pnewton@securehealth.com</div>
        <div id="phone">312-222-5555</div>
      </div>
    </div>

  </div>
</div>
