<!-- _________________ Top Half ___________________ -->

<div id="top">
	<div id="leftLogo">
		<img id="logo" src="img/logo-top-bar.png" alt="">
	</div>

	<div id="buttonContainer">
		<li class="btn">Done</li>
	</div>
</div>



<div id="videoContainer">
	<div id="previousVideo">
		<img/>
	</div>

	<div id="currentVideo">
		<iframe></iframe>
	</div>

	<div id="nextVideo">
		<img/>
	</div>
</div>

<div id="dots">
</div>

<!-- _________________ End Top Half ___________________ -->

<!-- _________________ Bottom Half ___________________ -->

<div id="videoDescription">
	<div id="title">
		<img src="img/VideoPlay.png"/>
		<h2>Low Sodium Lifestyle</h2>
	</div>

	<hr/>

	<div id="videoActions">
		<div id="time">
			<img src="img/VideoPlay.png"/>
			<p>1 min 28 sec</p>
		</div>

		<div id="actions">
			<img src="img/VideoPlay.png"/>
			<img src="img/VideoPlay.png"/>
			<img src="img/VideoPlay.png"/>
		</div>
	</div>

	<div id="description">
		<p>A low-sodium diet can cause you to initially lose weight because your body will require less water intake. Use a low-sodium diet to lose weight with help from a licensed and registered dietitian and nutritionist in this free video on weight loss.</p>
	</div>

	<div id="favBtn">
		<li class="btn decline">Remove from Favourites</li>
	</div>
</div>
