<div id="main-container">

    <section id="main-content">
        <!-- We need this single inner container for iScroll. -->
        <div>
            <div>
                <!-- Tab view. -->
                <ul id="content-tab-list">
                    <li id="widget-library">Widget Library</li>
                    <li id="my-widgets">My Widgets</li>
                    <li id="recommended-widgets">Recommended Widgets</li>                    
                </ul>

                <!-- This is the container for each tabs view item. -->
                <div id="home-content">
                	<h1>Widgets</h1>
                </div>

                <div id="adverts">
                    <img src="/img/AdPlaceholder.png" alt="Advert goes here.">
                    <h3>Driving Drowsy is as Dangerous as Driving Drunk<em> - Partner Ad</em></h3>
                    <span class="date">December 31, 2012</span>
                    <p>We all know the symptoms. Your eyelids droop and your vision becomes blurry. Your head feels so heavy that you can’t hold it up and so your chin keeps falling toward your chest. You can’t stop yawning. Diagnosis is clear to most of us: You’re sleepy.</p>
                </div>
            </div>
        </div>
    </section>
</div>
