<div id="topBar">

	<div id="buttons">
		<li id="foodometer" class="itemBox selected">
			<!-- These images can be changed to the new icons for widgets -->
			<img src="img/AdPlaceholder.png"/>Foodometer
		</li>

		<li id="busyBody" class="itemBox">
			<img src="img/AdPlaceholder.png"/>BusyBody
		</li>

		<li id="medBot" class="itemBox">
			<img src="img/AdPlaceholder.png"/>MedBot
		</li>

		<li id="myStats" class="itemBox">
			<img src="img/AdPlaceholder.png"/>My Stats
		</li>
<!-- Only up to My Stats is needed

		<li id="learning" class="itemBox">
			<img src="img/AdPlaceholder.png"/>Learning
		</li>

		<li id="drVisits" class="itemBox">
			<img src="img/AdPlaceholder.png"/>Dr. Visits
		</li>

		<li id="wellBeing" class="itemBox">
			<img src="img/AdPlaceholder.png"/>Well Being
		</li>
-->
	</div>

	<li id="closeBtn" class="btn">
		<img src="img/corner-logo.png"/>
	</li>

</div>

<!-- <div id="panelTopBar">
	Overview
	<li id="settingsBtn" class="btn">
		<img src="img/OptionsGear.png"/>
	</li>
</div> -->

<div id="childContent">
	<div id="scroller"></div>
</div>
