<div id="topBar">

	<div id="buttons">
		<li id="foodometer" class="itemBox selected">
			<img src="img/widgets/corewidgets/01_0001_foodometer.png"/>Foodometer
		</li>

		<li id="busyBody" class="itemBox">
			<img src="img/widgets/corewidgets/01_0002_busy_body.png"/>BusyBody
		</li>

		<li id="medBot" class="itemBox">
			<img src="img/widgets/corewidgets/01_0004_med-bot.png"/>MedBot
		</li>

		<li id="myStats" class="itemBox">
			<img src="img/widgets/corewidgets/01_0005_my_stats.png"/>My Stats
		</li>
	</div>

	<li id="closeBtn" class="btn">
		<img src="img/corner-logo.png"/>
	</li>

</div>

<!-- <div id="panelTopBar">
	Overview
	<li id="settingsBtn" class="btn">
		<img src="img/OptionsGear.png"/>
	</li>
</div> -->

<div id="childContent">
	<div id="scroller"></div>
</div>
