<div id="topBar">

	<div id="buttons">
		<li id="foodometer" class="itemBox selected">
			<img src="img/AdPlaceholder.png"/>Foodometer
		</li>

		<li id="busyBody" class="itemBox">
			<img src="img/AdPlaceholder.png"/>BusyBody
		</li>

		<li id="medBot" class="itemBox">
			<img src="img/AdPlaceholder.png"/>MedBot
		</li>

		<li id="myStats" class="itemBox">
			<img src="img/AdPlaceholder.png"/>My Stats
		</li>
	</div>

	<li id="closeBtn" class="btn">
		<img src="img/corner-logo.png"/>
	</li>

</div>

<div id="panelTopBar">
	Overview
	<li id="settingsBtn" class="btn">
		<img src="img/OptionsGear.png"/>
	</li>
</div>

<div id="childContent">
</div>
