<h1>Alerts</h1>

<div class="alert redtip">
	You haven't completed your health risk assessment.
	<span id="date">Yesterday</span>
</div>


<h1>Reminders</h1>

<div class="alert orangetip">
	You haven't completed your health risk assessment.
	<span id="date">Yesterday</span>
</div>
<div class="alert greentip">
	You haven't completed your health risk assessment.
	<span id="date">Yesterday</span>
</div>


<h1>Expirations</h1>
<p> No expirations added yet.</p>


<br/><br/>
<button id="add-alert">Click here to add alert</button>