<div id="buttons">
	<li id="all">		All 		<span id="number"></li>
	<li id="alerts">	Alerts 		<span id="number"></li>
	<li id="reminders"> Reminders   <span id="number"></li>
	<li id="expirations">Expirations<span id="number"></li>
</div>

<div id="alert-list">
	<h1>Alerts</h1>

	<div class="alert redtip">
		You haven't completed your health risk assessment.
		<span id="date">Yesterday</span>
	</div>
</div>

<div id="reminder-list">
	<h1>Reminders</h1>

	<div class="alert orangetip">
		You haven't completed your health risk assessment.
		<span id="date">Yesterday</span>
	</div>
	<div class="alert greentip">
		You haven't completed your health risk assessment.
		<span id="date">Yesterday</span>
	</div>

	<div class="alert orangetip">
		You haven't completed your health risk assessment.
		<span id="date">Yesterday</span>
	</div>
	<div class="alert greentip">
		You haven't completed your health risk assessment.
		<span id="date">Yesterday</span>
	</div>
</div>


<div id="expiration-list">
	<h1>Expirations</h1>
	<p> No expirations added yet.</p>
</div>


<br/><br/>
<button id="add-alert">Click here to add alert</button>