<div id="buttons">
	<li id="allBtn">		All 		<span id="number"></li>
	<li id="alertsBtn">		Alerts 		<span id="number"></li>
	<li id="remindersBtn"> 	Reminders   <span id="number"></li>
	<li id="expirationsBtn">Expirations <span id="number"></li>
</div>

<div id="alert-list">
	<h1>Alerts</h1>

	<div class="alert redtip">
		You haven't completed your health risk assessment.
		<span id="date">Yesterday</span>
	</div>
</div>

<div id="reminder-list">
	<h1>Reminders</h1>

	<div class="alert orangetip">
		You haven't completed your health risk assessment.
		<span id="date">Yesterday</span>
	</div>
	<div class="alert greentip">
		You haven't completed your health risk assessment.
		<span id="date">Today</span>
	</div>

	<div class="alert orangetip">
		You haven't completed your health risk assessment.
		<span id="date">02/14/13</span>
	</div>
	<div class="alert greentip">
		You haven't completed your health risk assessment.
		<span id="date">05/27/13</span>
	</div>
</div>


<div id="expiration-list">
	<h1>Expirations</h1>
	<p> No expirations added yet.</p>
</div>


<br/><br/>
<button id="add-alert">Click here to add alert</button>