<div id="research-desk">
    <div id="researchWrapper">
        <!--        <div style="background: url('img/research/research_desk_1.png')">-->
        <div>
            <img src="img/research/research_desk_1.png" id="pencil-desk"/>
        </div>
        <div id="reserchInnerDiv">  
            <div id="informationTop"> <div id="assistantBtn" class="research-menuBtn">
                    <div class="btnTitle1">Decision</div>
                    <div class="btnTitle2">Assistance</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div>
            </div>

            <div id="assistantList" class="dataGrid">
                <div id="omniDetailsHead">
                    <div id="showTests" class="risk-backBtn"></div>
                    <div>Angioplasty and stenting</div>
                    <div id="risk-rightBtn">
                        <div id="risk-sendBtn"><div>Send</div></div>
                        <div id="risk-shareBtn"><div>Share</div></div>
                    </div>

                </div>
                <div id="assistantListArea">
                    <div class="headLine">Introduction</div>
                    <div class="assistant-commonText" id="angioTextArea">
                        The purpose of this tool is to help you decide whether or not to have angioplasty or stenting. When
                        making a decision like this, you must balance:
                        <br><br>
                        <ul >
                            <li>The reasons for having the procedure</li>
                            <li>The potential health risks, drawbacks, or limitations of the procedure</li>
                            <li>Whether there are alternative procedures that may be more appropriate</li>
                            <li>Cost</li>
                        </ul>
                        <br>
                        This tool is not a substitute for professional medical care and advice. Work with your doctor to help you
                        make this decision. A second opinion from another doctor may be valuable. There is usually no exact
                        “right” or “wrong” answer.
                        <br><br>
                        Your doctor may make certain recommendations to you. However, the final decision about whether to
                        have this procedure rests with you.
                    </div>
                    <br>
                    <div class="brown-headline">What is the procedure?</div>
                    <div class="assistant-commonText">
                        Angioplasty is a medical procedure in which a balloon is inserted through a catheter and used to open
                        narrowed or blocked blood vessels of the heart (coronary arteries). It is not considered surgery.
                    </div><br>
                    <div id="angioImg"></div>
                    <div id="angioTextArea" class="assistant-commonText">Fat and cholesterol can accumulate on the inside of arteries and form deposits called plaque. This
                        disease process is called atherosclerosis. This accumulation can block or narrow arteries that supply
                        blood to the heart.</div>
                    <div id="angio-animationDiv">
                        <div id="angioUpperAnimation">
                            <div id="animation-smallImg"></div>
                            <div id="angioInnerText" >Click the icon to see an animation showing atherosclerosis.</div>
                            <div id="angioArrow"></div>
                        </div>
                        <div id="angioMoreDetails"></div>
                    </div><br>
                    <div id="angioTextArea" class="assistant-commonText">
                        If the blockage is not too severe, a balloon catheter may be used to open the heart artery as an
                        alternative to open heart surgery. The catheter is a small, hollow, flexible tube that has a balloon near
                        the end of it.
                    </div><br>
                    <div class="gray-bigHeadline">Angioplasty may treat:</div>
                    <div id="angioTextArea" class="assistant-commonText">
                        <ul >
                            <li>Persistent chest pain (angina)</li>
                            <li>Blockage of one or more coronary arteries</li>
                            <li>Residual obstruction in a coronary artery during or after a heart attack..........
                                Friday, May</li>
                        </ul>
                    </div><br>
                    <div id="angio-startBtn"><div>Start</div></div>

                </div>

            </div>
        </div>
        <div id="research-menu">
            <div id="omnibtn1">
                <div class="btnTitle1">Wellness</div>
                <div class="btnTitle2">OmniPedia</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn2">
                <div class="btnTitle1">Drug</div>
                <div class="btnTitle2">Information</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn3">
                <div class="btnTitle1">Drug</div>
                <div class="btnTitle2">Interactions</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn4">
                <div class="btnTitle1">Symptom</div>
                <div class="btnTitle2">Navigator</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn5">
                <div class="btnTitle1">Risk Factor</div>
                <div class="btnTitle2">Navigator</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn6">
                <div class="btnTitle1">Decision</div>
                <div class="btnTitle2">Assistant</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn7">
                <div class="btnTitle1">Care</div>
                <div class="btnTitle2">Guides</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn8">
                <div class="btnTitle1">Wellness</div>
                <div class="btnTitle2">Tools</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div>

        </div>
        <div id="modalMask1" style="display: block;"></div>
        <div id="popupDeatils" style="display:block">
            <div id="angio-popupHead">
                <img id="angioCloseBtn" src="img/research/risk-factor/bu-close-small.png">
            </div>
            <div id="popup-inner">
                <div class="brown-headline">
                    Balloon Angioplasty
                </div><br>
                <div class="risk-commonText">
                    This animation shows the use of balloon angioplasty to open a narrowed coronary artery
                    lumen caused by deposits of plaque.
                </div>
                <div id="angio-popupImg"></div>
                <br>
            </div>
        </div>
    </div>


