<div id="research-desk">
    <div id="researchWrapper">
        <!--        <div style="background: url('img/research/research_desk_1.png')">-->
        <div>
            <img src="img/research/research_desk_1.png" id="pencil-desk"/>
        </div>
        <div id="reserchInnerDiv">  
            <div id="informationTop"> <div id="assistantBtn" class="research-menuBtn">
                    <div class="btnTitle1">Decision</div>
                    <div class="btnTitle2">Assistance</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div>
            </div>

            <div id="assistantList" class="dataGrid">
                <div id="omniDetailsHead">
                    <div id="showAngioStep1" class="risk-backBtn"></div>
                    <div>Angioplasty and stenting</div>
                    <div id="risk-rightBtn">
                        <div id="risk-sendBtn"><div>Send</div></div>
                        <div id="risk-shareBtn"><div>Share</div></div>
                    </div>

                </div>
                <div id="assistantListArea">
                    <div class="headLine">  Step 2 of 4: Feedback</div>
                    <div class="assistant-commonText">
                        Here is some important feedback on the factors that you just selected. Please read each of them
                        carefully. Remember that this tool should not be considered a definitive assessment of whether this
                        procedure is right for you. Work with your physician to decide when to have this procedure.
                    </div>
                    <br>
                    <div class="brown-headline">
                        Yes to the procedure
                    </div><br>
                    <div style="position: relative">
                        <div id="bullets"> <img src="img/research/alert-green.png"></div>
                        <div class="angioGray-headline">
                            Your doctor says that you have one or two small (circumscribed) blockages or lesions in
                            your artery.
                        </div>
                    </div>
                    <div class="angio-box assistant-commonText">
                        Small artery blockages usually are confined to a limited area and may be easy to reach
                        through angioplasty or stenting. Therefore, angioplasty and stenting are often the best ways
                        to treat such blockages.
                    </div>
                    <br>
                    <div style="position: relative">
                        <div id="bullets"> <img src="img/research/alert-red.png"></div>
                        <div class="angioGray-headline">
                            You are age 75 or older and have heart disease, but you want to remain active for as
                            long as possible.
                        </div>
                    </div>
                    <div class="angio-box assistant-commonText">
                        The risks and benefits of heart procedures for patients 75 and over are not as well-known as
                        they are for younger patients. Depending on whether or not you recently had a heart attack
                        or have additional health problems, angioplasty and stenting may significantly reduce your
                        chances of dying from a heart attack compared to taking medicine alone. Talk to your doctor
                        about what might be best for your situation.
                    </div>
                    <div id="center-btns">
                        <div id="angio-step2-prevImg"><div>Previous</div></div>
                        <div id="angio-step2-nextImg"><div>Next</div></div>
                    </div>

                </div>
            </div>
            <div id="research-menu">
                <div id="omnibtn1">
                    <div class="btnTitle1">Wellness</div>
                    <div class="btnTitle2">OmniPedia</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn2">
                    <div class="btnTitle1">Drug</div>
                    <div class="btnTitle2">Information</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn3">
                    <div class="btnTitle1">Drug</div>
                    <div class="btnTitle2">Interactions</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn4">
                    <div class="btnTitle1">Symptom</div>
                    <div class="btnTitle2">Navigator</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn5">
                    <div class="btnTitle1">Risk Factor</div>
                    <div class="btnTitle2">Navigator</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn6">
                    <div class="btnTitle1">Decision</div>
                    <div class="btnTitle2">Assistant</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn7">
                    <div class="btnTitle1">Care</div>
                    <div class="btnTitle2">Guides</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn8">
                    <div class="btnTitle1">Wellness</div>
                    <div class="btnTitle2">Tools</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div>

            </div>
        </div>


