<div id="research-desk">
    <div id="researchWrapper">
        <!--        <div style="background: url('img/research/research_desk_1.png')">-->
        <div>
            <img src="img/research/research_desk_1.png" id="pencil-desk"/>
        </div>
        <div id="reserchInnerDiv">
            <div id="informationTop"> <div id="assistantBtn" class="research-menuBtn">
                    <div class="btnTitle1">Decision</div>
                    <div class="btnTitle2">Assistance</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div>
            </div>
            <div id="assistant-tabs">
                <!-- Tab view. -->
                <ul id="assistant-tabs-num">
                    <li id="surgeries">Surgeries / Procedures</li>
                    <li id="tests-tab">Tests</li>
                    <li id="medications">Medications</li>
                    <li id="specialist">Specialist Referral</li>
                </ul>
            </div>
            <div id="assistant-tab-area">
            </div>



        </div>
        <div id="research-menu">
            <div id="omnibtn1">
                <div class="btnTitle1">Wellness</div>
                <div class="btnTitle2">OmniPedia</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn2">
                <div class="btnTitle1">Drug</div>
                <div class="btnTitle2">Information</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn3">
                <div class="btnTitle1">Drug</div>
                <div class="btnTitle2">Interactions</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn4">
                <div class="btnTitle1">Symptom</div>
                <div class="btnTitle2">Navigator</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn5">
                <div class="btnTitle1">Risk Factor</div>
                <div class="btnTitle2">Navigator</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn6">
                <div class="btnTitle1">Decision</div>
                <div class="btnTitle2">Assistant</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn7">
                <div class="btnTitle1">Care</div>
                <div class="btnTitle2">Guides</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn8">
                <div class="btnTitle1">Wellness</div>
                <div class="btnTitle2">Tools</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div>

        </div>
    </div>
</div>

