<div id="tab-surgeries">
    <div class="brown-headline">Tests</div>
    <div class="risk-commonText">
        Select from the list of tools to help you make important decisions about your healthcare options.
    </div>
  

</div>

<div id="assestant-surgries">
    <div class="floatLeft">
        <div class="assistanceBtn">Amniocentesis</div>
        <div class="assistanceBtn">Angiography</div>
        <div class="assistanceBtn">Colon cancer screening</div>
        <div class="assistanceBtn">CCT scan</div>
        <div class="assistanceBtn">ECG</div>
        <div class="assistanceBtn">GI tests</div>
        <div class="assistanceBtn">Heart catheterization</div>
    </div>
    <div class="floatRight">
        <div class="assistanceBtn">Mammography</div>
        <div class="assistanceBtn">MRI</div>
        <div class="assistanceBtn">Prostate biopsy</div>
        <div class="assistanceBtn">Prostate cancer test</div>
        <div class="assistanceBtn">Ultrasound</div>
        <div class="assistanceBtn">X-ray</div>
    </div>

</div>