<div id="tab-surgeries">
    <div class="brown-headline">Tools to help you make the right decisions</div>
    <div class="risk-commonText">
        DecisionAssist tools can help you make important decisions about your healthcare options. These
        decisions include whether to have a particular surgery, proceed with a test, take certain medications, or
        use other healthcare services.
    </div>
    <div class="risk-commonText"><br>The tools allow you to select from a list of the most common factors to consider in making your
        decision, so that you can weigh and learn more about the factors that are most important to you. The
        tools also provide key points, questions to ask your doctor, recommended reading, and alternative
        options.</div>
    <div class="brown-headline">Surgeries and Procedures</div>

</div>

<div id="assestant-surgries">
    <div class="floatLeft">
        <div class="assistanceBtn">Angioplasty and stenting</div>
        <div class="assistanceBtn">Back surgery</div>
        <div class="assistanceBtn">Bowel resection</div>
        <div class="assistanceBtn">Carotid artery surgery</div>
        <div class="assistanceBtn">Cataract removal</div>
        <div class="assistanceBtn">Cesarean section</div>
        <div class="assistanceBtn">Ear tube insertion</div>
    </div>
    <div class="floatRight">
        <div class="assistanceBtn">Angioplasty and stenting</div>
        <div class="assistanceBtn">Back surgery</div>
        <div class="assistanceBtn">Bowel resection</div>
        <div class="assistanceBtn">Carotid artery surgery</div>
        <div class="assistanceBtn">Cataract removal</div>
        <div class="assistanceBtn">Cesarean section</div>
        <div class="assistanceBtn">Ear tube insertion</div>
    </div>

</div>