<div id="toolsBodyMass">
                    <div class="brown-headline">
                        Body Mass Index Calculator
                    </div>
                    <div class="risk-commonText">
                        Approximate how much body fat you have by simply entering your height and weight.
                    </div>
                    <div id="tools-bodyMass-cal">
                        <div id="bodyMassCal">
                            <div class="gray-bigHeadline">Current weight:</div>
                            <div>
                                <input class="toolsCalInputType" type="text" id="bodyWeight"></input>
                                <select class="toolsCalInputType" id="bodyWeightUnit">
                                    <option value="Pounds">Pounds</option>
                                    <option value="Punds">Kilograms</option>
                                </select>
                            </div>
                            <div class="gray-bigHeadline">Current height:</div>
                            <div>
                                <input class="toolsCalInputType" type="text" id="bodyHeightFeet"></input>
                                <select class="toolsCalInputType" id="bodyFeet">
                                    <option value="Feet">Feet</option>
                                </select>
                                <input class="toolsCalInputType" type="text" id="bodyHeightInches"></input>
                                <select class="toolsCalInputType" id="bodyInches">
                                    <option value="Inches">Inches</option>
                                </select>
                            </div>
                            <div class="gray-bigHeadline">Status</div>
                            <div><select class="toolsCalInputType" id="bodyStatus">
                                    <option value="SelectOne">--Select one--</option>
                                </select>
                            </div>
                        </div>
                        <img src="img/research/tools/icon-man.png" class="toolsImg"/>
                    </div>
                     <div class="risk-commonText">
                                Note: The BMI ranges used in this calculator derive from the BMI guidelines of the National Heart,
                                Lung, and Blood Institute (NHLBI), in cooperation with the National Institute of Diabetes and Digestive
                                and Kidney Diseases (NIDDK), of the National Institutes of Health, as published in Clinical Guidelines on
                                the Identification, Evaluation, and Treatment of Overweight and Obesity in Adults, 1998.
                            </div>
                            <div id="bodyMassSubmit">Submit</div>
                </div>