<div id="toolsBodyMass">
    <div class="brown-headline">
        Calorie Burner Counter Calculator
    </div>
    <div class="risk-commonText">
        Estimate how many calories your favorite activity burns.
    </div>
    <div id="tools-bodyMass-cal">
        <div id="bodyMassCal">
            <div class="gray-bigHeadline">Current weight:</div>
            <div>
                <input class="toolsCalInputType" type="text" id="calorieWeight"></input>
                <select class="toolsCalInputType" id="caloriesWeightUnit">
                    <option value="Pounds">Pounds</option>
                    <option value="Punds">Kilograms</option>
                </select>
            </div>
            <div class="gray-bigHeadline">Physical activity:</div>
            <div>

                <select class="toolsCalInputType" id="phyActivity">
                    <option value="bkPacking">Backpacking</option>
                </select>

            </div>
            <div class="gray-bigHeadline">Duration of workout:</div>
            <div>
                <input class="toolsCalInputType" type="text" id="dur-workout"></input>
                <select class="toolsCalInputType" id="clorieWeightUnit">
                    <option value="Pounds">Minutes</option>
                </select>
            </div>
        </div>
        <img src="img/research/tools/icon-stopwatch.png" class="toolsImg"/>
    </div>
    <div class="risk-commonText">
        Note: The Calorie Burner Counter provides only an estimate of the number of calories burned for a
        given activity and duration. This estimate is derived from Ainsworth, B.E., et al. "Compendium of
        Physical Activities: Classification of Energy Costs of Human Physical Activities." Medicine and Science in
        Sports and Exercise. 1993. Actual calories burned may vary, depending on the intensity of the workout,
        the age and body composition of the exerciser and other factors. Not all types of physical activity are
        appropriate or safe for all individuals. If you have any health conditions or concerns, talk to your health
        care provider before beginning or significantly increasing your physical activity program.
    </div>
    <div id="calorieSubmit">Submit</div>
</div>