<h1>My Conditions

	<img id="viewBtn" src="img/Search.png"/>
</h1>

<div id="recentVisits" class="dataGrid">
	<div id="title">
		<h2>Recent Visits</h2>
	</div>
	<div id="body">
<!--		<div id="row">
			<span class="name">Father</span>
			<span class="value">Heart Disease</span>
		</div>
		<div id="row">
			<span class="name">Father</span>
			<span class="value">High Blood-Pressure</span>
		</div>
		<div id="row">
			<span class="name">Grandmother</span>
			<span class="value">Glaucoma</span>
		</div>-->
	</div>
</div>

<div id="problems" class="dataGrid">
	<div id="title">
		<h2>Problems</h2>
	</div>
	<div id="body">
<!--		<div id="row">
			<span class="name">Tobacco</span>
			<span class="value">Yes</span>
		</div>
		<div id="row">
			<span class="name">Alcohol</span>
			<span class="value">Yes</span>
		</div>
		<div id="row">
			<span class="name">Married</span>
			<span class="value">No</span>
		</div>-->
	</div>
</div>

<div id="procedures" class="dataGrid">
	<div id="title">
		<h2>Procedures</h2>
	</div>
	<div id="body">
<!--		<div id="row">
			<span class="name">Tobacco</span>
			<span class="value">Yes</span>
		</div>
		<div id="row">
			<span class="name">Alcohol</span>
			<span class="value">Yes</span>
		</div>
		<div id="row">
			<span class="name">Married</span>
			<span class="value">No</span>
		</div>-->
	</div>
</div>

<div id="allergies" class="dataGrid">
	<div id="title">
		<h2>Allergies</h2>
	</div>
	<div id="body">
<!--		<div id="row">
			<span class="name">Tobacco</span>
			<span class="value">Yes</span>
		</div>
		<div id="row">
			<span class="name">Alcohol</span>
			<span class="value">Yes</span>
		</div>
		<div id="row">
			<span class="name">Married</span>
			<span class="value">No</span>
		</div>-->
	</div>
</div>