<h1>My Conditions

	<img id="viewBtn" src="img/healthHub/View.png"/>
</h1>

<div id="recentVisits" class="dataGrid">
	<div id="title">
		<h2>Recent Visits</h2>
	</div>
	<div id="body">
	</div>
</div>

<div id="problems" class="dataGrid">
	<div id="title">
		<h2>Problems</h2>
	</div>
	<div id="body">
	</div>
</div>

<div id="procedures" class="dataGrid">
	<div id="title">
		<h2>Procedures</h2>
	</div>
	<div id="body">
	</div>
</div>

<div id="allergies" class="dataGrid">
	<div id="title">
		<h2>Allergies</h2>
	</div>
	<div id="body">
	</div>
</div>