<div id ="selector">
	<div id="medicineBar">
		<span id="searchMeds">
			<input type="text" id="medSearch"/>
			<img id="searchImg" src="img/search.png"/>
		</span>

		<span id="medicineOptions">
			<img id="viewOpt" src="img/medicine/bu-eye.png"/>
			<img id="addOpt" src="img/medicine/bu-plus.png"/>
		</span>
	</div>

	<!-- <div id="scrollContainer">
		<div id="scroller">

		</div>
	</div> -->

	<div id="medWrap" class="medWrap">
		<div id="medCabinet" class="medCab">
			<div id="shelf" class="shelf">
				<span id="shelf1">
					<img src="img/medicine/shelf.png" style="width:100%;"/>
				</span>
			</div>
			<div id="shelf" class="shelf">
				<span id="shelf2">
					<img src="img/medicine/shelf.png" style="width:100%;"/>
				</span>
			</div>
			<div id="shelf" class="shelf">
				<span id ="shelf3">
					<img src="img/medicine/shelf.png" style="width:100%;"/>
				</span>
			</div>
		</div>
	</div>

	<div id='viewOptionPopup' class="popup">
		<li></li>
		<li></li>
		<li></li>
	</div>
</div>