<div id="featuredMeds">
	<div id ="selector">
		<div id="medicineBar">
			<span id="searchMeds">
				<input type="text" id="medSearch"/>
				<img id="searchImg" src="img/library/SearchSpyglass.png"/>
			</span>

			<span id="medicineOptions">
				<img id="viewOpt" src="img/medicine/bu-eye.png"/>
				<img id="addOpt" src="img/medicine/bu-plus.png"/>
			</span>
		</div>

		<!-- <div id="scrollContainer">
			<div id="scroller">

			</div>
		</div> -->

		<div id="medWrap" class="medWrap">
			<div id="medCabinet" class="medCab">
				<div id="shelf" class="shelf">
					<span id="shelf1">
						<ul>
							<li><img src="img/medicine/med-icons/pill-bottle.png"/>Multivitamin tablet</li>
							<li><img src="img/medicine/med-icons/cream.png"/>Clotrimazole 1% cream</li>
							<li><img src="img/medicine/med-icons/cream.png"/>Benzoyl peroxide cream </li>
						</ul>
					</span>
					<img src="img/medicine/shelf.png" style="width:100%;"/>
				</div>
				<div id="shelf" class="shelf">
					<span id="shelf2">
						<ul>
							<li><img src="img/medicine/med-icons/drops-botle.png"/>Olopatadine 2% solution
							</li>
							<li><img src="img/medicine/med-icons/injection-bottle.png"/>Insulin 70/30 injectable
							</li>
							<li><img src="img/medicine/med-icons/cough-syrup.png"/>Guaifenesin-codiene syrup
							</li>
						</ul>
					</span>
					<img src="img/medicine/shelf.png" style="width:100%;"/>
				</div>
				<div id="shelf" class="shelf">
					<span id ="shelf3">
						<ul>
							<li><img src="img/medicine/med-icons/other-items.png"/>Albuterol 90mcg MDI</li>
							<li><img src="img/medicine/med-icons/nebulizer.png"/>Albuterol solution</li>
							<li><img src="img/medicine/med-icons/pill-bottle.png"/>Phenytoin 100mg capsule</li>
						</ul>
					</span>
					<img src="img/medicine/shelf.png" style="width:100%;"/>
				</div>
				<div id="shelf" class="shelf">
					<span id ="shelf4">
						<ul>
							<li><img src="img/medicine/med-icons/rx-bottle.png"/>Diltiazem 120mg capsule</li>
							<li><img src="img/medicine/med-icons/cream.png"/>Hydrocortisone cream</li>
							<li><img src="img/medicine/med-icons/spray-bottle.png"/>Mometasone-nasal spray</li>
						</ul>
					</span>
					<img src="img/medicine/shelf.png" style="width:100%;"/>
				</div>
			</div>

			<div id="listView" style="display:none;">
				<h1>Medecine List</h1>
			</div>
		</div>
	</div>
</div>