<div id="featuredMeds">
	<div id ="selector">
		<div id="medicineBar">
			<span id="searchMeds">
				<input type="text" id="medSearch"/>
				<img id="searchImg" src="img/Search.png"/>
			</span>

			<span id="medicineOptions">
				<img id="viewOpt" src="img/medicine/bu-eye.png"/>
				<img id="addOpt" src="img/medicine/bu-plus.png"/>
			</span>
		</div>

		<!-- <div id="scrollContainer">
			<div id="scroller">

			</div>
		</div> -->

		<div id="medWrap" class="medWrap">
			<div id="medCabinet" class="medCab">
				<div id="shelf" class="shelf">
					<span id="shelf1">
						<ul>
							<li><img src="img/medicine/med-icons/pill-bottle.png"/>multivitamin tablet</li>
							<li><img src="img/medicine/med-icons/cream.png"/>clotrimazole 1% cream</li>
							<li><img src="img/medicine/med-icons/cream.png"/>benzoyl peroxide cream </li>
						</ul>
					</span>
					<img src="img/medicine/shelf.png" style="width:100%;"/>
				</div>
				<div id="shelf" class="shelf">
					<span id="shelf2">
						<ul>
							<li><img src="img/medicine/med-icons/drops-botle.png"/>olopatadine 2% solution
							</li>
							<li><img src="img/medicine/med-icons/injection-bottle.png"/>insulin 70/30 injectable
							</li>
							<li><img src="img/medicine/med-icons/cough-syrup.png"/>guaifenesin-codiene syrup
							</li>
						</ul>
					</span>
					<img src="img/medicine/shelf.png" style="width:100%;"/>
				</div>
				<div id="shelf" class="shelf">
					<span id ="shelf3">
						<ul>
							<li><img src="img/medicine/med-icons/other-items.png"/>albuterol 90mcg MDI</li>
							<li><img src="img/medicine/med-icons/nebulizer.png"/>albuterol solution</li>
							<li><img src="img/medicine/med-icons/pill-bottle.png"/>phenytoin 100mg capsule</li>
						</ul>
					</span>
					<img src="img/medicine/shelf.png" style="width:100%;"/>
				</div>
				<div id="shelf" class="shelf">
					<span id ="shelf4">
						<ul>
							<li><img src="img/medicine/med-icons/rx-bottle.png"/>diltiazem 120mg capsule</li>
							<li><img src="img/medicine/med-icons/cream.png"/>hydrocortisone cream</li>
							<li><img src="img/medicine/med-icons/spray-bottle.png"/>mometasone-nasal spray</li>
						</ul>
					</span>
					<img src="img/medicine/shelf.png" style="width:100%;"/>
				</div>
			</div>

			<div id="listView" style="display:none;">
				<h1>Medecine List</h1>
			</div>
		</div>
	</div>
</div>