 <div id="general-risk">
                    <p id="risk-headlines"><b>Get an overall view of your health by using the General Risk Assessment tool</b></p>
                    <p id="risk-details">This assessment covers important areas such as diet, exercise, smoking, and blood pressure. When you
                        are done, you'll receive customized messages to explain your risks and help you take next steps. You'll
                        also receive links to read more about your risks.</p>
                    <div id="general-riskBtn">General Risk Assessment</div>
                    <img id="risk-logo" src="img/research/risk-factor/peach-logo-gray.png"/>
                </div>