<div id="toolsBodyMass">
    <div class="brown-headline">
        Target Heart Rate Calculator
    </div>
    <div class="risk-commonText">
        Know your target heart rate to help you get the most out of your exercise.
    </div>
    <div id="tools-age-cal">
        <div id="ageCal">
            <div id="ageLabel" class="gray-bigHeadline">Age:</div>
            <div>
                <input class="toolsCalInputType" type="text" id="heartRateAge"></input>
            </div>
        </div>
        <img src="img/research/tools/icon-heart.png" id="heartRateImg"/>
    </div>
    <div class="risk-commonText">
        Note: This tool is not applicable to children. The maximum heart rate in healthy children is about 200
        beats per minute. According to the American Heart Association, there is no need to arbitrarily restrict
        healthy children to lower heart rates.
    </div>
    <div id="heartRateSubmit">Submit</div>
    <br><br>
    <div class="brown-headline">ENTERING YOUR INFORMATION</div>
    <div class="risk-commonText">
        During exercise, you want to elevate your heart rate to strengthen it while avoiding rates that endanger
        it. According to the American Heart Association, the best heart rates to achieve during exercise are
        between 50 - 85% of your maximum heart rate.
        <br><br>
        Use our Target Heart Rate Calculator to compute the appropriate heart rate for people your age to
        achieve during exercise. If you're beginning an exercise program, you should aim for the low end of
        this range. More experienced exercisers can aim for higher target rates.
    </div>
</div>