<div id="research-desk">
    <div id="researchWrapper">
        <!--        <div style="background: url('img/research/research_desk_1.png')">-->
        <div>
            <img src="img/research/research_desk_1.png" id="pencil-desk"/>
        </div>
        <div id="reserchInnerDiv">
            <div id="informationTop"> <div id="infoBtn">
                    <div class="btnTitle1">Drug</div>
                    <div class="btnTitle2">Information</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div></div>
            <div id="outerBox">
                <div id="innerBox">
                    Locate a drug by typing keywords
                    into the search box. Tap items in the
                    found list to learn more about them.
                </div>

            </div>

            <div id="infoList" class="dataGrid">
                <div id="infoResult">48 results found</div>
                <div id="search_information">
                    <img id="magnify" src="img/widgets/widgetpngfiles/bu-magnify.png">
                    <input id="onmi_search" type="text" placeholder="Search">
                    <img id="clrBtn" src="img/widgets/widgetpngfiles/bu-x-out.png"></img>

                </div>
                <div id="infoListArea">
                    <div id="infoDetails" class="box">

                    </div>
                </div>
            </div>

            

        </div>
         <div id="research-menu">
            <div id="omnibtn1">
                <div class="btnTitle1">Wellness</div>
                <div class="btnTitle2">OmniPedia</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn2">
                <div class="btnTitle1">Drug</div>
                <div class="btnTitle2">Information</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn3">
                <div class="btnTitle1">Drug</div>
                <div class="btnTitle2">Interactions</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn4">
                <div class="btnTitle1">Symptom</div>
                <div class="btnTitle2">Navigator</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn5">
                <div class="btnTitle1">Risk Factor</div>
                <div class="btnTitle2">Navigator</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn6">
                <div class="btnTitle1">Decision</div>
                <div class="btnTitle2">Assistant</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn7">
                <div class="btnTitle1">Care</div>
                <div class="btnTitle2">Guides</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn8">
                <div class="btnTitle1">Wellness</div>
                <div class="btnTitle2">Tools</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div>

        </div>
    </div>
</div>

