<div id="infoBtn" class="topBtn">
    <div class="btnTitle1">Drug</div>
    <div class="btnTitle2">Information</div>
    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
</div>
<div id="infoBox">
    Locate a drug by typing keywords
    into the search box. Tap items in the
    found list to learn more about them.
</div>

</div>

<div id="frameContainer">
    <iframe src="https://securehealthhub-2mzdpxsuthcolhscb40uonnh-live_securehealthhub.df.live.u101.feedhenry.net/cloud/drugInformation"></iframe>
</div>
