<div id="infoBtn" class="topBtn">
    <div class="btnTitle1">Drug</div>
    <div class="btnTitle2">Information</div>
    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
</div>
<div id="infoBox">
    Locate a drug by typing keywords
    into the search box. Tap items in the
    found list to learn more about them.
</div>

</div>

<div id="frameContainer">
    <!-- <iframe src="http://thomson4.adam.com/content.aspx?productId=46&gid=200000"></iframe> -->
    <iframe src="http://securehealthhub.adam.com/content.aspx?productId=117"></iframe>
</div>
