    <script language="javascript" type="text/javascript" src="app/lib/dygraph-combined.js"></script>
    
    
    
    
    
<img id="insight_options" src="img/calendar/IconCalendar.png" align ="right"/>
<h1>Today is <%= this.dayWeek%>,<%= this.monthName[this.month]+" "+this.day+", "+this.year%> </h1>
<!--<img src="img/calendar/insights.png"/>-->
<div id="insight_div">
    <div align="center" style="padding-top: 30px">
        <table>
            <tr>
                <td rowspan="2" padding-right: 10px>
                    <img src="img/calendar/FaceHappy@2x.png" align ="right" style="height: 60px;margin-right: 10px"></img>
                </td>
                <td style="font-size: 19px;">
                    This Week
                </td>
            </tr>
            <tr><td style="vertical-align: top;font-size: 30px;font-weight: bold"> DOING GREAT</td></tr>
        </table>

    </div>
     <div id="insight_graph" style="width: 100%; height: 200px;">
<!--             <img  src="img/calendar/IconPeachyTiny.png"/>-->
<!--<div id="line-example" style="width: 100%; height: 100%;"></div> -->
    <div ><img src='img/calendar/calgraph.png' style="height:100%;width: 100%"/>

         </div></div>
    <div id="mood_section">
        <table>
            <tr>
                <td id="mood_img">
                    <img src="img/calendar/FaceHappy.png">
                </td>
                <td id="mood_head_line">This week you're feeling better than your average.</td>
            </tr>
            <tr>
                <td></td>
                <td id="mood_desc">Your confidence is up and you're energy level are high.</td>
            </tr>
        </table>
    </div>
</div>
<div style="height: 500px;margin-top: 25px;margin-left: 15px;" >
    <div class="insight_list">
        <div style="float:left;margin-right: 19px">
            <img src="img/calendar/IconSun.png" />
        </div>
        <div style="float:left;margin-right: 20px">
            The temperature and humidity was above average this week.
        </div>
        <div style="float:right;margin-right: 20px">
            <img src="img/icons/smallArrow.png" style="height: 20px;"/>
        </div>

    </div>

    <div class="insight_list">
        <div style="float:left;margin-right: 20px">
            <img src="img/calendar/IconWeights.png" style="height: 12px;"/>
        </div>
        <div style="float:left;margin-right: 20px">
            You exercised 3 time.
        </div>
        <div style="float:right;margin-right: 20px">
            <img src="img/icons/smallArrow.png" style="height: 20px;"/>
        </div>

    </div>

    <div class="insight_list">
        <div style="float:left;margin-right: 22px">
            <img src="img/calendar/IconWalk.png" style="height: 30px;"/>
        </div>
        <div style="float:left;margin-right: 20px">
            You walked 4 miles.
        </div>
        <div style="float:right;margin-right: 20px">
            <img src="img/icons/smallArrow.png" style="height: 20px;"/>
        </div>

    </div>

    <div class="insight_list">
        <div style="float:left;margin-right: 32px">
            <img src="img/calendar/IconFork.png" style="height: 30px;"/>
        </div>
        <div style="float:left;margin-right: 20px">
            Your caloric intake averaged 1500. 
        </div>
        <div style="float:right;margin-right: 20px">
            <img src="img/icons/smallArrow.png" style="height: 20px;"/>
        </div>

    </div>

    <div class="insight_list">
        <div style="float:left;margin-right: 20px">
            <img src="img/calendar/IconMoon.png" style="height: 20px;"/>
        </div>
        <div style="float:left;margin-right: 20px">
            You slept well all week.
        </div>
        <div style="float:right;margin-right: 20px">
            <img src="img/icons/smallArrow.png" style="height: 20px;"/>
        </div>

    </div>
</div>
