<div id="interactionBtn" class="topBtn">
    <div class="btnTitle1">Drug</div>
    <div class="btnTitle2">Interactions</div>
    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
</div>
<div id="infoBox">
    Add medications from left to right.
    Press the Check for Interactions button to
    see the results in the box at the bottom.
</div>

<div id="frameContainer">
    <iframe src="https://securehealthhub-2mzdpxsuthcolhscb40uonnh-live_securehealthhub.df.live.u101.feedhenry.net/cloud/proxy?url=http://securehealthhub.adam.com/content.aspx?productId=46"></iframe>
</div>
