<ul id="side-nav">
        <li id="home" class="selected"><img src="img/nav/HomeWhite.png" alt="">

            <h2>Home</h2>
        </li>
        <li id="widgets"><img src="img/nav/WidgetsWhite.png" alt="">

            <h2>Widgets</h2>
        </li>
        <li id="healthHub"><img src="img/nav/HubWhite.png" alt="">

            <h2>Health Hub</h2>
        </li>
        <li id="connect"><img src="img/nav/ConnectWhite.png" alt="">

            <h2>Connect</h2>
        </li>
        <li id="calendar"><img src="img/nav/CalendarWhite.png" alt="">

            <h2>Calendar</h2>
        </li>
        <li id="library"><img src="img/nav/LibraryWhite.png" alt="">

            <h2>Library</h2>
        </li>
    </ul>