                <div id="lifestyle">
                    <div id="lifestyle-risk">
                        <p id="risk-headlines"><b>Get an overall view of your health by using the General Risk Assessment tool</b></p>
                        <p id="risk-details">This assessment covers important areas such as diet, exercise, smoking, and blood pressure. When you
                            are done, you'll receive customized messages to explain your risks and help you take next steps. You'll
                            also receive links to read more about your risks.</p>
                        <div id="condition-assess">
                            <div id="lifestyle-headline" class="brown-headline">Condition Assessments</div>
                            <div class="conditionBtn">Allergy</div>
                            <div class="conditionBtn">Cancer</div>
                            <div class="conditionBtn">Depression</div>
                            <div class="conditionBtn">Diabetes</div>
                            <div class="conditionBtn">Heart Attack</div>
                            <div class="conditionBtn">Menopause</div>
                            <div class="conditionBtn">Pain</div>
                            <div class="conditionBtn">Stroke</div>
                        </div>
                        <div id="lifestlye-assess">
                            <div id="lifestyle-headline" class="brown-headline">Lifestyle Assessments</div>
                            <div class="conditionBtn">Career Burnout</div>
                            <div class="conditionBtn">Diet & Nutrition</div>
                            <div class="conditionBtn">Emotional Health</div>
                            <div class="conditionBtn">Fitness</div>
                            <div class="conditionBtn">Sleep Health</div>
                            <div class="conditionBtn">Stress and Anxiety</div>
                            <div class="conditionBtn">Work & Life Balance</div>
                        </div>
                        
                    </div>
                </div>