<h1> Today is <%= today %> </h1>


<div id='tableContainer'>
	<table id="calTable">
		<!-- <tr id="head">
			<td>Sun</td>
			<td>Mon</td>
			<td>Tues</td>
			<td>Wed</td>
			<td>Thur</td>
			<td>Fri</td>
			<td>Sat</td>
		</tr> -->

		<tr id="1" class="days">
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr id="2" class="days">
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr id="3" class="days">
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr id="4" class="days">
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr id="5" class="days">
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
	</table>

	<p>This is a test page</p>