<!--<h1> Today is <%= today %> </h1>-->
<img src="img/calendar/IconCalendar.png" align ="right">
<h1 id="monthName"> <%= this.monthName[this.month]+",  "+this.year%> </h1>

<div>
    <input type="button" id="preMonth_btn" class="btn" value="Previous Month" style="margin-bottom: 5px;margin :0;">   
    <input type="button" id="currentMonth_btn" class="btn" value="Today" style="margin-bottom: 5px;margin :0;">
    <input type="button" id="month_btn" class="btn" value="Next Month" style="margin-bottom: 5px;margin :0;" ></div>
<!--<p id="month_name"></p>-->
<div id='tableContainer'>
    <table id="calTable">
        <tr id="head" style =" text-align: center">
            <td>Sun</td>
            <td>Mon</td>
            <td>Tues</td>
            <td>Wed</td>
            <td>Thur</td>
            <td>Fri</td>
            <td>Sat</td>
        </tr> 

        <tr id="1" class="days">
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr id="2" class="days">
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr id="3" class="days">
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr id="4" class="days">
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr id="5" class="days">
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr id="6" class="days">
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
    </table>
</div>

<div id="soFar">
    <h2>So far this month</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting</p>
</div>

<div class="popup_wrapper" id="cover_div"></div>
<div class="Popup" id="evt_div" align="center" style="padding: 10px;min-width: 200px;height: auto"> 
    <h1 align='center' style="color: white;top: -15px;position: relative;">Add Event</h1>
    <div id='evt_inner_div'>
        <div id="evt_form" style="padding-bottom: 15px">
                <li class="required"><label>Title</label>
                    <input id="evt_name" style="outline: none;  border: none;" type="text" ></li>
                 <li class="required"><label>Details</label>
                    <input id="evt_details" style="outline: none;  border: none;" type="text" ></li>
        </div>
        <button id='cancel_evt' class='btn' style="width: 90px">Cancel</button>
        <button id='ok_evt' class='btn' style="width: 90px;margin-left:20px">OK</button>
    </div>
</div>