<h1>My Media</h1>

<div id="cabinet" class="cabinet">
	<div id="cabinetHeader">
		<div id="scroller">
			<div class="cabinetFolder">Recipes <img class="folderImg" src="img/library/AllBoxes@2x.png"/></div>
			<div class="cabinetFolder">Insomnia<img class="folderImg" src="img/library/AllBoxes@2x.png"/></div>
			<div class="cabinetFolder">Flu Season<img class="folderImg" src="img/library/AllBoxes@2x.png"/></div>
			<div class="cabinetFolder">Mom's Heart<img class="folderImg" src="img/library/AllBoxes@2x.png"/></div>
			<div class="cabinetFolder">Insomnia<img class="folderImg" src="img/library/AllBoxes@2x.png"/></div>
			<div class="cabinetFolder">Flu Season<img class="folderImg" src="img/library/AllBoxes@2x.png"/></div>
			<div class="cabinetFolder">Mom's Heart<img class="folderImg" src="img/library/AllBoxes@2x.png"/></div>
		</div>
	</div>

	<div id="cabinetBody">
		<div class="cabinetItem video" folder="insomnia">
			<div class="thumbnail">
				<div class="frame">
					<img class="filetype" src="img/video/PlayWhiteSmall.png"/>
				</div>
				
			</div>
			<p>Orange Chicken</p>
		</div>
		<div class="cabinetItem pdf" folder="recipes fluseason">			
			<div class="thumbnail">
				<div class="frame">
					<img class="filetype" src="img/video/ArticleWhiteSmall.png"/>
				</div>
				
			</div>
			<p>Preparing Salmon</p>
		</div>
		<div class="cabinetItem" folder="recipes">
			<div class="thumbnail">
				<img class="filetype" src="img/video/GlobeWhiteSmall.png"/>
			</div>
			Low Sodium Lifestyle
		</div>
		<div class="cabinetItem" folder="recipes">
			<div class="thumbnail">
				<img class="filetype" src="img/video/GlobeWhiteSmall.png"/>
			</div>
			Cooking Light
		</div>

		<div class="cabinetItem" folder="fluseason">
			<div class="thumbnail">
				<img class="filetype" src="img/video/GlobeWhiteSmall.png"/>
			</div>
			Health.com
		</div>
		<div class="cabinetItem" folder="fluseason">
			<div class="thumbnail">
				<img class="filetype" src="img/video/GlobeWhiteSmall.png"/>
			</div>
			WebMD.com
		</div>

	</div>
</div>