<h1>My Media</h1>



<div id="cabinet" class="cabinet">
	<div id="cabinetHeader">
		<div id="scroller">
			<div id="0" class="cabinetFolder selected">
				All
				<img class="folderImg" src="img/library/OpenBox@2x.png"/>
			</div>
			<%= folders %>
		</div>
	</div>

	<div id="cabinetBody">
		<div class="cabinetItem video" folder="insomnia">
			<div class="thumbnail">
				<div class="frame">
					<img class="filetype" src="img/video/PlayWhiteSmall.png"/>
				</div>
				
			</div>
			<p>Orange Chicken</p>
		</div>
		<div class="cabinetItem pdf" folder="recipes fluseason">			
			<div class="thumbnail">
				<div class="frame">
					<img class="filetype" src="img/video/ArticleWhiteSmall.png"/>
				</div>
				
			</div>
			<p>Preparing Salmon</p>
		</div>
		<%= items %>


	</div>
</div>