<h1>My Media</h1>

<div id="cabinet" class="cabinet">
	<div id="cabinetHeader">
		<div class="cabinetFolder">Recipes</div>
		<div class="cabinetFolder">Insomnia</div>
		<div class="cabinetFolder">Flu Season</div>
		<div class="cabinetFolder">Mom's Heart</div>
	</div>

	<div id="cabinetBody">
		<div class="row">
			<div class="cabinetItem">
				<div class="thumbnail">
					<img class="filetype" src="img/video/GlobeWhiteSmall.png"/>
				</div>
				Orange Chicken
			</div>
			<div class="cabinetItem">
				<div class="thumbnail">
					<img class="filetype" src="img/video/GlobeWhiteSmall.png"/>
				</div>
				Preparing Salmon
			</div>
			<div class="cabinetItem">
				<div class="thumbnail">
					<img class="filetype" src="img/video/GlobeWhiteSmall.png"/>
				</div>
				Low Sodium Lifestyle
			</div>
			<div class="cabinetItem">
				<div class="thumbnail">
					<img class="filetype" src="img/video/GlobeWhiteSmall.png"/>
				</div>
				Cooking Light
			</div>
		</div>
		<div class="row">
			<div class="cabinetItem">
				<div class="thumbnail">
					<img class="filetype" src="img/video/GlobeWhiteSmall.png"/>
				</div>
				Health.com
			</div>
			<div class="cabinetItem">
				<div class="thumbnail">
					<img class="filetype" src="img/video/GlobeWhiteSmall.png"/>
				</div>
				WebMD.com
			</div>
		</div>
	</div>
</div>