<div id="mywidgets" >

	<h1>My Peachy Widgets</h1>

	<!-- id needs to be same as button id with "Nav" appended -->
	<li id="foodometerNav" class="action btn showPage">
		<img src="img/widgets/corewidgets/01_0001_foodometer.png">
		<br/>Foodometer
	</li>
	<li id="busyBodyNav" class="action btn showPage">
		<img src="img/widgets/corewidgets/01_0002_busy_body.png">
		<br/>Busybody
	</li>
	<li id="medBotNav" class="action btn showPage">
		<img src="img/widgets/corewidgets/01_0004_med-bot.png">
		<br/>MedBot
	</li>
	<li id="myStatsNav" class="action btn showPage">
		<img src="img/widgets/corewidgets/01_0005_my_stats.png">
		<br/>My Stats
	</li>
	 <li id="learningNav" class="action btn showPage">
		<img src="img/widgets/corewidgets/01_0007_learning.png">
		<br/>Learning
	</li>
	<li id="drVisitsNav" class="action btn showPage">
		<img src="img/widgets/corewidgets/01_0003_dr_visits.png">
		<br/>Dr. Visits
	</li>
	<li id="wellBeingNav" class="action btn showPage">
		<img src="img/widgets/corewidgets/01_0006_well_being.png">
		<br/>Well being
	</li>
</div>

<div id="widgets-library" >

<h1>My Widget Library</h1>
	<li id="diabetesNav" class="action btn showPage">
		<img src="img/widgets/noncorewidgets/02_0001_diabetes.png">
		<br/>Diabetes
	</li>
	<li id="food_challengeNav" class="action btn showPage">
		<img src="img/widgets/noncorewidgets/02_0002_food_challenge.png">
		<br/>Challenge
	</li>
	<li id="smokingNav" class="action btn showPage">
		<img src="img/widgets/noncorewidgets/02_0004_bmi_weight.png">
		<br/>Smoking
	</li>
	<li id="bmi_weightNav" class="action btn showPage">
		<img src="img/widgets/noncorewidgets/02_0004_bmi_weight.png">
		<br/>bmi weight
	</li>
	<li id="cholesterolNav" class="action btn showPage">
		<img src="img/widgets/noncorewidgets/02_0005_cholesterol.png">
		<br/>Cholesterol
	</li>
	<li id="blankNav" class="action btn showPage">
		<img src="img/widgets/noncorewidgets/02_0006_blank-icon.png">
		<br/>Name
	</li>
	<li id="blankNav" class="action btn showPage">
		<img src="img/widgets/noncorewidgets/02_0006_blank-icon.png">
		<br/>Name
	</li>
	<li id="blankNav" class="action btn showPage">
		<img src="img/widgets/noncorewidgets/02_0006_blank-icon.png">
		<br/>Name
	</li>
	<li id="blankNav" class="action btn showPage">
		<img src="img/widgets/noncorewidgets/02_0006_blank-icon.png">
		<br/>Name
	</li>
	<li id="blankNav" class="action btn showPage">
		<img src="img/widgets/noncorewidgets/02_0006_blank-icon.png">
		<br/>Name
	</li>

</div>


