<li class="clearfix" data-id="<%= id %>">
    <div class="video-preview">

        <!-- <iframe width="310" height="175" src="<%= url%>?modestbranding=1;tite=;controls=0"
            frameborder="0" allowfullscreen>
        </iframe> -->


        <img src="<%= imgUrl%>" alt="Headline" width="310" height="175" />
        <div class="title"><%= title %><span class="duration">(<%=  '' %>)</span></div>
    </div>
    <div class="description">
        <h2><%= title %></h2>
        <p><%= shortDescription %></p>
        <a class="more" href="#">More &raquo;</a>
    </div>
</li>
