<li class="clearfix">
    <div class="video-preview">
        <!-- <video height="175" width="310" poster="img/video/bigbuckbunny.jpg" >
            <source src="http://mirrorblender.top-ix.org/peach/bigbuckbunny_movies/big_buck_bunny_480p_h264.mov" type="video/mp4" />
            Your browser does not support the video tag.
        </video> -->
 <!--        <iframe width="310" height="175" src="http://www.youtube.com/embed/tsMDthnga4E" frameborder="0" allowfullscreen></iframe> -->
        <iframe src="http://www.youtube.com/v/A7GGHYk0AE4&feature=share&list=PLvKYNHs3TFgpW3Hx3TF87obySZStA_n13"
                width="320" height="190"></iframe>

        <!-- TODO: Use proper image & description once API is in place. -->
        <!-- <img src="img/VideoPlaceholder.png" alt="Headline 1"> -->
<!--        <div class="title"><%= videoCaption %><span class="duration">(<%= duration %>)</span></div>-->
    </div>
    <div class="description">
        <h2><%= headline %></h2>
        <p><%= text %></p>
        <a class="more" href="#">More &raquo;</a>
    </div>
</li>
