<div id="toolsBodyMass">
    <div class="brown-headline">
        Nutritional Needs Calculator
    </div>
    <div class="risk-commonText">
        Figure out how many calories you need to lose, maintain or gain weight.
    </div>
    <div id="tools-nutrition-cal">
        <div id="nutritionCal">
            <div class="gray-bigHeadline">Current weight:</div>

            <div>
                <input class="toolsCalInputType" type="text" id="nutrition-weight"></input>
                <select class="toolsCalInputType" id="nutrition-weightUnit">
                    <option value="Pounds">Pounds</option>
                </select>
            </div>

            <div class="gray-bigHeadline">Sex</div>

            <div>
                <select class="toolsCalInputType" id="weight-sex">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            
            <div class="gray-bigHeadline">Age:</div>
             <div>
                <input class="toolsCalInputType" type="text" id="nutrition-age"></input>
             </div>
            
            <div class="gray-bigHeadline">Weight goal:</div>
            <div><select class="toolsCalInputType" id="nutrition-weightGoal">
                    <option value="Maintain-weight">Maintain weight</option>
                </select>
            </div>
            
            <div class="gray-bigHeadline">Physical activity level:</div>
            <div><select class="toolsCalInputType" id="nutrition-phyActivity">
                    <option value="Low">Low</option>
                </select>
            </div>
            
        </div>
        <img src="img/research/tools/icon-food.png" class="toolsImg"/>
    </div>
    <div class="risk-commonText">
        Note: This tool is not applicable to pregnant women, children under age 18, or people over 60.       
    </div>
    <div id="nutritionSubmit">Submit</div>
</div>