<div id="research-desk">
    <div id="researchWrapper">
        <!--        <div style="background: url('img/research/research_desk_1.png')">-->
        <div>
            <img src="img/research/research_desk_1.png" id="pencil-desk"/>
        </div>
        <div id="reserchInnerDiv">  <img id="quitBtn" src="img/widgets/widgetpngfiles/bu-x-out.png"></img>
            <div id="omniPediaTop"> <div id="omnibtn">
                    <div class="btnTitle1">Wellness</div>
                    <div class="btnTitle2">OmniPedia</div>
                </div></div>
            <div id="search_omniPediaDetails">
                <img id="magnify" src="img/widgets/widgetpngfiles/bu-magnify.png">
                <input id="onmi_search" type="text" placeholder="Search">

            </div>
            <div id="omniList" class="dataGrid">
                <div id="omniDetailsHead">
                    Headache
                </div>
                <div id="omniData">
                    <p>Definition</p>
                    <p>A headache is pain or discomfort in the head, scalp, or neck. Serious causes of
                        headaches are very rare. Most people with headaches can feel much better by making
                        lifestyle changes, learning ways to relax, and sometimes by taking medications.</p>
                    <p>
                        Alternative Names
                    </p>
                    <p>
                        Pain - head; Rebound headaches; Medication overuse headaches
                    </p>
                </div>







            </div>




        </div>
    </div>


