<div id="research-desk">
    <div id="researchWrapper">
        <!--        <div style="background: url('img/research/research_desk_1.png')">-->
        <div>
            <img src="img/research/research_desk_1.png" id="pencil-desk"/>
        </div>
        <div id="reserchInnerDiv">  <img id="quitBtn" src="img/widgets/widgetpngfiles/bu-x-out.png"></img>
            <div id="omniPediaTop"> <div id="omnibtn">
                    <div class="btnTitle1">Wellness</div>
                    <div class="btnTitle2">OmniPedia</div>
                </div></div>
            <div id="search_omniPediaDetails">
                <img id="magnify" src="img/widgets/widgetpngfiles/bu-magnify.png">
                <input id="onmi_search" type="text" placeholder="Search">

            </div>
            <div id="omniList" class="dataGrid">
                <div id="omniDetailsHead">
                    Headache
                </div>
                <div id="omniData">
                    <p><b>Definition</b></p>
                    <p>A headache is pain or discomfort in the head, scalp, or neck. Serious causes of
                        headaches are very rare. Most people with headaches can feel much better by making
                        lifestyle changes, learning ways to relax, and sometimes by taking medications.</p>
                    <p>
                        <b> Alternative Names</b>
                    </p>
                    <p>
                        Pain - head; Rebound headaches; Medication overuse headaches
                    </p>
                    <p><b>Causes</b></p>
                    <p>
                        The most common type of headaches are likely caused by tight muscles in your
                        shoulders, neck, scalp, and jaw. These are called tension headaches.
                    </p>
                    <ul>
                        <li>They may be related to stress, depression, anxiety, a head injury, or holding your head
                            and neck in an abnormal position.</li>
                        <li>Tension headaches tend to be on both sides of your head. They often start at the back
                            of your head and spread forward. The pain may feel dull or squeezing, like a tight
                            band or vice. Your shoulders, neck, or jaw may feel tight or sore.</li>
                    </ul>
                </div>







            </div>




        </div>
    </div>


