<div id="omniPediaTop"> <div id="omnibtn">
        <div class="btnTitle1">Wellness</div>
        <div class="btnTitle2">OmniPedia</div>
         <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
    </div></div>
<div id="outerBox">
    <div id="innerBox">
        Locate results by typing keywords
        into the search box. Tap items in the
        found list to learn more about them.
    </div>

</div>

<div id="omniList" class="dataGrid">
    <!-- <div id="omniresult">48 results found</div>
    <div id="search_omniPedia">
        <img id="magnify" src="img/widgets/widgetpngfiles/bu-magnify.png">
        <input id="onmi_search" type="text" placeholder="Search">
        <img id="clrBtn" src="img/widgets/widgetpngfiles/bu-x-out.png"></img>

    </div>
    <div id="omniListArea">
        <div id="omniDetails" class="box">
            
        </div>
    </div> -->
</div>