<div id="omniBtn" class="topBtn">
    <div class="btnTitle1">Wellness</div>
    <div class="btnTitle2">OmniPedia</div>
    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
</div>
<div id="infoBox">
    Locate results by typing keywords
    into the search box. Tap items in the
    found list to learn more about them.
</div>

</div>

<div id="frameContainer">
    <!-- <iframe src="http://securehealthhub.adam.com/content.aspx?productId=117"></iframe> -->
    <!-- <iframe src="https://securehealthhub-2mzdpxsuthcolhscb40uonnh-live_securehealthhub.df.live.u101.feedhenry.net/cloud/html"></iframe> -->

    <iframe src="http://127.0.0.1:8001/cloud/html"></iframe>
</div>