<div id="research-desk">
    <div id="researchWrapper">
        <div id="topImg">
            <img src="img/research/research_desk_1.png" id="pencil-desk"/>
        </div>
        <div id="researchInnerDivMenu">
            <div id="backDiv">
                <div id="welcomeDiv">Welcome</div>

                <div id="researchDesc">
                    The <b>Peachy &reg; Research Desk</b> keeps all of your wellness reference tools neat and organized.
                </div>

                <div id="researchCat">
                    <img src="img/busybody/arrow-left.png"/>
                    Tap a Category to the left to get started
                </div>

                <div id="researchMenu">
                    <div id="menu1" class="researchBtn">
                        <p class="menuName1">Wellness</p>
                        <p class="menuName2">OmniPedia</p>
                    </div>
                    
                    <div id="menu2" class="researchBtn">
                        <p class="menuName1">Drug</p>
                        <p class="menuName2">Information</p>
                    </div>
                    
                    <div id="menu3" class="researchBtn">
                        <p class="menuName1">Drug</p>
                        <p class="menuName2">Interactions</p>
                    </div>
                    
                    <div id="menu4" class="researchBtn">
                        <p class="menuName1">Symptom</p>
                        <p class="menuName2">Navigator</p>
                    </div>
                    
                    <div id="menu5" class="researchBtn">
                        <p class="menuName1">Risk Factor</p>
                        <p class="menuName2">Navigator</p>
                    </div>
                    
                    <div id="menu6" class="researchBtn">
                        <p class="menuName1">Decision</p>
                        <p class="menuName2">Assistant</p>
                    </div>
                    
                    <div id="menu7" class="researchBtn">
                        <p class="menuName1">Care</p>
                        <p class="menuName2">Guides</p>
                    </div>
                    
                    <div id="menu8" class="researchBtn">
                        <p class="menuName1">Wellness</p>
                        <p class="menuName2">Tools</p>
                    </div>
                    
                </div>
                <!-- <img src="img/loading-watermark2.png" id="researchPeachyLogo"/> -->
                
            </div>
        </div>

        <div id="research-menu">
            <div id="omnibtn1" class="omniBtn">
                <div class="btnTitle1">Wellness</div>
                <div class="btnTitle2">OmniPedia</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn2" class="omniBtn">
                <div class="btnTitle1">Drug</div>
                <div class="btnTitle2">Information</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn3" class="omniBtn">
                <div class="btnTitle1">Drug</div>
                <div class="btnTitle2">Interactions</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn4" class="omniBtn">
                <div class="btnTitle1">Symptom</div>
                <div class="btnTitle2">Navigator</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn5" class="omniBtn">
                <div class="btnTitle1">Risk Factor</div>
                <div class="btnTitle2">Navigator</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn6" class="omniBtn">
                <div class="btnTitle1">Decision</div>
                <div class="btnTitle2">Assistant</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn7" class="omniBtn">
                <div class="btnTitle1">Care</div>
                <div class="btnTitle2">Guides</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div><div id="omnibtn8" class="omniBtn">
                <div class="btnTitle1">Wellness</div>
                <div class="btnTitle2">Tools</div>
                <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
            </div>
        </div>
</div>