<div id="research-desk">
    <div id="researchWrapper">
<!--        <div style="background: url('img/research/research_desk_1.png')">-->
<div>
            <img src="img/research/research_desk_1.png" id="pencil-desk"/>
        </div>
    <div id="reserchInnerDiv">
    <div id="backDiv">
        <div id="welcomeDiv">Welcome</div>
        <div id="researchDesc">
            The <b>Peachy<sup>®</sup> Research</b> Desk keeps all of your wellness reference
tools neat and organized.
        </div>
        <div id="researchMenu">
            <div id="menu1">
                <p class="menuName1">Wellness</p>
                <p class="menuName2">OmniPedia</p>
            </div>
            
            <div id="menu2">
                <p class="menuName1">Drug</p>
                <p class="menuName2">Information</p>
            </div>
            
            <div id="menu3">
                <p class="menuName1">Drug</p>
                <p class="menuName2">Interactions</p>
            </div>
            
            <div id="menu4">
                <p class="menuName1">Risk Factor</p>
                <p class="menuName2">Navigator</p>
            </div>
            
            <div id="menu5">
                <p class="menuName1">Decision</p>
                <p class="menuName2">Navigator</p>
            </div>
            
            <div id="menu6">
                <p class="menuName1">Decision</p>
                <p class="menuName2">Assistant</p>
            </div>
            
            <div id="menu7">
                <p class="menuName1">Care</p>
                <p class="menuName2">Guides</p>
            </div>
            
            <div id="menu8">
                <p class="menuName1">Wellness</p>
                <p class="menuName2">Tools</p>
            </div>
            
        </div>
        <img src="img/loading-watermark2.png" id="researchPeachyLogo"/>
        <div id="researchCat">Tap a Category to the left to get started</div>
    </div>
    </div>
</div>