<div id="research-desk">
    <div id="researchWrapper">
        <!--        <div style="background: url('img/research/research_desk_1.png')">-->
        <div>
            <img src="img/research/research_desk_1.png" id="pencil-desk"/>
        </div>
        <div id="reserchInnerDiv">
            <div id="informationTop"> <div id="riskBtn" class="research-menuBtn">
                    <div class="btnTitle1">Risk Factor</div>
                    <div class="btnTitle2">Navigator</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div>
            </div>

            <div id="riskList" class="dataGrid">
                <div id="researchDetailsHead">
                    <div id="showRiskFactorDetails" class="risk-backBtn"></div>
                    <div>Allergy Assessment</div>
                    <div id="risk-rightBtn">
                        <div id="risk-sendBtn"><div>Send</div></div>
                        <div id="risk-shareBtn"><div>Share</div></div>
                    </div>
                </div>
                <div id="risk-factorDetails">
                    <div id="riskDeatils-headlines">Questions</div>
                    <div class="risk-commonText">To obtain the best results, please answer all of the questions below. If you skip a question, your
                        personalized results may lack important health messages.
                    </div>
                    <div id="gender">
                        <div style="" class="research-left">Select your gender:</div>
                        <div class="research-right">
                            <div style="position: relative;"><img src="img/research/risk-factor/bu-radio-off.png" class="radio" id="male"/><div class="research-right-text">Male</div></div>
                            <div style="position: relative;"><img src="img/research/risk-factor/bu-radio-off.png" class="radio" id="Female"/><div class="research-right-text">Female</div></div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div id="age">
                        <div style="" class="research-left">What is your age?</div>
                        <div class="research-right">
                            <div style="position: relative;"><img src="img/research/risk-factor/bu-radio-off.png" class="radio" id="20"/><div class="research-right-text">Under 20</div></div>
                            <div style="position: relative;"><img src="img/research/risk-factor/bu-radio-off.png" class="radio" id="20to29"/><div class="research-right-text">20 to 29</div></div>
                            <div style="position: relative;"><img src="img/research/risk-factor/bu-radio-off.png" class="radio" id="30to39"/><div class="research-right-text">30 to 39</div></div>
                            <div style="position: relative;"><img src="img/research/risk-factor/bu-radio-off.png" class="radio" id="40to44"/><div class="research-right-text">40 to 44</div></div>
                            <div style="position: relative;"><img src="img/research/risk-factor/bu-radio-off.png" class="radio" id="45to49"/><div class="research-right-text">45 to 49</div></div>
                            <div style="position: relative;"><img src="img/research/risk-factor/bu-radio-off.png" class="radio" id="50to65"/><div class="research-right-text">50 to 65</div></div>
                            <div style="position: relative;"><img src="img/research/risk-factor/bu-radio-off.png" class="radio" id="over65"/><div class="research-right-text">Over 65</div></div>
                        </div>
                    </div>

                    <div class="line"></div>

                    <div id="symptoms">
                        <div style="" class="research-left">Do you have any of the following symptoms or conditions? (Check all that apply.)
                        </div>
                        <div class="research-right">
                            <div style="position: relative;"><img src="img/research/risk-factor/bu-checkbox-off.png" class="radio" id="itchy"/><div class="research-right-text">Itchy, watery eyes</div></div>
                            <div style="position: relative;"><img src="img/research/risk-factor/bu-checkbox-off.png" class="radio" id="sneezing"/><div class="research-right-text">Sneezing</div></div>
                        </div>
                    </div>

                    <div id="center-btns">
                    <div id="prevImg"><div>Previous</div></div>
                    <div id="nextImg"><div>Next</div></div>
                    </div>

                    <br/>

                </div>
            </div>



            <div id="research-menu">
                <div id="omnibtn1">
                    <div class="btnTitle1">Wellness</div>
                    <div class="btnTitle2">OmniPedia</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn2">
                    <div class="btnTitle1">Drug</div>
                    <div class="btnTitle2">Information</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn3">
                    <div class="btnTitle1">Drug</div>
                    <div class="btnTitle2">Interactions</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn4">
                    <div class="btnTitle1">Symptom</div>
                    <div class="btnTitle2">Navigator</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn5">
                    <div class="btnTitle1">Risk Factor</div>
                    <div class="btnTitle2">Navigator</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn6">
                    <div class="btnTitle1">Decision</div>
                    <div class="btnTitle2">Assistant</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn7">
                    <div class="btnTitle1">Care</div>
                    <div class="btnTitle2">Guides</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn8">
                    <div class="btnTitle1">Wellness</div>
                    <div class="btnTitle2">Tools</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div>

            </div>
        </div>


