<div id="research-desk">
    <div id="researchWrapper">
        <!--        <div style="background: url('img/research/research_desk_1.png')">-->
        <div>
            <img src="img/research/research_desk_1.png" id="pencil-desk"/>
        </div>
        <div id="reserchInnerDiv">
            <div id="informationTop"> <div id="riskBtn" class="research-menuBtn">
                    <div class="btnTitle1">Risk Factor</div>
                    <div class="btnTitle2">Navigator</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div>
            </div>

            <div id="riskList" class="dataGrid">
                <div id="researchDetailsHead">
                    <div id="showriskFactQues" class="risk-backBtn"></div>
                    <div></div>
                    <div id="risk-rightBtn">
                        <div id="risk-sendBtn"><div>Send</div></div>
                        <div id="risk-shareBtn"><div>Share</div></div>
                    </div>
                </div>
                <div id="risk-factorDetails">
                    <div id="riskDeatils-headlines">You Have Completed the Allergy Assessment</div>
                    <div class="risk-commonText">Now that you have taken the time to do this assessment, here are your personalized results and
                        recommendations. The messages below are based on the questions you chose to answer. You may
                        have other risks beyond what is covered in this assessment. Therefore, this assessment should not be
                        considered a definitive assessment of your health. Be sure to see your physician for recommended
                        checkups and health evaluations.
                    </div><br>
                    <div class="brown-headline">Key Points for You</div><br>
                    <div style="position: relative">
                        <div id="bullets"> <img src="img/research/alert-red.png"/></div>
                        <div class="gray-headline">You have the classic symptoms of allergic rhinitis, often called hay fever.</div>
                    </div><br>
                    <div id="middleText">
                        <div id="leftAlignText" class="risk-commonText">People often confuse an allergy with a cold. While the symptoms are very
                            similar, remember that colds are short-lived. If you have "cold" symptoms that
                            last more than 14 days without a fever, this may actually be an allergy. Typical
                            allergy symptoms include:
                        </div>
                        <div id="rightData">
                            <div id="rightAlignImg"></div>
                            <div id="moreDetails"></div>
                        </div>
                    </div>
                    <div>
                        <ul id="allergySym" class="risk-commonText">
                            <li>Itching nose, mouth, eyes, throat, skin, or any area</li>
                            <li>Sneezing and watery eyes</li>
                            <li>Runny nose (rhinitis)</li>
                            <li>Stuffy nose (nasal congestion)</li>
                            <li>Loss of smell or taste</li>
                            <li>Headache</li>
                            <li>Coughing</li>
                        </ul>
                    </div><br>
                    <div class="risk-commonText">
                        These symptoms can be caused by pollen, mold, animal dander, pests (such as cockroaches and mice),
                        or dust. When diagnosing allergies, it is important to know whether the symptoms vary according to....
                    </div>
                </div>
            </div>

<div id="modalMask1" style="display: block;"></div>
            <div id="popupDeatils">
                <div id="research-popupHead">
                    <img id="researchCloseBtn" src="img/research/risk-factor/bu-close-small.png"/>
                </div>
                <div id="popup-inner">
                    <div class="brown-headline">
                        Allergic rhinitis
                    </div><br>
                    <div class="risk-commonText">
                        Allergic rhinitis, or hay fever, is a collection of symptoms, predominantly in the nose and
                        eyes, to allergens such as dust, dander and pollen. The sensitized immune system
                        produces antibodies to these allergens, which cause chemicals called histamines to be
                        released into the bloodstream, causing itching, swelling of affected tissues, mucus
                        production, hives, rashes, and other symptoms.
                    </div>
                    <div id="research-popupImg"></div>
                    <div class="risk-commonText">Symptoms vary in severity from person to person.</div>
                </div>
            </div>

            <div id="research-menu">
                <div id="omnibtn1">
                    <div class="btnTitle1">Wellness</div>
                    <div class="btnTitle2">OmniPedia</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn2">
                    <div class="btnTitle1">Drug</div>
                    <div class="btnTitle2">Information</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn3">
                    <div class="btnTitle1">Drug</div>
                    <div class="btnTitle2">Interactions</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn4">
                    <div class="btnTitle1">Symptom</div>
                    <div class="btnTitle2">Navigator</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn5">
                    <div class="btnTitle1">Risk Factor</div>
                    <div class="btnTitle2">Navigator</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn6">
                    <div class="btnTitle1">Decision</div>
                    <div class="btnTitle2">Assistant</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn7">
                    <div class="btnTitle1">Care</div>
                    <div class="btnTitle2">Guides</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div><div id="omnibtn8">
                    <div class="btnTitle1">Wellness</div>
                    <div class="btnTitle2">Tools</div>
                    <img id="research-arrow" src="img/research/bu-arrow-right.png"></img>
                </div>

            </div>
        </div>


