<div id="showMeOuter" class="sympCommonDiv">
    <div id="showMeInner" class="sympInner">
        <div id="showMeHead">
            <div id="showMeHeading">
                Hips, Legs, Feet » Athlete’s Foot
            </div>
            <div id="showMeBtn">
                <div id="showMeShare">
                    <img id="showMeShareImg" src="img/research/risk-factor/bu-share-small-gray.png"></img>
                    <div>
                        share
                    </div>

                </div>
                <div id="showMeClose">
                    <img id="showMeShareImg" src="img/research/risk-factor/bu-close-small.png"></img>
                    <div>
                        close
                    </div>
                </div>
            </div>
        </div>
        <div id="showMeText">
            <div class="brown-headline">Definition</div>
            <br>
            <div class="symp-commonText">
                Athlete's foot is an infection of the feet caused by fungus. The medical term is tinea pedis.
                Athlete's foot may last for a short or long time and may come back after treatment.
            </div><br>
            <div class="brown-headline">Alternative Names</div><br>
            <div class="symp-commonText">
                Tinea pedis; Fungal infection - feet; Tinea of the foot; Infection - fungal - feet; Ringworm - foot
            </div><br>
            <div class="brown-headline">
                Causes
            </div><br>
            <div class="symp-commonText">
                Athlete's foot occurs when a certain fungus grows on your skin in your feet. In addition to the
                toes, it may also occur on the heels, palms, and between the fingers.
                <br><br>
                Athlete's foot is the most common type of tinea fungal infections. The fungus thrives in warm,
                moist areas. Your risk for getting athlete's foot increases if you:<br><br>
            </div>
            <ul class="assistant-commonText">
                <li>Wear closed shoes, especially if they are plastic-lined</li>
                <li>Keep your feet wet for prolonged periods of time</li>
                <li>Sweat a lot</li>
                <li>Develop a minor skin or nail injury</li>
            </ul>
            <div class="symp-commonText">
                Athlete's foot is contagious, and can be passed through direct contact, or contact with items
                such as shoes, stockings, and shower or pool surfaces.
            </div>
        </div>
    </div>
    <div id="symp-ad">
        <div id="symp-ad1"></div>
    </div>
</div>