<div id="showMeMain">
<div id="showMeLeft" class="sympCommonDiv">
    <div id="sympInnerLeft" class="sympInner">
        <div id="humanBody"></div>
        <div id="sympLeftBtns">
            <select class="toolsCalInputType">
                <option value="Adult">Adult</option>
                <option value="Child">Child</option>
            </select>
            <select class="toolsCalInputType">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <select class="toolsCalInputType">
                <option value="Front">Front</option>
                <option value="Back">Back</option>
            </select>
        </div>
    </div>
</div>

<div id="showMeRight" class="sympCommonDiv">
    <div id="sympInnerRight" class="sympInner">
        <div id="sympRightList">
            <div id="sympListHeading" class="sympLight">Hips, Legs, Feet</div>
            <div class="sympDark">Ankle pain</div>
            <div class="sympLight">Arthritis</div>
            <div class="sympDark">Athlete's foot</div>
            <div class="sympLight">Bunions</div>
            <div class="sympDark">Corns and calluses</div>
            <div class="sympLight">Dry skin</div>
            <div class="sympDark">Foot pain</div>
            <div class="sympLight">Foot, leg, and ankle swelling</div>
            <div class="sympDark">Heel pain</div>
            <div class="sympLight">Hip pain</div>
            <div class="sympDark">Hives</div>
            <div class="sympLight">Ingrown toenail</div>
            <div class="sympDark">Joint swelling</div>
            <div class="sympLight">Knee pain</div>
        </div>
    </div>
</div>
</div>