<h1>Peachy Suggestions</h1>

<li id="widget1" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0001_diabetes-big.png">
	<h1>Widget Name 1</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget2" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0002_food-challenge-big.png">
	<h1>Widget Name 2</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget3" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0003_smoking-big.png">
	<h1>Widget Name 3</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget4" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0006_blank-icon-big.png">
	<h1>Widget Name 4</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget5" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0006_blank-icon-big.png">
	<h1>Widget Name 5</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget6" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0006_blank-icon-big.png">
	<h1>Widget Name 6</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>