<div id="search_symp">
    <img id="magnify" src="img/widgets/widgetpngfiles/bu-magnify.png">
    <input id="symp_search" type="text" placeholder="Search">
    <img id="clrBtn" src="img/widgets/widgetpngfiles/bu-x-out.png">

</div>
<div id="symp-List-Deatils">
    <div id="symp-List" class="dataGrid">
        <div id="sympDetailsHead">
            <div id="showSympList" class="risk-backBtn"></div>
            <div>Abdomen</div>
            <div id="risk-rightBtn">
                <div id="risk-sendBtn"><div>Send</div></div>
                <div id="risk-shareBtn"><div>Share</div></div>
            </div>
        </div>
        <div id="sympData">

            <div class="sympHeadLine">
                Abdomen - swollen
            </div>
            <br>
            <div class="brown-headline">Definition</div>
            <br>
            <div class="symp-commonText"> 
                A swollen abdomen is when your belly area is bigger than usual.
            </div>
            <br>
            <div class="brown-headline">Alternative Names</div>
            <br>
            <div class="symp-commonText">
                Swollen belly; Swelling in the abdomen; Abdominal distention; Distended abdomen
            </div>
            <br>
            <div class="brown-headline">   
                Causes
            </div>
            <br>
            <div class="symp-commonText">
                Abdominal swelling, or distention, is more often caused by overeating than by a serious
                illness. This problem can be caused by:
            </div>
            <ul>
                <li>Air swallowing (a nervous habit)</li>
                <li>Buildup of fluid in the abdomen (this can be a sign of a serious medical problem)</li>
                <li>Gas in the intestines from eating foods that are high in fiber (such as fruits and vegetables)</li>
                <li>Irritable bowel syndrome</li>
                <li>Lactose intolerance</li>
                <li>Ovarian cyst</li>
                <li>Partial bowel blockage</li>
                <li>Pregnancy</li>
                <li>Premenstrual syndrome (PMS)</li>
            </ul>
        </div>

    </div>
</div>
