<div id="top-bar">
    <div id="logo" ></div>

    <img id="avatar" src="img/Maureen(Me)Avatar.png" alt="You">
    <ul id="top-bar-buttons">
        <li class="homeBtn"><button id="points-button"><em></em> points</button></li>
        <li class="homeBtn"><button><img src="img/Search.png" alt="Search"></button></li>
        <li class="homeBtn"><button><img src="img/Help.png" alt="Help"></button></li>
        <li class="homeBtn"><button id="profile-button"><img src="img/OptionsGear.png" alt="Options"></button></li>

        <li class="profileBtn"><button id="cancel">Cancel</button></li>
        <li class="profileBtn"><button id="save">Save</button></li>
    </ul>
</div>