<div id="toolsBodyMass">
    <div class="brown-headline">
        Waist to Hip Calculator
    </div>
    <div class="risk-commonText">
        Determine your body shape and find out what that shape means.
    </div>
    <div id="tools-bodyMass-cal">
        <div id="bodyMassCal">
            <div class="gray-bigHeadline">Waist size:</div>
            <div>
                <input class="toolsCalInputType" type="text" id="waistSize"></input>
                <select class="toolsCalInputType" id="waistSizeUnit">
                    <option value="Inches">Inches</option>
                </select>
            </div>
            <div class="gray-bigHeadline">Hip size:</div>
            <div>
                <input class="toolsCalInputType" type="text" id="hipSize"></input>
                <select class="toolsCalInputType" id="hipSizeUnit">
                    <option value="Inches">Inches</option>
                </select>
            </div>
            <div class="gray-bigHeadline">Sex:</div>
            <div>
                <select class="toolsCalInputType" id="waist-sex">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
        <img src="img/research/tools/icon-man-standing.png" class="toolsImg"/>
    </div>
    <div class="risk-commonText">
        Note: The Waist-to-Hip Calculator is based on research outcomes of middle-aged men and women.
        This tool is not applicable to pregnant women and children and may not accurately indicate risk for
        young adults or older individuals.
    </div>
    <div id="waistSubmit">Submit</div>
    <br><br>
    <div class="brown-headline">
        ENTERING YOUR INFORMATION
    </div>
    <div class="risk-commonText">
        Studies have shown that the shape of your body can be correlated to higher risks for health problems
        such as heart disease, stroke, and diabetes. By measuring the ratio of your waist size to your hip size,
        you can use our calculator to determine your body type and levels of risk.
    </div>
</div>