<div id="toolsBodyMass">
    <div class="brown-headline">
        Desirable Body Weight Calculator
    </div>
    <div class="risk-commonText">
       Enter your age and type of body frame to estimate your healthy body weight.
    </div>
    <div id="tools-bodyMass-cal">
        <div id="bodyMassCal">
            <div class="gray-bigHeadline">Body frame:</div>
            <div>
                <select class="toolsCalInputType" id="bodyFrameUnit">
                    <option value="Small">Small</option>
                </select>
            </div>
            <div class="gray-bigHeadline">Current height:</div>
            <div>
                <input class="toolsCalInputType" type="text" id="weight-HeightFeet"></input>
                <select class="toolsCalInputType" id="weightFeet">
                    <option value="Feet">Feet</option>
                </select>
                <input class="toolsCalInputType" type="text" id="weight-HeightInches"></input>
                <select class="toolsCalInputType" id="weightInches">
                    <option value="Inches">Inches</option>
                </select>
            </div>
            <div class="gray-bigHeadline">Sex</div>
            <div><select class="toolsCalInputType" id="weight-sex">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
        <img src="img/research/tools/icon-scales.png" class="toolsImg"/>
    </div>
    <div class="risk-commonText">
        Note: The Desirable Body Weight calculator is not applicable to pregnant women, children under the
        age of 18, and competitive athletes. The tool may not be accurate for women under 4'9" (145
        centimeters) or over 5'10" (178 centimeters) in height and for men under 5'1" (155 centimeters) and
        over 6'3" (190.5 centimeters).          
    </div>
    <div id="weightSubmit">Submit</div>
</div>