<div id="selector">
	<h1>Peachy Widget Store</h1>
	<div id="search_store">
		<img src="img/widgets/widgetpngfiles/bu-magnify.png">
		<input id="search" type="text"/>
		<!-- <input id="search" type="text" placeholder="Search"/> -->
		<img src="img/widgets/widgetpngfiles/bu-x-out.png">
	</div>
</div>

<li id="widget1" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0001_diabetes-big.png">
	<h1>Widget Name 1</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
</li>
<li id="widget1" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0002_food-challenge-big.png">
	<h1>Widget Name 2</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget1" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0003_smoking-big.png">
	<h1>Widget Name 3</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget1" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0004_BMI-weight-big.png">
	<h1>Widget Name 4</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget1" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0005_cholesterol-big.png">
	<h1>Widget Name 5</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget1" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0006_blank-icon-big.png">
	<h1>Widget Name 6</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget1" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0007_blank-icon-big.png">
	<h1>Widget Name 7</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget1" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0007_blank-icon-big.png">
	<h1>Widget Name 8</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget1" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0008_blank-icon-big.png">
	<h1>Widget Name 9</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget1" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0009_blank-icon-big.png">
	<h1>Widget Name 10</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget1" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0010_blank-icon-big.png">
	<h1>Widget Name 11</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget1" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0011_blank-icon-big.png">
	<h1>Widget Name 12</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>
<li id="widget1" class="widget_panel">
	<img src="img/widgets/widgetstoreiconspopup/02_0012_blank-icon-big.png">
	<h1>Widget Name 6</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
</li>