@mixin split-gradient($top, $bottom) {
  background-color: $top;
  background-image: -webkit-linear-gradient(top, $top 0%, $top 10%, $bottom 40%, $bottom 100%);
  background-image:    -moz-linear-gradient(top, $top 0%, $top 10%, $bottom 40%, $bottom 100%);
  background-image:     -ms-linear-gradient(top, $top 0%, $top 10%, $bottom 40%, $bottom 100%);
  background-image:      -o-linear-gradient(top, $top 0%, $top 10%, $bottom 40%, $bottom 100%);
  background-image:         linear-gradient(top, $top 0%, $top 10%, $bottom 40%, $bottom 100%);
}

@mixin quad-gradient($first, $second, $third, $fourth) {
  background-color: $first;
  background-image: -webkit-linear-gradient(top, $first 0%, $second 50%, $third 50%, $fourth 100%);
  background-image:    -moz-linear-gradient(top, $first 0%, $second 50%, $third 50%, $fourth 100%);
  background-image:     -ms-linear-gradient(top, $first 0%, $second 50%, $third 50%, $fourth 100%);
  background-image:      -o-linear-gradient(top, $first 0%, $second 50%, $third 50%, $fourth 100%);
  background-image:         linear-gradient(top, $first 0%, $second 50%, $third 50%, $fourth 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$fourth');
}

