.small-logo {
	background-image: url(../img/login/PeachyLogoWhite.png);
	width: 99px;
	height: 24px;
}

.large-logso {
	background-image: url(../img/login/PeachyLogoHero@2x.png);
	width: 458px;
	height: 108px;
}