body {
	background-color: #cdcdcd;
	background-image: url(../img/backgrounds/BackgroundTileGray.png);
	color: #fff;
	font-family: 'Helvetica', sans-serif;
}

p.middle {
	text-align: center;
}

.top {
	top: 0px;
}

.left {
	left: 0px;
}

.bottom {
	bottom: 0px;
}

.right {
	right: 0px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}