@box: rgba(26, 26, 26, 0.25);
@helpBox: rgba(26, 26, 26, 0.15);
@inputBg: #e6e6e6;
@inputPlaceholder: #2b6991;

#login {
    background: url('../img/login/PeachyLogoWhite.png') 15px 15px no-repeat;
    background-size: 99px 24px;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url('../img/login/PeachyLogoWhite@2x.png');
    }


}

#login-container,
#loading-container {
    position: absolute;
    top: 0;

    // Vertical centering setup...
    display: table;
    width: 100%;
    height: 100%;

    & > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    // Visibility & transitioning setup...
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .4s ease;
    -webkit-transition-delay: now;
    opacity: 0;
    overflow: hidden;

    &.visible {
        opacity: 1;
        -webkit-transition-delay: .6s;
    }


    .box {
        position: relative;
        overflow: hidden;
        background-color: @box;
        border-radius: 12px;
        margin: 0 auto;
    }
}

#login-container {
    z-index: 10;

    .box {
        width: 340px;
        background-color: transparent;

        @media only screen and (orientation: landscape) {
            width: 720px;
            background-color: @box;

            .left {
                width: 50%;
                float: left;
                padding: 30px 15px 0 30px;
            }
        }
    }

    .copyright {
        display: none;
        margin-top: 2em;

        @media only screen and (orientation: landscape) {
            display: block;
        }
    }
}

#login-form {
    background-color: @box;
    padding: 30px;
    margin: 30px 0;
    border-radius: 12px;
    overflow: hidden;

    @media only screen and (orientation: landscape) {
        background-color: transparent;
        width: 50%;
        float: right;
        margin: 0;
    }

    // We visually hide the label, however we ensure that they're readable
    // by screen-readers.
    label {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;

        .avenir-demi(18px);
    }

    input {
        width: 100%;
        display: block;
        margin: 10px 0;
        height: 46px;
        border-radius: 8px;
        border: none;
        background-color: #e6e6e6;
        color: #2b6991;
        padding: 0 10px;

        .avenir(13px);

        &::-webkit-input-placeholder {
            color: #2b6991;

            .avenir(13px);
        }
    }
}

#login-help-button {
    border: none;
    width: 100%;
    padding: 0;
    background-color: transparent;
    text-shadow: 0 -2px 1px black;
    color: #fff;

    .avenir-demi(14px);

    span {
        display: block;
        background-color: @helpBox;
        padding: 15px 30px;
        border-radius: 8px;
    }

    @media only screen and (orientation: landscape) {
        position: absolute;
        width: 50%;
        bottom: 30px;
        left: 0;

        span {
            margin: 0 15px 0 30px;
        }
    }
}

.login-logo {
    display: block;
    margin: 0 auto;
    width: 229px;
    height: 54px;
    background: url('../img/login/PeachyLogoHero.png') center center no-repeat;
    background-size: 229px 54px;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url('../img/login/PeachyLogoHero@2x.png');
    }
}

.login-caption {
    text-align: center;
    margin-top: 5px;

    .avenir-medium(14px);
}


#loading-container {
    .box {
        width: 440px;
        padding: 30px 30px 60px 30px;
        background-image: url('../img/loading-watermark2.png');
        background-repeat: no-repeat;
        background-position: 93% 95%;
        background-size: 234px 173px;

        // TODO: Edit transparency of loading watermark and enable retina.

//        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
//            background-image: url('../img/login/PeachWatermark@2x.png');
//        }
    }

    .copyright {
        display: none;

        @media only screen and (orientation: landscape) {
            display: block;
            position: relative;
            top: 60px;
        }
    }
}

#login-loading-message {
    margin: 35px 0 30px 0;
    color: #ffcc66;

    .avenir-medium(18px);
}

#loading-snippet p {
    line-height: 1.5;
    margin-top: 2em;

    .avenir-bold(18px);

    &:nth-of-type(2n) {
        .avenir(18px);
    }
}


.copyright {
    .avenir-medium(12px);
    text-shadow: 0 -2px 1px #000;
    text-align: center;
}

#login > .copyright {
    position: absolute;
    bottom: 15px;
    width: 100%;

    @media only screen and (orientation: landscape) {
        display: none;
    }
}

#login {
    button {
        border-radius: 5px;
        border: 1px solid;
        color: #fff;
        padding: 0 10px;

        &.login {
            border-color: rgb(211, 136, 0);
            background-color: orange;
            height: 30px;
            margin-top: 30px;
            float: right;
            line-height: 28px;
            -webkit-transition: all .1s linear;

            .background-gradient(#f26622, #feb000);
            .avenir-bold(14px);

            &:before {
                content: url('../img/login/SignInPower.png');
                margin-right: 5px;
                vertical-align: sub;
            }

            &[disabled],
            &:disabled {
                border-color: #fff;
                background-image: none;
                background-color: transparent;
                opacity: .2;
            }
        }
    }

    #login-help-button {
        border: none;
        width: 100%;
        padding: 0;
        background-color: transparent;
        text-shadow: 0 -2px 1px black;
        color: #fff;

        .avenir-demi(14px);

        span {
            display: block;
            background-color: @helpBox;
            padding: 15px 30px;
            border-radius: 8px;
        }

        @media only screen and (orientation: landscape) {
            position: absolute;
            width: 50%;
            bottom: 30px;
            left: 0;

            span {
                margin: 0 15px 0 30px;
            }
        }
    }
}

