/*
 * This file covers the main viewport of the app; this is the 'base' layer of
 * the main hub of the app, which in turn contains various sections such as
 * alerts, news etc. All persistent elements should be styled here (navigation,
 * top-bar etc).
 */
#main {
    height: 100%;
    padding-right: 15px;
    padding-top: 50px;
}


#content-tab-list, #content-tab-list4 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url('../img/bg.png') left top repeat;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 15px;
}

#content-tab-list li {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    padding: 10px 5px;
    color: #2f3137;
    text-shadow: 0 1px 1px #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;

    .background-gradient(#878888, #fff);
    .avenir-bold(14px);

    &.selected {
        background-color: #fff;
        background-image: none;
    }
}

#content-tab-list4 li {
    display: inline-block;
    width: 22%;
    margin: 0 1%;
    padding: 10px 5px;
    color: #2f3137;
    text-shadow: 0 1px 1px #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;

    .background-gradient(#ccc, #fff);
    .avenir-bold(14px);

    &.selected {
        background-color: #fff;
        background-image: none;
    }
}


.badge {
    .avenir-demi(13px);
    background-color: orange;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 0 6px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.33);
}

#home-content {
    min-height: 150px;

}

#wrapper {
    max-height: 540px;
    margin-top: 10px;

    @media only screen and (orientation: landscape) {
        max-height: 640px;
        min-height: 620px;
    }
}

.overlaid {
    #top-bar {
        border-bottom-color: transparent;
        background-color: transparent;
        box-shadow: none;
    }

    #main-container {
        opacity: 0;
    }
}


.iscroll-container {
    height: 100%;
    overflow: visible;
    position: relative;
}

.iscroll-inner {
    // padding-top: 15px;
    padding-bottom: 30px;
    min-height: 300px;
}

.page {
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 7px 0 -4px #ccc, 0 12px 0 -7px rgb(139, 139, 139);
    position: relative;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: 15px;
}

#mainDiv {
    color: #000;

    & > div {

    }
}

#main-content {
    min-height: 400px;

    @media @landscape {
    width: 98%;
    float: left;

& > div,
& > ul {
    margin-right: 270px;
}
}
    }

#child-content {
    padding: 15px;
}
