/*
 * This file covers the main viewport of the app; this is the 'base' layer of
 * the main hub of the app, which in turn contains various sections such as
 * alerts, news etc. All persistent elements should be styled here (navigation,
 * top-bar etc).
 */
#main {
    height: 100%;
}

#main-container {
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 100px;
    right: 15px;
    opacity: 1;
    -webkit-transition: all .2s linear;
    -webkit-transform: translate3d(0, 0, 0);
}


#main-content {
    height: 100%;
    border-radius: 10px;


    & > div {
        color: #000;
        padding-top: 10px;
        padding-bottom: 25px;
        position: relative;
        min-height: 100%;

        & > div {
            background-color: #fff;
            box-shadow: 0 7px 0 -4px #ccc, 0 12px 0 -7px rgb(139, 139, 139);
            min-height: 300px;
            padding: 10px;

            .border-radius(9px);
        }
    }
}


#content-tab-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url('../img/bg.png') left top repeat;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 15px;
}

#content-tab-list li {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    padding: 10px 5px;
    color: #2f3137;
    text-shadow: 0 1px 1px #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;

    .background-gradient(#ccc, #fff);
    .avenir-bold(14px);

    &.selected {
        background-color: #fff;
        background-image: none;
    }
}

.badge {
    .avenir-demi(13px);
    background-color: orange;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 0 6px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.33);
}

#home-content {
    min-height: 100px;
}

#adverts {
    background-color: #e6e6e6;
    .border-radius(6px);
    overflow: hidden;
    padding: 20px;

    img {
        float: right;
        margin-left: 20px;
    }

    h3 {
        .avenir-demi(15px);
        color: #2b6891;
        text-shadow: 0 1px 1px #fff;
        line-height: 1.5;

        em {
            color: #808080;
            font-style: normal;
        }
    }

    span, p {
        .avenir(12px);
        text-shadow: 0 1px 1px #fff;
        color: #343434;
        line-height: 2;
    }

    span {
        color: #2b6891;
        display: block;
        margin: 10px 0;
    }
}


.overlaid {
    #top-bar {
        border-bottom-color: transparent;
        background-color: transparent;
        box-shadow: none;
    }

    #main-container {
        opacity: 0;
    }
}