#medicine {
	#medicine-content {
	padding-bottom: 0px;
	}
}

#medicineBar {
	display: inline-block;
	width: 100%;
	padding: 10px;

	#searchImg{
		position: absolute;
		left: 20px;
		top: 15px;
	}

	#medSearch{
		padding-left: 4%;
		border-radius: 15px;
		width: 35%;
	}

	#medicineOptions {
		float: right;

		#viewOpt{
			padding-right: 5px;
		}
	}
}

