
#pencil-desk{
    width: 100%
}

#backDiv{
    /*background-image:  webkit-gradient(linear, left bottom, left top, color-stop(0, #878888), color-stop(0.85, #ffffff));*/
    position: absolute;
    
border: 2px solid;
height: 96%;
margin: 2% 1% 2% 1%;
border-radius: 5px;
border-color: rgb(206, 206, 206);
background: #ffffff;
}

#research-desk{
    height: 100%;
    width: 100%;
}

#reserchInnerDiv{
    background-image:-webkit-linear-gradient(bottom, rgb(218, 218, 218) 85%, #878888 100%);

/*    position:absolute;*/
    height: 850px;
/*    padding-left: 10px;
    padding-right: 10px;*/
    width: 100%;
    position: absolute;
top: 30px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
/*    left: 1%;*/
/*    top: 3%;*/
}

#researchWrapper{
/*     background-image:-webkit-linear-gradient(bottom, rgb(218, 218, 218) 85%, #878888 100%);*/
    min-height: 900px;
}

@media only screen and (orientation: landscape) {
    
    #reserchInnerDiv{
    background-image:-webkit-linear-gradient(bottom, rgb(218, 218, 218) 85%, #878888 100%);

/*    position:absolute;*/
/*    height: 700px;*/
/*    padding-left: 10px;
    padding-right: 10px;*/
    width: 100%;
    position: absolute;
top: 32px;
/*    left: 1%;*/
/*    top: 3%;*/
}

#researchMenu{
  height: 87%;
border: 2px solid;
border-radius: 5px;
border-color: gray;
margin: 20px;
overflow: hidden;
}

#menu1, #menu2, #menu3, #menu4, #menu5, #menu6, #menu7, #menu8 {
height: 77px;
position: relative;
overflow: hidden;
font: bold 25px "Avenir Next Demi", Helvetica, Arial, sans-serif;
padding-left: 20px;
}
    
}

#welcomeDiv{
text-align: center;
padding: 10px;
background-color: gray;
font: bold 25px "Avenir Next Demi", Helvetica, Arial, sans-serif;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
color: white;
}

#researchDesc{
    margin-top: 20px;
padding: 0 60px 0 59px;
font: bold 12px "Avenir Next Demi", Helvetica, Arial, sans-serif;
}

#researchMenu{
    height: 76%;
border: 2px solid;
border-radius: 5px;
border-color: gray;
margin: 20px;
overflow: hidden;
}
#menu1,#menu2,#menu3,#menu4,#menu5,#menu6,#menu7,#menu8{
height: 77px;
position: relative;
overflow: hidden;
font: bold 25px "Avenir Next Demi", Helvetica, Arial, sans-serif;
padding-left: 20px;

}

#menu2{
    background-color: #deeeff;
}
#menu1{
    border-top-left-radius: 5px;
border-top-right-radius: 5px;
    background-color: #eafef8;
}
#menu3{
    background-color: #dcdded;
}
#menu4{
    background-color: #eedbdc;
}
#menu5{
    background-color: #fee4ff;
}
#menu6{
    background-color: #fff6e0;
}
#menu7{
    background-color: #d9fee4;
}
#menu8{
    background-color: #ddb9c8;
}




.menuName1{
 height: 0px;
font-size: 19pt;
font-family: "Avenir Next Medium";
padding-left: 15px;
padding-bottom: 0px;
top: -21px;
position: absolute;
text-shadow: -1pt -1pt white;
}

.menuName2{
height: 0px;
font-size: 26pt;
font-family: "Avenir Next Bold";
padding-left: 35px;
margin-bottom: 0px;
position: absolute;
top: -5px;
text-shadow: -1pt -1pt white;
}