#pencil-desk {
    width: 100%;
}
#backDiv {
    /*background-image:  webkit-gradient(linear, left bottom, left top, color-stop(0, #878888), color-stop(0.85, #ffffff));*/
    width: 98%;
    position: absolute;
    border: 2px solid;
    height: 96%;
    margin: 2% 1% 2% 1%;
    border-radius: 5px;
    border-color: #cecece;
    background: #ffffff;
}
#research-desk {
    height: 100%;
    width: 100%;
}
#reserchInnerDiv {
    background-image: -webkit-linear-gradient(bottom, #dadada 85%, #878888 100%);
    /*    position:absolute;*/

    height: 850px;
    /*    padding-left: 10px;
      padding-right: 10px;*/

    width: 100%;
    position: absolute;
    top: 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    /*    left: 1%;*/

    /*    top: 3%;*/

}
#researchWrapper {
    /*     background-image:-webkit-linear-gradient(bottom, rgb(218, 218, 218) 85%, #878888 100%);*/

    min-height: 900px;
}
@media only screen and (orientation: landscape) {
    #reserchInnerDiv {
        background-image: -webkit-linear-gradient(bottom, #dadada 85%, #878888 100%);
        width: 100%;
        position: absolute;
        top: 32px;
    }

    #researchMenu {
        height: 87%;
        border: 2px solid;
        border-radius: 5px;
        border-color: gray;
        margin: 20px;
        overflow: hidden;
    }
    #menu1,
    #menu2,
    #menu3,
    #menu4,
    #menu5,
    #menu6,
    #menu7,
    #menu8 {
        height: 77px;
        position: relative;
        overflow: hidden;
/*        font: bold 25px "Avenir Next Demi", Helvetica, Arial, sans-serif;
        padding-left: 20px;*/
    }
}
#welcomeDiv {
    text-align: center;
    padding: 10px;
    background-color: gray;
    font: bold 25px "Avenir Next Demi", Helvetica, Arial, sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}
#researchDesc {
   margin-top: 45px;
padding: 0 15px 0 15px;
font: 11px "Avenir Next Demi", Helvetica, Arial, sans-serif;
position: absolute;
right: 15px;
width: 240px;
text-align: center;
}
#researchMenu {
    height: 66%;
    width: 255px;
    border: 2px solid;
    border-radius: 10px;
    border-color: gray;
    margin: 20px;
    overflow: hidden;
}
#menu1,
#menu2,
#menu3,
#menu4,
#menu5,
#menu6,
#menu7,
#menu8 {
    height: 67px;
    position: relative;
    overflow: hidden;
/*    font: bold 25px "Avenir Next Demi", Helvetica, Arial, sans-serif;
    padding-left: 20px;*/
}
#menu2 {
    background-color: #deeeff;
}
#menu1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #eafef8;
}
#menu3 {
    background-color: #dcdded;
}
#menu4 {
    background-color: #eedbdc;
}
#menu5 {
    background-color: #fee4ff;
}
#menu6 {
    background-color: #fff6e0;
}
#menu7 {
    background-color: #d9fee4;
}
#menu8 {
    background-color: #ddb9c8;
}
.menuName1 {
    height: 0px;
    font-size: 15pt;
    font-family: "Avenir Next Medium";
    padding-left: 15px;
    padding-bottom: 0px;
    top: -13px;
    position: absolute;
    text-shadow: -1pt -1pt #ffffff;
}
.menuName2 {
    height: 0px;
    font-size: 22pt;
    font-family: "Avenir Next Bold";
    padding-left: 35px;
    margin-bottom: 0px;
    position: absolute;
    top: -5px;
    text-shadow: -1pt -1pt #ffffff;
}

#researchPeachyLogo{
height: 155px;
position: absolute;
top: 154px;
right: 21px;
}

#researchCat{
   position: absolute;
right: 30px;
top: 325px;
width: 168px;
text-align: center;
color: gray;
font-weight: bold;
font-size: 14px; 
}


#omnibtn{
    background: url(../img/research/bu-welless-omnipedia.png);
width: 285px;
height: 80px;
position: relative;
margin-top: 20px;
margin-left: 10px;

}

#outerBox{
position: absolute;
width: 45%;
height: 10%;
border: 2px solid;
position: absolute;
top: 8px;
right: 0;
margin: 10px;
background-color: white;
font: bold 13px "Avenir Next", Helvetica, Arial, sans-serif;
}

#innerBox{
    margin: 1px;
border: 2px solid;
height: 98%;
padding: 5px;
}

.btnTitle1{
font-size: 19pt;
font-family: "Avenir Next Medium";
padding-left: 15px;
padding-bottom: 0px;
text-shadow: -1pt 1pt white;
padding-top: 12px;
position: absolute;
}

.btnTitle2{
height: 0px;
font-size: 26pt;
font-family: "Avenir Next Bold";
padding-left: 35px;
margin-bottom: 0px;
top: 33px;
text-shadow: -1pt 1pt white;
padding-bottom: 0px;
position: absolute;
}

#omniData p,
#omniData ul{
    width: 100%;
}

#omniData{
    padding: 5% 23px 0px 5%;
}

#omniList{
background-color: white;
width: 96%;
height: 100%;
margin: 12px;
border-radius: 5px;
font: 12px "Avenir Next Demi", Helvetica, Arial, sans-serif;
position: relative;
padding-top: 20px;
}

#search_omniPedia{
right: 0;
position: absolute;
border: 2px solid;
border-radius: 20px;
margin-top: 0px;
width: 220px;
margin-right: 5px;
border-color: gray;
height: 28px;
}

#onmi_search{
    border: none;
}

#omniListArea
{
    margin-top: 45px;
}
#magnify{
    padding-top: 5px;
    padding-left: 5px;
}
#clrBtn{
height: 20px;
margin-top: 0px;
top: 3px;
position: absolute;
right: 2px;
}

#omniListHead{
/*    margin-top: 76px;*/
background: url(../img/research/gradient-bar-search-area.png);
width: 100%;
padding-left: 30px;
color: white;
background-repeat: no-repeat;
background-size: 100%;
height: 25px;
padding-top: 3px;
}

#search_omniPediaDetails{
    right: 0;
position: absolute;
border: 1px solid;
border-radius: 20px;
margin-top: 50px;
width: 211px;
margin-right: 15px;
height: 30px;
top: 0;
background-color: white;
}
#omniDetailsHead{
    background-color: gray;
    height: 75px;
    text-align: center;
padding-top: 25px;
font: bold 18pt white "Avenir Next Demi", Helvetica, Arial, sans-serif;
color: white;
text-shadow: -1pt 1pt #756d6f;
}

#omniListArea  #omniDetails .boxEntry{
   padding: 20px 25px 30px 40px;
   font-weight: bold;
}
#omniListArea  #omniDetails .boxEntry:after {
    content: url('../img/icons/smallArrow.png');
    float: right;
    clear: right;
}


#omniresult{
    position: absolute;
left: 20px;
top: 28px;
font: bold 13px "Avenir Next", Helvetica, Arial, sans-serif;
}
