@color-bg: #333333; // library background
@color-nav: rgba(0,0,0,0.75); // nav background
@color-selected: rgba(255,255,255, 0.4); // color for selected indicator & prev / next btn
@color-li: rgba(255, 255, 255, 0.1); // unselected li color
@color-trans: transparent; // prev / next btn bg 
@color-border: #cdcdcd; // frame border


#VideoPlayback {
	height: 100%;

	#top {
		#leftLogo {
			display: inline-block;
			margin: 10px;
		}

		#buttonContainer {
			display: inline-block;
			float: right;

			.btn {
				margin: 10px;	
			}
			
		}	
	}

	#pageDiv {
		// overflow-x: scroll;
		width: auto;
		position: relative;
		white-space: nowrap;
		width: auto;
		float: left;
	}

	#wrapper {
		width:100%;
    	min-width:768px;
    	height: 400px;

    	div .swipeview-loading {
		    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#555)),
		   				     -webkit-gradient(linear, 0 0, 100% 0, from(#777), to(#777));
		    background-position:50% 50%, 50% 50%;
		    background-size:200px 140px, 210px 150px;
		    background-repeat:no-repeat;

	    	img, iframe {
	    		-webkit-transition-duration:0s;
				opacity:1;
				height: 300px;
	    	}
		}

		#favVid {
			margin: 0 auto;
		}

    	#swipeview-slider {

    		div, img, iframe {
			    position:relative;
			    display:-webkit-box;
			    display:-moz-box;
			    display:-ms-box;
			    display:-o-box;
			    display:box;
			    .box-orient(vertical);
				.box-align(center);	
			    overflow:hidden;
			}

			img.loading {
			    -webkit-transition-duration:0s;
			    opacity:1;
			    height: 300px;
			}
    	}

		#swipeview-slider img, iframe {
			opacity:1;
		    height: 300px;
		    display:block;
			border:10px solid @color-border;
			.border-radius (10px);
		    .box-shadow(0, 2px, 6px, 0, #000); 
		    .transition-duration(.4s);
		    .transition-prop (opacity);
		}
	}

	#nav {
		// color: @color-selected;
	    position:absolute;
	    z-index:100;
	    top:40%;
	    width:auto;
	    height:30px;
	    left:32%;
	    background:@color-nav;
	    padding:5px;
	    margin:0 auto;
	    .border-radius (30px);

	    // @media only screen and (orientation: landscape) {
	    // 	#nav {
	    // 		top: 42%;	
	    // 		left: 38%;
	    // 	}
	    // }	

    	li {
    		display:block;
		    float:left;
		    width:20px;
		    height:20px; line-height:20px;
		  	.border-radius (14px);
		    background:@color-li;
		    overflow:hidden;
		    padding:0;
		    margin:1px 10px 0 10px;
		    text-align:center;

	    	&#prev {
	   			margin-left:8px;
	    		background:@color-trans;
	    		color: @color-selected;
			}

			&#next {
				margin-right:8px;
				background:@color-trans;
				color: @color-selected;
			}

			&.activeDot {
				background: white;
			}
		}
	}

	#scroller{
		padding-bottom: 450px;
	}

	.hIscroll-container {
		width: 100%;
		position: relative;
	}

	#videoDescription {
		height: 550px;
		padding: 20px;
		padding-left: 30px;
		padding-right: 30px;
		// margin-top: 60px;
		background-color: #fff;
		color: #000;

		h2 {
			.avenir-bold(16px);
			display: inline;
		}

		p {
			.avenir(12px);
			display: inline;
		}

		#title {
			margin: 30px;

			img, h2 {
				vertical-align: middle;
			}
		}

		#videoActions {
			margin: 10px;
			height: 50px;

			#time {
				float: left;

				img, p {
					vertical-align: middle;
				}
			}

			#actions {
				float: right;

				img {
				margin-left: 30px;										
				}
			}
		}

		#favBtn {
			height: 100%;
			text-align: center;
			margin-top: 100px;
		}
		

	}
	
}