section#widgetScreen {
	z-index: 10;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100%;
	color: #ffffff;
    background: url('../img/backgrounds/BackgroundTileGray.png') left top repeat;

    #topBar{
    	width: 100%;
    	height: 50px;
    	.background-gradient-fixed(#ababab, #ebebeb);
    	color: #000000;
    	vertical-align: middle;
        .avenir(14px);
        #buttons {
            padding: 5px;
            margin-left: 10px;
            float: left;
        }

        .itemBox {
            padding: 5px;
            background: none;
            border-radius: 5px;
            margin-right: 10px;

            img {
                height: 25px;
                vertical-align: middle;
                padding-right: 10px;
            }

            &.selected {
                background: #ffffff;
                box-shadow: 2px 2px 5px #9f9f9f;
            }
        }

    	li, img{
    		display: inline-block;
    	}

    	.btn {
    		margin: 10px;
    		float: right;

            img {height:20px;}
    	}
    }

    #panelTopBar {
        background: #0f0f0f;
        text-align: center;
        padding: 10px;
        border-top: 1px solid #000000;
        box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.15);

        #settingsBtn{
            float: right;
            margin: 0px;
            margin-top: -4px;
        }

    }

    #body {
        margin: 20px;
        border-radius: 8px;
        padding: 10px;
        height: 100%;
        background-color: #000000;

        #binderBg {
            width: 50px;
            height: 100%;
            float: left;
            margin-left: -10px;
            position: absolute;
            background: url('../img/pencil.png') left top repeat-y;
            z-index: 10;
            background-size: 37px;
            background-position: -9px 40px;
        }
        
        #content {
            background-color: #cdcdcd;
            box-shadow: 7px 0px 0 -4px #ccc, 12px 0px 0 -7px rgb(139, 139, 139);

            #leftContent {
                width: 300px;
                height: 99%;
                background-color: #ffffff;
                box-shadow: 3px 7px 5px #ababab;
                padding: 8px;

                #leftContentMask {
                    height: 99%;
                    background-color: #ebebeb;
                    box-shadow: 1px 1px 1px #cdcdcd, -1px 0px 1px #cdcdcd;
                    color: #000000;
                    padding: 5px;
                }
            }
        }
    }

    #smallCalendar {
        height: 300px;
    }

    #calories {
        padding-top: 200px;
        padding: 10px;
        width: 270px;
        border-radius: 8px;
        background-color: #fff1a0;
        font-size: 16px;

        span {
            width: 120px;
            display: inline-block;
            padding: 5px 0px;

            &#remaining {
                .avenir-bold(16px);
            }
            &#remainingNum {
                .avenir-bold(16px);
            }
            &#goalNum {
                .avenir-medium(16px);
            }
            &#currentNum {
                .avenir-medium(16px);
            }
        }
    }
}