section#widgetScreen {
	z-index: 10;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100%;
	color: #ffffff;
    background: url('../img/backgrounds/BackgroundTileGray.png') left top repeat;
    overflow: scroll !important;

    #topBar{
    	width: 100%;
    	height: 50px;
    	.background-gradient-fixed(#ababab, #ebebeb);
        background: -moz-linear-gradient(bottom, rgb(171,171,171) 0%, rgb(235,235,235) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ababab',GradientType=0 );

    	color: #000000;
    	vertical-align: middle;
        .avenir-medium(14px);
        #buttons {
            padding: 5px;
            margin-left: 10px;
            float: left;
        }

        .itemBox {
            padding: 5px;
            background: none;
            border-radius: 5px;
            margin-right: 10px;

            img {
                height: 25px;
                vertical-align: middle;
                padding-right: 10px;
            }

            &.selected {
                background: #ffffff;
                box-shadow: 2px 2px 5px #9f9f9f;
            }
        }

    	li, img{
    		display: inline-block;
    	}

    	.btn {
    		margin: 10px;
    		float: right;

            img {height:20px;}
    	}
    }

    #panelTopBar {
        background: url('../img/overview-bg.png');
        background-size: 105% 100%;
        text-align: center;
        padding: 15px 10px 10px 10px;
        border-top: 1px solid #000000;
        font-size: 20px;
        margin-bottom: -15px;
        margin-left: -10px;
        margin-top: -7px;
        padding-bottom: 15px;


        #settingsBtn {
            float: right;
            margin-top: 0px;
            margin-right: -3px;
        }

        #cancelBtn {
            background:url('../img/food/bu-cancel.png') no-repeat;
            float: left;
            margin-top: -2px;
            box-shadow: none;
            border: none;
            padding: 5px 10px 15px 15px;
        }

        #saveBtn {
            background:url('../img/food/bu-save.png') no-repeat;
            float: right;
            margin-top: -2px;
            box-shadow: none;
            border: none;
            padding: 5px 10px 15px 15px;
        }

    }

    #scrollWrapper {
        height: 100%;
        overflow: scroll;
    }
}