<!-- Multiple background images within CSS would be ideal here, however IE wouldn't support this
     so we instead use an img element. -->
<div class="corner-logo"></div>

<div id="login-box">
    <div id="login-box-center">
        <div id="login-logo"></div>
        <h2 id="login-caption">Personal Wellness Management, Only Sweeter.</h2>

        <form id="login-form">
            <h2>Sign in to your Peachy Account</h2>
            <input id="username" type="text" placeholder="Name">
            <input id="password" type="password" placeholder="Password">
            <button type="button" id="signin"><img src="img/sign-in.png" alt="">Sign In</button>
        </form>

        <button id="login-help-button" type="button">Need Help? Tap Here.</button>
    </div>
</div>
<aside class="copyright-bottom">&copy; 2012 SecureHealthHub</aside>
